*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --color: #393f46;
    --box-bg: #e9ecef;
    --box-hover-color: #0a58ca;
    --box-hover-bg: #dee2e6;
    --box-active-bg: #d7ecfa;
    --box-active-outline-bg: #37a0e6;
    --selected-icon-bg: green;
    --secondary-bg: #1d9f0a;
    --secondary-color: #fff;
    scroll-behavior: smooth;
}

html {
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
    margin: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.4;
    color: var(--color);
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: inherit;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#iconContainer {
    display: grid;
    padding: 1rem;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, 160px);
    grid-auto-rows: max-content;
    gap: 1.5rem 1rem;
}

#controls {
    position: sticky;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0.75rem 1rem;
    gap: 1rem;
    top: 0;
    left: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.05);
    z-index: 1;
}

#controls .hidden {
    display: none;
}

#controls label {
	user-select: none;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}
.section svg {
    width: 1rem;
    height: 1rem;
    fill: currentColor;
}

.file > label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
}
.file > .btn {
    background-color: transparent;
    color: var(--color);
    border: dotted currentColor;
}

.section.buttons button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
}

.filter {
    margin-left: auto;
    flex-flow: row;
}
#filter_text {
    min-width: 10rem;
    flex-grow: 1;
}

.icon {
	position: relative;
	align-items: center;
	text-align: center;
	user-select: none;
}
.icon.hide {
	display: none;
}
.icon.badge::after {
	content: '';
	position: absolute;
	display: inline-block;
	top: -7px;
	right: -8px;
	color: #fff;
	padding: 2px 7px;
	border-radius: 50em;
	font-size: 10px;
    font-weight: 600;
}
.icon.new::after {
    content: 'NEW';
    background-color: var(--selected-icon-bg);
}
.icon span {
	font-size: 0.875em;
}

.symbol {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.5rem 1rem;
	margin-bottom: 0.5rem;
	border-radius: 0.5rem;
	background-color: var(--box-bg);
}
.symbol:hover {
    background-color: var(--box-hover-bg);
    color: var(--box-hover-color);
    cursor: pointer;
}
.symbol svg {
	width: 32px;
	height: auto;
}
.icon.selected .symbol {
    outline: 2px solid var(--box-active-outline-bg);
    background-color: var(--box-active-bg);
}

#dialogBox.hidden {
  display: none !important;
}
.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.dialog-box {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    max-width: 95vw;
    max-height: 95vh;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0, .3);
}
.dialog-box span {
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
}
.dialog-box .export-result {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.dialog-box .export-result textarea{
    width: 60vw;
    height: 40vh;
}

.dialog-actions {
    text-align: right;
}
.dialog-actions button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.dialog-actions button:hover {
    background-color: #0056b3;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #0d6efd;
    color: white;
    text-decoration: none;
    font-size: inherit;
    font-weight: 400;
    border-radius: 6px;
    transition: background-color 0.12s ease, box-shadow 0.12s ease;
    border: none;
    cursor: pointer;
}
.btn:hover {
    /*background-color: #0b5ed7;*/
}
.btn:active {
    background-color: #0a58ca;
    box-shadow: inset 0 3px 5px rgba(0,0,0, 0.2);
}
.btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    pointer-events: none;
    box-shadow: none;
}
.btn.secondary {
    background-color: var(--secondary-bg);
    color: var(--secondary-color);
}

@media (max-width: 1120px) {
    #controls{
        flex-wrap: wrap;
    }

    .section.buttons {
        margin-inline-start: auto;
    }

    .section.filter {
        margin: 0;
        width: 100%;
    }
}

@media (max-width: 768px) {
    #controls{
        flex-direction: column;
        align-items: flex-start;
    }

    .section {
        width: 100%;
    }

    .file {
        flex-grow: 1;
    }

    .btn {
        justify-content: center;
        width: 100%;
    }
}