@using Smartstore.Admin.Models.Common

@model PriceLabelModel

@{
    ViewBag.Title = T("Admin.Configuration.PriceLabels.EditPriceLabelDetails").Value;
    Layout = "_AdminPopupLayout";
}

<form asp-action="EditPriceLabelPopup" asp-route-btnId="@ViewBag.BtnId" asp-route-formId="@ViewBag.FormId">
    <div class="section-header">
        <div class="title">
            @ViewBag.Title
        </div>
        <div class="options">
            <button type="submit" name="save" id="save" value="save" class="btn btn-warning">
                <i class="fa fa-check"></i>
                <span>@T("Admin.Common.Save")</span>
            </button>
        </div>
    </div>

    <partial name="_CreateOrUpdate" model="Model" />
</form>