@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>
<html sm-language-attributes-for="WorkContext.WorkingLanguage">
<head>
    <meta charset="utf-8">
    <title>@Assets.GetDocumentTitle(false)</title>
    <link rel="stylesheet" type="text/css" href="~/css/print.css" />
    <link sm-if="WorkContext.WorkingLanguage.Rtl" rel="stylesheet" type="text/css" href="~/css/print-rtl.css" />

    <zone name="stylesheets"></zone>
    <zone name="head"></zone>
</head>
<body>
    @RenderBody()
</body>
</html>