@model AddOrderProductModel

@{
    var primaryCurrencyCode = CommonServices.CurrencyService.PrimaryCurrency.CurrencyCode;
    var inclTax = T("Admin.Orders.Fields.Edit.InclTax", primaryCurrencyCode);
    var exclTax = T("Admin.Orders.Fields.Edit.ExclTax", primaryCurrencyCode);

    // TODO: (mg) Very awkward to enter gross, net, and tax amounts without automatic calculation. TBD with MC.
}

<div class="adminContent">
    <div class="adminRow">
        <div class="adminTitle">
            <smart-label asp-for="Quantity" />
        </div>
        <div class="adminData">
            <editor asp-for="Quantity" />
        </div>
    </div>
    <div class="adminRow">
        <div class="adminTitle">
            <smart-label asp-for="TaxRate" />
        </div>
        <div class="adminData">
            <editor asp-for="TaxRate" sm-postfix="%" />
        </div>
    </div>
    <div class="adminRow">
        <div class="adminTitle">
            <smart-label asp-for="UnitPriceInclTax" />
        </div>
        <div class="adminData">
            <div class="form-row flex-nowrap">
                <div class="col">
                    <editor asp-for="UnitPriceInclTax" sm-postfix="@inclTax" />
                </div>
                <div class="col">
                    <editor asp-for="UnitPriceExclTax" sm-postfix="@exclTax" />
                </div>
            </div>
        </div>
    </div>
    <div class="adminRow">
        <div class="adminTitle">
            <smart-label asp-for="PriceInclTax" />
        </div>
        <div class="adminData">
            <div class="form-row flex-nowrap">
                <div class="col">
                    <editor asp-for="PriceInclTax" sm-postfix="@inclTax" />
                </div>
                <div class="col">
                    <editor asp-for="PriceExclTax" sm-postfix="@exclTax" />
                </div>
            </div>
        </div>
    </div>
</div>
