@model AddOrderProductModel

@{
    var primaryCurrencyCode = (string)ViewBag.PrimaryStoreCurrencyCode;
}

<div class="adminContent">
    <div class="adminRow">
        <div class="adminTitle">
            <smart-label asp-for="UnitPriceInclTax" />
        </div>
        <div class="adminData">
            <editor asp-for="UnitPriceInclTax" sm-postfix="@primaryCurrencyCode" />
        </div>
    </div>
    <div class="adminRow">
        <div class="adminTitle">
            <smart-label asp-for="UnitPriceExclTax" />
        </div>
        <div class="adminData">
            <editor asp-for="UnitPriceExclTax" sm-postfix="@primaryCurrencyCode" />
        </div>
    </div>
    <div class="adminRow">
        <div class="adminTitle">
            <smart-label asp-for="TaxRate" />
        </div>
        <div class="adminData">
            <editor asp-for="TaxRate" />
        </div>
    </div>
    <div class="adminRow">
        <div class="adminTitle">
            <smart-label asp-for="Quantity" />
        </div>
        <div class="adminData">
            <editor asp-for="Quantity" />
        </div>
    </div>
    <div class="adminRow">
        <div class="adminTitle">
            <smart-label asp-for="PriceInclTax" />
        </div>
        <div class="adminData">
            <editor asp-for="PriceInclTax" sm-postfix="@primaryCurrencyCode" />
        </div>
    </div>
    <div class="adminRow">
        <div class="adminTitle">
            <smart-label asp-for="PriceExclTax" />
        </div>
        <div class="adminData">
            <editor asp-for="PriceExclTax" sm-postfix="@primaryCurrencyCode" />
        </div>
    </div>
</div>
