@model IDictionary<string, string>

@{
    ViewData["Title"] = "Environment variables";
}

<h1 class="display-4">Environment variables</h1>

<table class="table table-responsive">
    <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody class="small">
        @foreach (var kvp in Model)
        {
        <tr>
            <td class="fwm">@kvp.Key</td>
            <td>@kvp.Value</td>
        </tr>
        }
    </tbody>
</table>
