@model List<MediaFileInfo>
@*@inject IMediaService mediaService*@

@{
    ViewData["Title"] = "Files";
}

<h1>@ViewData["Title"]</h1>

<div id="files" class="artlist artlist-grid artlist-5-cols artlist-boxed">
    @foreach (var file in Model)
    {
        //var thumbUrl = mediaService.GetUrl(file, 256);
        //var imgUrl = mediaService.GetUrl(file, 0);

        <article class="art">
            <div class="art-picture-block">
                <a class="art-picture img-center-container" href="@(file.GetUrl(0, string.Empty))" target="_blank">
                    <img file="file" img-size="256" />
                </a>
            </div>
        </article>
    }
</div>

<widget zone="end">
    <script>
        $(function () {
            SmartStore.media.lazyLoadThumbnails($('#files'));
        });
    </script>
</widget>
