@{
    Assets.BodyAttributes.AppendCssClass("home");
    Assets.AppendTitleParts((string)ViewBag.MetaTitle);
    Assets.AppendMetaDescriptionParts((string)ViewBag.MetaDescription);
    Assets.AppendMetaKeywordsParts((string)ViewBag.MetaKeywords);
}

<div class="page home-page">
    <div class="page-body">
        <zone name="home_page_top" /> 

        @await Component.InvokeAsync("TopicBlock", new { systemName = "HomePageText", isLead = true })
        <zone name="home_page_after_intro" />

        @await Component.InvokeAsync("HomeCategories")
        <zone name="home_page_after_categories" />

        @await Component.InvokeAsync("HomeProducts")
        <zone name="home_page_after_products" />

        @await Component.InvokeAsync("HomeBestsellers")
        <zone name="home_page_after_bestsellers" />

        @await Component.InvokeAsync("HomeBrands")
        <zone name="home_page_after_manufacturers" />

        @await Component.InvokeAsync("PopularProductTags")
        <zone name="home_page_after_tags" />

        @* TODO: (mc) find more intelligent way of rendering RecentlyViewedProducts globally *@
        @await Component.InvokeAsync("RecentlyViewedProducts")

        <zone name="home_page_bottom" />
    </div>
</div>

