@model TestModelMH

@{
    ViewData["Title"] = "Message Model Provider Tests";
}

<h1>@ViewData["Title"]</h1>


<div class="form-group row">
    <label asp-for="CampaingCount" class="col-lg-3 col-form-label text-right"></label>
    <div class="col-lg-9">
        <input asp-for="CampaingCount" />
        <span asp-validation-for="CampaingCount"></span>
    </div>
</div>