@*This is a test view. Remove it later.*@
@using Smartstore.Core.Search.Facets

@{
    var facetGroup = new FacetGroup(
        "Catalog",
        "manufacturerid",
        "test",
        true,
        false,
        0,
        new List<Facet>());

    var templateProvider = Resolve<IFacetTemplateProvider>();
    var templateWidget = templateProvider.GetTemplateWidget(facetGroup);

    <div>
        @await templateWidget.InvokeAsync(ViewContext)
    </div>
}