@*This is a test view. Remove it later.*@
@using Smartstore.Core.Search 
@using Smartstore.Core.Search.Facets

@{
    var templateProvider = Resolve<IFacetTemplateProvider>();

    var brandsGroup = new FacetGroup("Catalog", "manufacturerid", "Brands", true, false, 1, new List<Facet>
    {
        new Facet(new FacetValue(1, IndexTypeCode.Int32) { IsSelected = false, Label = "Shimano", DisplayOrder = 1 }),
        new Facet(new FacetValue(2, IndexTypeCode.Int32) { IsSelected = false, Label = "Rotor", DisplayOrder = 2 }),
        new Facet(new FacetValue(3, IndexTypeCode.Int32) { IsSelected = true, Label = "SRAM", DisplayOrder = 3 }) { HitCount = 76 },
        new Facet(new FacetValue(4, IndexTypeCode.Int32) { IsSelected = false, Label = "Easton", DisplayOrder = 4 }),
    });

    var pricesGroup = new FacetGroup("Catalog", "price", "Prices", false, false, 2, new List<Facet>
    {
        new Facet(new FacetValue(null, 25, IndexTypeCode.Double, false, true) { IsSelected = false, Label = "bis 25 €", DisplayOrder = 1 }),
        new Facet(new FacetValue(null, 50, IndexTypeCode.Double, false, true) { IsSelected = false, Label = "bis 50 €", DisplayOrder = 2 }) { HitCount = 4 },
        new Facet(new FacetValue(null, 75, IndexTypeCode.Double, false, true) { IsSelected = true, Label = "bis 75 €", DisplayOrder = 3 }),
        new Facet(new FacetValue(null, 99, IndexTypeCode.Double, false, true) { IsSelected = false, Label = "bis 99 €", DisplayOrder = 4 }),
    });

    var ratingsGroup = new FacetGroup("Catalog", "rating", "Ratings", false, false, 3, new List<Facet>
    {
        new Facet(new FacetValue(1.0, IndexTypeCode.Double) { IsSelected = false, Label = "1", DisplayOrder = 1 }),
        new Facet(new FacetValue(2.0, IndexTypeCode.Double) { IsSelected = false, Label = "2", DisplayOrder = 2 }),
        new Facet(new FacetValue(3.0, IndexTypeCode.Double) { IsSelected = false, Label = "3", DisplayOrder = 3 }) { HitCount = 9 },
        new Facet(new FacetValue(4.0, IndexTypeCode.Double) { IsSelected = false, Label = "4", DisplayOrder = 4 }),
        new Facet(new FacetValue(5.0, IndexTypeCode.Double) { IsSelected = false, Label = "5", DisplayOrder = 5 }),
    });

    var categoriesGroup = new FacetGroup("Catalog", "categoryid", "Category", false, false, 4, new List<Facet>
    {
        new Facet(new FacetValue(1, IndexTypeCode.Int32) { IsSelected = false, Label = "Drivetrain", DisplayOrder = 1 }),
        new Facet(new FacetValue(2, IndexTypeCode.Int32) { IsSelected = false, Label = "Brakes", DisplayOrder = 2 }),
        new Facet(new FacetValue(3, IndexTypeCode.Int32) { IsSelected = true, Label = "Wheels", DisplayOrder = 3 }) { HitCount = 7 },
    });
}
<div>
    <div>
        @await templateProvider.GetTemplateWidget(brandsGroup).InvokeAsync(ViewContext)
    </div>
    <div class="mt-4">
        @await templateProvider.GetTemplateWidget(pricesGroup).InvokeAsync(ViewContext)
    </div>
    <div class="mt-4">
        @await templateProvider.GetTemplateWidget(ratingsGroup).InvokeAsync(ViewContext)
    </div>
    <div class="mt-4">
        @await templateProvider.GetTemplateWidget(categoriesGroup).InvokeAsync(ViewContext)
    </div>
</div>