@using Smartstore.Web.Models.Cart;
@using Smartstore.Web.Models.Checkout;

@model ShoppingCartModel

@{
    Layout = "_Checkout";
    Assets.BodyAttributes.AppendCssClass("order-summary-page no-offcanvas-cart");
    Assets.AppendTitleParts(T("PageTitle.ShoppingCart").Value);
    Assets.AddMetaRobots();
}

<widget target-zone="orderProgress">
    <partial name="CheckoutProgress" model="new CheckoutProgressModel { CheckoutProgressStep = CheckoutProgressStep.Cart }" />
</widget>

<div class="page shopping-cart-page">
    <div class="page-title">
        <h1 class="h3">@T("ShoppingCart")</h1>
    </div>
    <div class="page-body">
        @await Component.InvokeAsync("OrderSummary", new { model = Model })
    </div>
</div>