@model PublicForumGroupModel

@{
    Assets.AppendTitleParts(Model.Name);
}

<div class="page forum-group-page">
    <div class="mt-2 mb-4 w-75">
        @* TODO: (mg) (core) SearchBox *@
    </div>
    <div class="forum-group">
        @* TODO: (mg) (core) Why does ForumGroup render ForumGroup? Please rename files, or at least use underscore prefix for partials. *@
        <partial name="ForumGroup" model="Model" />
    </div>
</div>

