@using Smartstore.Web.Models.Checkout;

@model CheckoutAddressModel

@{
    Layout = "_Checkout";
    Assets.AppendTitleParts(T("PageTitle.Checkout.BillingAddress"));
    Assets.BodyAttributes.AppendCssClass("no-offcanvas-cart content-overflow-initial");
    Assets.AddMetaRobots();
}

<widget target-zone="order_progress">
    @await Component.InvokeAsync("CheckoutProgress", new { action = nameof(CheckoutController.BillingAddress) })
</widget>

<div class="page billing-address-page">
    <div class="page-title">
        <h1 class="h3">@T("Checkout.BillingAddress")</h1>
    </div>
    <div class="page-body checkout-data">        
        <div class="order-summary-content">
            <zone name="order_summary_content_before" />
                    
            <div class="row cart-container">
                <div class="col-lg-7 col-xl-8">
                    <partial name="BillingAddressForm" />
                </div>

                <div class="col-lg-5 col-xl-4">
                    <div class="cart-footer cart-footer-panel">
                        <div class="row">
                            <div class="col-12 cart-footer-group">
                                <zone name="order_summary_totals_before" />

                                <div id="order-totals">
                                    @await Component.InvokeAsync("OrderTotals")
                                </div>

                                <zone name="order_summary_totals_after" />
                            </div>

                            <zone name="order_summary_actions" remove-if-empty="true" replace-content="true">
                                <div class="col-12 mt-3 cart-footer-actions">
                                    <zone name="order_summary_buttons_before" />

                                    <div class="cart-buttons">
                                        <input type="submit" id="nextstep" name="nextstep" class="d-none" />
                                        <button type="button" class="btn btn-warning btn-lg btn-block new-address-next-step-button" onclick="return false;">
                                            <span>@T("Checkout.NextButton")</span>
                                            <i class="fa fa-angle-right"></i>
                                        </button>
                                    </div>

                                    <zone name="order_summary_buttons_after" />
                                </div>
                            </zone>
                        </div>
                    </div>
                </div>
            </div>

            <zone name="order_summary_content_after" />
        </div>
    </div>
</div>

<script sm-target-zone="scripts" data-origin="billing-address">
    $(function () {
        $('.select-billing-address-button').on('click', function (e) {
            e.preventDefault();
            var shippingAddressDiffers = $('#@Html.IdFor(x => x.ShippingAddressDiffers)').is(':checked');

            $(this).postData({
                data: { shippingAddressDiffers }
            });

            return false;
        });

        $('.new-address-next-step-button').on('click', function () {
            $('#nextstep').trigger('click');
            return false;
        });

        @if (!ViewData.ModelState.IsValid)
        {
            <text>$.scrollTo($('.address-form'), 400, { offset: -40 });</text>
        }
    });
</script>