@model CategoryListModel

@{
    var isSingleStoreMode = (bool)ViewBag.IsSingleStoreMode;
}

<div class="form-group">
    <smart-label asp-for="SearchCategoryName" />
    <input asp-for="SearchCategoryName" />
</div>
<div class="form-group">
    <smart-label asp-for="SearchAlias" />
    <input asp-for="SearchAlias" />
</div>
<div sm-if="!isSingleStoreMode" class="form-group">
    <smart-label asp-for="SearchStoreId" />
    <editor asp-for="SearchStoreId" />
</div>