@model ProductAttributeModel

@{
    ViewBag.Title = T("Admin.Catalog.Attributes.ProductAttributes.EditAttributeDetails") + " - " + Model.Name;
}

<form asp-action="Edit" id="product-attribute-form">
    <div class="section-header">
        <div class="title">
            <a sm-backto asp-action="List"></a>
            <i class="fa fa-list-alt"></i>
            <span>@ViewBag.Title</span>
        </div>
        <div class="options">
            <button type="submit" name="save" value="save" class="btn btn-warning">
                <i class="fa fa-check"></i>
                <span>@T("Admin.Common.Save")</span>
            </button>
            <button type="submit" name="save" value="save-continue" class="btn btn-secondary">
                <span>@T("Admin.Common.SaveContinue")</span>
            </button>
            <button type="submit" id="product-attribute-delete" name="product-attribute-delete" class="btn btn-danger">
                <i class="far fa-trash-alt"></i>
                <span>@T("Admin.Common.Delete")</span>
            </button>
            <confirm button-id="product-attribute-delete" />
        </div>
    </div>

    <partial name="_CreateOrUpdate" />
</form>