@model ProductAttributeModel

@{  
    ViewBag.Title = T("Admin.Catalog.Attributes.ProductAttributes").Value;
    Assets.BodyAttributes.AppendCssClass("spa-layout");
}

<div class="section-header">
    <div class="title">
        <i class="fa fa-list-alt"></i>
        @T("Admin.Catalog.Attributes.ProductAttributes")
    </div>
    <div class="options">
        <a href="@Url.Action("Create")" class="btn btn-primary">
			<i class="fa fa-plus"></i>
			<span>@T("Admin.Common.AddNew")...</span>
		</a>
    </div>
</div>

<datagrid id="productattributes-grid">
    <datasource read="@Url.Action("List")" />
    <columns>
        <column for="Name">
            <display-template>
                <i class="fa fa-adjust pr-1"></i>
                <a href="#">{{ item.value }}</a>
            </display-template>
        </column>
        <column for="Alias" />
        <column for="AllowFiltering" halign="center" />
        <column for="DisplayOrder" halign="center" />
    </columns>
</datagrid>

