@model ProductAttributeOptionModel

@{    
	Layout = "_AdminPopupLayout";
	ViewBag.Title = T("Common.Options.Add").Value;
}

<form asp-action="ProductAttributeOptionCreatePopup" asp-route-btnId="@ViewBag.BtnId" asp-route-formId="@ViewBag.FormId">
    <div class="section-header">
        <div class="title">
            <i class="fa fa-list-alt"></i>
            <span>@ViewBag.Title</span>
        </div>
        <div class="options">
            <button type="submit" name="save" value="save" class="btn btn-primary">
                <i class="fa fa-check"></i>
                <span>@T("Admin.Common.Save")</span>
            </button>
        </div>
    </div>

    <partial name="_CreateOrUpdateOption" />
</form>