@using Smartstore.Admin.Models.Common

@model CollectionGroupListModel

@{ 
    // TODO: (mg) Terminology: Gruppierung --> Gruppe. Alternatives: Attributgruppe (!), Anzeigegruppe (!), Layoutgruppe, Abschnitt/Section, Segment
    // TODO: (mg) Needs brief explanation for what groups are good for.
    // TODO: (mg) Smarter permission seeding. In my case, collection groups were totally hidden because the required permissions were not set.
}


@{
    ViewBag.Title = T("Admin.Configuration.CollectionGroups").Value;
    Assets.BodyAttributes.AppendCssClass("spa-layout");
}

<form id="collection-groups-form">
    <div class="section-header">
        <div class="title">
            <i class="far fa-bars-staggered"></i>
            <span>@ViewBag.Title</span>
        </div>
    </div>
</form>

<partial name="_Grid.CollectionGroups" model="null" />