@using Smartstore.Admin.Models.Logging

@model ActivityLogTypeModel

<datagrid id="activity-types-grid" allow-resize="true" allow-edit="true">
    <datasource read="@Url.Action("ActivityTypesList", "ActivityLog")" 
                update="@Url.Action("ActivityTypesUpdate", "ActivityLog")" />
    <sorting enabled="true">
        <sort by="Name" />
    </sorting>
    <columns>
        <column for="Name" hideable="false" readonly="true" />
        <column for="Enabled" halign="center" hideable="false" />
    </columns>
    <row-commands>
        <a datarow-action="DataRowAction.InlineEdit">@T("Common.Edit")</a>
    </row-commands>
</datagrid>