@using Smartstore.Admin.Models.Logging

@model ActivityLogListModel

<div class="form-group">
    <smart-label asp-for="CreatedOnFrom" />
    <editor asp-for="CreatedOnFrom" />
</div>

<div class="form-group">
    <smart-label asp-for="CreatedOnTo" />
    <editor asp-for="CreatedOnTo" />
</div>

<div class="form-group">
    <smart-label asp-for="ActivityLogTypeId" />
    <select asp-for="ActivityLogTypeId" asp-items="Model.ActivityLogTypes" asp-placeholder="@T("Admin.Common.All")"></select>
</div>

<div class="form-group">    
    <smart-label asp-for="CustomerEmail" />
    <editor asp-for="CustomerEmail" asp-template="SearchExpression" />
</div>

<div class="form-group">
    <smart-label asp-for="CustomerSystemAccount" />
    <editor asp-for="CustomerSystemAccount" />
</div>