@{
    ViewBag.Title = T("Admin.Configuration.ActivityLog.ActivityLogType").Value;
    Assets.BodyAttributes.AppendCssClass("spa-layout");
}

<div class="section-header">
    <div class="title">
        <i class="fa fa-fire"></i>
        @T("Admin.Configuration.ActivityLog.ActivityLogType")
    </div>
</div>

<partial name="_Grid.ActivityLogTypes" model="null" />