@model GiftCardListModel

<div class="form-group">
    <smart-label asp-for="CouponCode" />
    <editor asp-for="CouponCode" asp-template="SearchExpression" />
</div>
<div class="form-group">
    <smart-label asp-for="Activated" />
    <select asp-for="Activated" asp-items="ViewBag.ActivatedList" asp-placeholder="@T("Admin.Common.All")"></select>
</div>