@model ForumGroupListModel

@{  
    ViewBag.Title = T("Admin.ContentManagement.Forums.Manage").Value;
    Assets.BodyAttributes.AppendCssClass("spa-layout");

    var gridViewData = new ViewDataDictionary(ViewData);
    gridViewData["Parent"] = Model;

    // TODO: (mg) (core) Master data grids always should have a paging bar, even if paging is not allowed. Without this bar, refresh and setup are not possible. 
    // TODO: (mg) (core) ForumGroup grid: both "Add" buttons should have more specific names: "Add group...", "Add forum..."
    // TODO: (mg) (core) ForumGroup grid: The edit links do not work
}

<div class="section-header">
    <div class="title">
        <i class="fa fa-users"></i>
        <span>@ViewBag.Title</span>
    </div>
    <div class="options">
		<zone name="admin_button_toolbar_before" />
		<zone name="admin_button_toolbar_after" />
    </div>
</div>

<partial name="_Grid.ForumGroups" model="null" view-data="gridViewData" />