@model SendPrivateMessageModel

@{
    ViewBag.Title = T("Admin.Customers.Customers.SendPM").Value;
}

<form asp-action="SendPm">
    <input type="hidden" asp-for="ToCustomerId" />

    <div class="section-header">
        <div class="title">
            <i class="fa fa-users"></i>
            <span>@ViewBag.Title</span>
            <a asp-action="Edit" asp-controller="Customer" asp-route-id="@Model.ToCustomerId" asp-area="Admin">
                (@T("Admin.Customers.Customers.Addresses.BackToCustomer"))
            </a>
        </div>
        <div class="options">
            <zone name="admin_button_toolbar_before" />

            <button type="submit" name="save" value="save" class="btn btn-primary confirm">
                <i class="fa fa-envelope"></i>
                <span>@T("PrivateMessages.Send.SendButton")</span>
            </button>

            <zone name="admin_button_toolbar_after" />
        </div>
    </div>

    <div asp-validation-summary="ModelOnly"></div>

    <div class="adminContent">
        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="CustomerToName" />
            </div>
            <div class="adminData">
                <input asp-for="CustomerToName" sm-plaintext="true" readonly />
                <span asp-validation-for="CustomerToName"></span>
            </div>
        </div>
        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="Subject" />
            </div>
            <div class="adminData">
                <input asp-for="Subject" />
                <span asp-validation-for="Subject"></span>
            </div>
        </div>
        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="Message" />
            </div>
            <div class="adminData">
                <editor asp-for="Message" />
                <span asp-validation-for="Message"></span>
            </div>
        </div>
    </div>
</form>
