@{
    ViewBag.Title = T("Admin.Configuration.EmailAccounts").Value;
    Assets.BodyAttributes.AppendCssClass("spa-layout");
}

<div class="section-header">
    <div class="title">
        <i class="fa fa-envelope"></i>
        <span>@T("Admin.Configuration.EmailAccounts")</span>
    </div>
</div>

<partial name="_Grid.EmailAccounts" model="null" />
