// TODO: (core) Remove Sass compilation stuff once bundler is up and running.

.spa-layout {
    #content {
        // TODO: (core) Move this selector enhancement with $content-padding-x (instead of 30px) to ported scss file
        padding-bottom: 30px;
    }
}

$primary: #307abe; 
$light: #f8f9fa;
$border: #dee2e6;
$even: mix($light, #fff, 60%);
$hover: darken(#f2f7fb, 0.5%);
$body-color: #393f46;

.datagrid-root {
    --dg-border-color: $border;
    --dg-header-bg: $light;
    --dg-pager-bg: $light;
    --dg-toolbar-bg: $light;
    --dg-row-bg: #fff;
    --dg-row-even-bg: #fff;
    --dg-row-hover-color: $hover;
    --dg-row-active-color: $hover;
    --dg-cell-padding: 13px 16px;
    --dg-cell-align: center;
    --dg-cell-justify: flex-start;
    position: relative;
    overflow: hidden;
    border: 1px solid var(--dg-border-color);
    box-shadow: 0 0 5px rgba(#000, 0.08);
    flex-grow: 1;
}

.datagrid {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.dg-blocker {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 999;
}

.dg-no-data > td {
    grid-column: 1 / -1;
}

.dg-table-wrapper {
    position: relative;
    flex-grow: 1;
    overflow: auto;
}

.dg-table {
    position: relative;
    width: auto;
    min-width: 100%;
    background-color: var(--dg-border-color);
    display: grid;
    column-gap: 0;
    row-gap: 1px;

    .dg-thead,
    .dg-tbody,
    .dg-tr {
        display: contents;
    }

    .dg-th,
    .dg-td {
        padding: 0;
        //overflow: hidden;
        //text-overflow: ellipsis;
        //white-space: nowrap;
        position: relative;
        //display: flex;
    }

    .dg-td {
        background-color: var(--dg-row-bg);
        transition: background-color 0.1s ease-in-out;
        //overflow: hidden;
    }

    .dg-th {
        position: sticky;
        top: 0;
        background-color: var(--dg-header-bg);
        border-bottom: 1px solid var(--dg-border-color);
        z-index: 1;
        user-select: none;
        overflow-x: hidden; // Removes annoying x-scrollbar
    }

    .dg-tbody > tr:nth-of-type(even) > td {
        background-color: var(--dg-row-even-bg);
    }

    .dg-tr.active,
    .dg-tr.dg-edit-row {
        --dg-row-bg: var(--dg-row-active-color) !important;
        --dg-row-even-bg: var(--dg-row-active-color) !important;
    }

    &.dg-resizing {
        cursor: col-resize;
    }
}

.dg-striped {
    --dg-row-even-bg: $even;
}

.dg-hover > .dg-tbody > tr:hover:not(.dg-no-data) {
    --dg-row-bg: var(--dg-row-hover-color);
    --dg-row-even-bg: var(--dg-row-hover-color);
}

.dg-cell-header {
    //line-height: 1.2;
}

.dg-cell {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: var(--dg-cell-padding);
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    display: flex;
    //width: 100%;
    height: 100%;
    align-items: var(--dg-cell-align);
    justify-content: var(--dg-cell-justify);

    &.dg-cell-wrap {
        white-space: normal;
    }
}

.dg-cell-spacer {
    padding: 0;
}

.dg-icon + * {
    padding-left: 6px;
}

.dg-cell-value {
    overflow: hidden;
    text-overflow: ellipsis;
}


// Toolbar
// -----------------------------------------

.dg-toolbar {
    background-color: var(--dg-toolbar-bg);
    border-bottom: 1px solid var(--dg-border-color);
}

.dg-toolbar .btn {
    padding: 14px !important;
    //font-size: 13px;
    border-radius: 0 !important;
    outline: 0 !important;
    box-shadow: none !important;
    border-width: 0 !important;
    border-left: 1px solid var(--dg-border-color) !important;

    &.disabled {
        pointer-events: none;
    }

    &:active {
        box-shadow: inset 0 3px 5px rgba(#000, 0.12) !important;
    }

    &:first-child {
        border-left: none !important;
    }
}


// Sorting
// -----------------------------------------

.dg-table:not(.dg-resizing) .dg-sortable,
.dg-table:not(.dg-resizing) .dg-tools {
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;

    &:hover {
        background-color: rgba(#000, 0.035);
    }

    &:active, &.show {
        background-color: rgba(#000, 0.075);
    }
}


// Resizing & Column reordering
// -----------------------------------------

.dg-resize-handle {
    position: absolute;
    display: block;
    top: 0;
    right: -4px;
    bottom: 0;
    width: 10px;
    opacity: 0;
    cursor: col-resize;
    transition: opacity 0.12s;

    &:after {
        position: absolute;
        content: ' ';
        width: 2px;
        top: 0;
        bottom: 0;
        left: 4px;
        background-color: var(--dg-border-color);
    }

    thead:hover & {
        opacity: 0.65;
    }

    &:hover,
    .dg-resizing & {
        opacity: 1 !important;
    }
}

.dg-drop-indicator {
    position: absolute;
    display: block;
    width: 10px;
    z-index: 9999;
    transform: translateX(-50%);
    pointer-events: none;

    &:before,
    &:after {
        position: absolute;
        display: block;
        content: '';
        width: 0;
        height: 0;
        left: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
    }

    &:before {
        // Arrow down
        border-top: 5px solid $body-color;
        top: 0;
        transform: translateY(-200%);
    }

    &:after {
        // Arrow up
        border-bottom: 5px solid $body-color;
        bottom: 0;
        transform: translateY(200%);
    }
}


// Pinned columns
// -----------------------------------------

.dg-col-pinned {
    position: sticky !important;
    overflow-x: visible !important;
    z-index: 5;

    &.dg-th {
        z-index: 10;
    }

    &.alpha {
        left: 0;
    }

    &.omega {
        right: 0;
    }
}


// Row selection
// -----------------------------------------

.dg-cell-selector {
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: block;
    margin: 0;
}

.dg-cell-selector-checkbox {
    cursor: pointer;
}

.dg-cell-selector:not(.dg-cell-header) {
    align-items: center;
    justify-content: center;
    //background-color: $even;
}


// Inline Edit
// -----------------------------------------

.dg-edit-row {
    .dg-cell {
        border-color: $primary;
    }

    .dg-cell-edit {
        padding: 0 4px;
        justify-content: center !important;
        align-items: center !important;
        overflow: visible;
        flex-flow: column;
    }

    .numerictextbox-group {
        flex-grow: 0 !important;
        width: 100%;
    }

    .field-validation-valid {
        display: none;
    }

    .input-validation-error {
        // TODO: (core) Adopt SCSS theme colors once bundler is ported. And add bubble to error message.
        position: absolute;
        top: 0;
        background-color: #fff;
        color: var(--danger);
        border: 1px solid #fccac7;
        padding: 4px 8px;
        border-radius: 2px;
        width: auto;
        transform: translateY(-120%);
        z-index: 1000;
        white-space: nowrap;
        text-overflow: ellipsis;
        --shadow-color-intensity: 0.75 !important;
    }
}


// Paging
// -----------------------------------------

.dg-pager {
    background-color: var(--dg-pager-bg);
}

.dg-pager-top {
    border-bottom: 1px solid $border;
}

.dg-pager-bottom {
    border-top: 1px solid $border;
}

.dg-page {
    padding: 8px 6px;
    color: inherit;
}

a.dg-page {
    text-decoration: none;

    &:hover {
        background-color: rgba(#000, 0.035);
    }

    &:active {
        background-color: rgba(#000, 0.075);
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.4;
    }
}

.dg-page-refresh {
    border-right: 1px solid $border;
    width: 49px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

.dg-page-arrow {
    padding-left: 6px;
    padding-right: 6px;
}

.dg-page-number {
    border: 1px solid transparent;
    border-top-width: 0;
    border-bottom-width: 0;

    &.active {
        pointer-events: none;
        background-color: #fff;
        border-color: rgba(#000, 0.15);
        border-color: $border;
    }
}

.dg-page-size-chooser + .dropdown-menu {
    min-width: initial;
}


// Scrolling
// -----------------------------------------

.dg-scrollable .dg-col-pinned {
    &.alpha {
        box-shadow: inset -1px 0 0 var(--dg-border-color);
    }

    &.omega {
        box-shadow: inset 1px 0 0 var(--dg-border-color);
    }

    &:before {
        position: absolute;
        display: block;
        content: "";
        pointer-events: none;
        width: 10px;
        right: -10px;
        top: 0;
        bottom: 0;
        background: linear-gradient(270deg, transparent, rgba(#000, .05));
    }

    &.omega:before {
        right: initial;
        left: -10px;
        background: linear-gradient(90deg, transparent, rgba(#000, .05));
    }
}


.dg-page-number,
.dg-page-size-chooser,
span.dg-page {
    font-size: 13px;
}


// Tools
// -----------------------------------------

.dg-tools {
    padding: 0 !important;
    overflow: visible;
    cursor: auto !important;
    font-weight: 400;
}

.dg-tools-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;
    width: 100%;
    height: 100%;
}

.dg-tools-dropdown {
    min-width: 250px;
    //max-width: 350px;
    width: auto;
    max-height: 100vh;
    overflow-y: auto;
    font-size: 13px;

    .switch {
        padding-top: 5px;
        padding-bottom: 5px;
        --switcher-w: 2rem;
        --switcher-h: 1rem;
    }

    select {
        height: 28px;
        padding: 0 4px;
    }
}


// Row commands
// -----------------------------------------

.dg-row-edit-commands {
    width: 100%;
    height: 100%;

    > button {
        height: 50%;
        padding: 0 !important;
        > i {
            font-size: 10px !important;
        }
    }
}


.dg-tools-columns {
    display: grid;
    grid-template-columns: minmax(100px, auto) minmax(100px, auto);
    grid-gap: 0 15px;
}

.dg-column-toggle {
    max-width: 150px;
}


// RTL
// -----------------------------------------

[dir=rtl] {
    .dg-page-refresh {
        border-left: 1px solid $border;
        border-right: none;
    }

    .dg-col-pinned.alpha {
        left: initial;
        right: 0;
    }

    .dg-col-pinned.omega {
        left: 0;
        right: initial;
    }

    .dg-icon + * {
        padding-left: 0;
        padding-right: 6px;
    }
}
