/// <reference path="../../admin/theme.scss" />

$dg-border: #dee2e6;
$dg-even: mix($light, #fff, 60%);
$dg-hover: darken(#f2f7fb, 0.5%);


// TODO: (core) Move to applicable place later
// -----------------------------------------
input.form-control-plaintext {
    outline: 0;
    -moz-appearance: textfield;
}
// END TODO
// -----------------------------------------


// Common
// -----------------------------------------

.datagrid-root {
    --dg-border-color: #{$dg-border};
    --dg-header-bg: #{$light};
    //--dg-header-bg: #fff;
    --dg-footer-bg: #{$white};
    --dg-pager-bg: #{$light};
    --dg-toolbar-bg: #{$light};
    //--dg-toolbar-bg: #{mix($light, #fff)};
    --dg-row-bg: #fff;
    --dg-row-even-bg: #fff;
    --dg-row-hover-color: #{$dg-hover};
    --dg-row-active-color: #{$dg-hover};
    --dg-row-inactive-color: #{lighten($light, 1.5%)};
    --dg-cell-padding: 13px 16px;
    --dg-cell-align: center;
    --dg-cell-justify: flex-start;
    --dg-search-width: 270px;
    position: relative;
    overflow: hidden;
    border: 1px solid var(--dg-border-color);
    flex-grow: 1;
    width: 100%;
    border-radius: var(--border-radius-md);

    @include media-breakpoint-up(md) {
        --dg-search-width: 350px;
    }
}

[dir=rtl] .datagrid-root {
    --dg-cell-pinned-alpha-inset: 1px;
    --dg-cell-pinned-alpha-gradient-dir: 90deg;
    --dg-cell-pinned-omega-inset: -1px;
    --dg-cell-pinned-omega-gradient-dir: 270deg;
}

.datagrid {
    display: flex;
    flex-flow: row;
    height: 100%;
    opacity: 0;
    transform: scale(1.0124, 1.0124);
    transition-property: transform, opacity;
    transition-duration: 0.4s;
    transition-timing-function: $ease-out-circ;

    &.datagrid-ready {
        opacity: 1 !important;
        transform: scale(1, 1) !important;
    }
}

.datagrid-loader,
.dg-blocker {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.datagrid-loader {
    background-color: #fff;

    .datagrid-ready + & {
        display: none;
    }
}

.dg-grid {
    position: relative;
    display: flex;
    flex-flow: column;
    inset-inline-start: 0;
    width: 100%;
    transition-property: inset-inline-start, width;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    z-index: 1;

    .dg-search.show + & {
        inset-inline-start: var(--dg-search-width);
        width: calc(100% - var(--dg-search-width));
    }
}

.dg-blocker {
    background-color: transparent;
}

.dg-no-data > td {
    grid-column: 1 / -1;
}

.dg-table-wrapper {
    position: relative;
    flex-grow: 1;
    overflow: auto;
    background-color: #fff;
}

.dg-table {
    position: relative;
    width: auto;
    min-width: 100%;
    //background-color: var(--dg-border-color);
    background-color: #fff;
    display: grid;
    gap: 0;

    .dg-thead,
    .dg-tbody,
    .dg-tfoot,
    .dg-tr {
        display: contents;
    }

    .dg-th,
    .dg-td {
        padding: 0;
        position: relative;
    }

    .dg-td {
        background-color: var(--dg-row-bg);
    }

    .dg-th {
        position: sticky;
        top: 0;
        background-color: var(--dg-header-bg);
        border-bottom: 2px solid var(--dg-border-color);
        z-index: 2;
        user-select: none;
        overflow-x: hidden; // Removes annoying x-scrollbar
    }

    .dg-tbody > tr.even > td {
        background-color: var(--dg-row-even-bg);
    }

    .dg-tr.active,
    .dg-tr.dg-edit-row {
        --dg-row-bg: var(--dg-row-active-color) !important;
        --dg-row-even-bg: var(--dg-row-active-color) !important;
    }

    .dg-tr.inactive {
        --dg-row-bg: var(--dg-row-inactive-color) !important;
        --dg-row-even-bg: var(--dg-row-inactive-color) !important;
    }

    &.dg-resizing {
        cursor: col-resize;
    }

    .dg-tr-foot > td {
        background-color: var(--dg-footer-bg);
        background-color: darken($light, 1%);
        z-index: 6;
        overflow-x: hidden;
    }

    .dg-tr-foot.sticky > td {
        position: sticky !important;
        bottom: 0;
        border-top: 1px solid var(--dg-border-color);
    }
}

.dg-striped {
    --dg-row-even-bg: #{$dg-even};
}

.dg-hover > .dg-tbody > .dg-tr:hover:not(.dg-no-data, .dg-tr-detail) {
    --dg-row-bg: var(--dg-row-hover-color);
    --dg-row-even-bg: var(--dg-row-hover-color);
}

.dg-cell {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: var(--dg-cell-padding);
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    display: flex;
    //width: 100%;
    height: 100%;
    align-items: var(--dg-cell-align);
    justify-content: var(--dg-cell-justify);

    &.dg-cell-wrap {
        white-space: normal;

        p:last-child {
            margin-bottom: 0;
        }
    }
}

.dg-cell-spacer {
    padding-inline: 0;
}

.dg-icon + * {
    padding-inline-start: 6px;
}

.dg-cell-value {
    overflow: hidden;
    text-overflow: ellipsis;
}

.dg-vborders {
    > tbody > tr > .dg-td {
        border-bottom: 1px solid var(--dg-border-color);
    }
}

.dg-hborders {
    > thead > tr > .dg-th,
    > tbody > tr > .dg-td,
    > tfoot > tr > .dg-td {
        border-inline-end: 1px solid var(--dg-border-color);

        &:last-child {
            border-inline-end-width: 0;
        }
    }
}

.dg-hborder-0 {
    border-inline-end-width: 0 !important;
}


// Toolbar
// -----------------------------------------

.dg-toolbar {
    background-color: var(--dg-toolbar-bg);
    border-bottom: 1px solid var(--dg-border-color);
    padding: 0.375rem;
    @include border-left-radius(var(--border-radius-md));
}

.dg-toolbar .btn {
    position: relative;
    --btn-padding-x: 0.6rem;
}

@include media-breakpoint-down(sm) {
    .touchevents .dg-toolbar {
        overflow-x: auto;
        min-height: 54px;
    }

    .dg-toolbar .btn > i + span {
        display: none;
    }
}

.dg-toolbar-group {
    position: relative;
    display: inline-flex;
    flex-wrap: nowrap;
    column-gap: 2px;
    align-items: center;
    vertical-align: middle;
    padding-inline-end: 0.5rem;
    margin-inline-end: 0.5rem;
    border-inline-end: 1px solid var(--dg-border-color);

    &.omega,
    &:last-child {
        border-inline-end-width: 0;
        padding-inline-end: 0;
        margin-inline-end: 0;
    }

    &.omega {
        margin-inline-start: auto;
    }
}

.dg-toolbar-badge {
    position: absolute !important;
    --badge-font-size: 10px;
}

.dg-commands-toggle {
    display: flex;
}

.dg-commands-dropdown .disabled,
.dg-toolbar .btn.disabled {
    pointer-events: none;
}


// Search Panel
// -----------------------------------------
.dg-search {
    position: absolute;
    opacity: 0;
    inset-inline-start: 0;
    top: 0;
    height: 100%;
    width: var(--dg-search-width);
    border-inline-end: 1px solid var(--dg-border-color);
    transform: translateX(-30px);
    transition: all 0.2s ease-in-out;
    z-index: 0;
    overflow-y: auto;

    &.show {
        opacity: 1;
        transform: translateX(0);
    }
}

.dg-search-header {
    display: flex;
    align-items: center;
    height: 49px;
    border-bottom: 1px solid var(--dg-border-color);
}

.dg-search-body {
}


// Sorting
// -----------------------------------------

.dg-table:not(.dg-resizing) .dg-sortable {
    cursor: pointer;
    //transition: background-color 0.1s;

    &:hover {
        background-color: rgba(#000, 0.035);
    }

    &:active, &.show {
        background-color: rgba(#000, 0.075);
    }
}


// Resizing & Column reordering
// -----------------------------------------

.dg-resize-handle {
    position: absolute;
    display: block;
    top: 0;
    inset-inline-end: -4px;
    bottom: 0;
    width: 10px;
    opacity: 0;
    transform: scaleX(0);
    cursor: col-resize;
    transition: all 0.2s ease-in-out;

    &:after {
        position: absolute;
        content: ' ';
        width: 3px;
        top: 0;
        bottom: 0;
        inset-inline-start: 3px;
        background-color: var(--dg-border-color);
    }

    thead:hover & {
        opacity: 0.65;
        transform: scaleX(1);
    }

    &:hover,
    .dg-resizing & {
        opacity: 1 !important;
    }
}

.dg-drop-indicator {
    position: absolute;
    display: block;
    width: 10px;
    z-index: 9999;
    transform: translateX(-50%);
    pointer-events: none;

    &:before,
    &:after {
        position: absolute;
        display: block;
        content: '';
        width: 0;
        height: 0;
        inset-inline-start: 0;
        border-inline: 5px solid transparent;
    }

    &:before {
        // Arrow down
        border-top: 5px solid $body-color;
        top: 0;
        transform: translateY(-200%);
    }

    &:after {
        // Arrow up
        border-bottom: 5px solid $body-color;
        bottom: 0;
        transform: translateY(200%);
    }
}


// Pinned columns
// -----------------------------------------

@include media-breakpoint-up(sm) {
    .dg-col-pinned {
        position: sticky !important;
        overflow-x: visible !important;
        z-index: 5;

        &.dg-th {
            z-index: 10;
        }

        &.alpha {
            inset-inline-start: 0;
        }

        &.alpha + .alpha {
            // Detail view toggler beneath selector
            inset-inline-start: 48px;
        }

        &.omega {
            inset-inline-end: 0;
        }
    }

    .dg-scrollable .dg-col-pinned {
        &.alpha {
            box-shadow: inset var(--dg-cell-pinned-alpha-inset) 0 0 var(--dg-border-color);
            border-inline-end: 1px solid var(--dg-border-color);
        }

        &.omega {
            box-shadow: inset var(--dg-cell-pinned-omega-inset) 0 0 var(--dg-border-color);
            border-inline-start: 1px solid var(--dg-border-color);
        }

        &:before {
            position: absolute;
            display: block;
            content: "";
            pointer-events: none;
            width: 10px;
            inset-inline-end: -10px;
            top: 0;
            bottom: 0;
            background: linear-gradient(var(--dg-cell-pinned-alpha-gradient-dir), transparent, rgba(#000, .05));
        }

        &.omega:before {
            inset-inline-end: initial;
            inset-inline-start: -10px;
            background: linear-gradient(var(--dg-cell-pinned-omega-gradient-dir), transparent, rgba(#000, .05));
        }
    }
}


// Row selection & Detail view
// -----------------------------------------

.dg-col-selector {
    display: flex;
    justify-content: center;

    .dg-cell + .dg-cell {
        padding-inline-start: 8px;
    }
}

.dg-cell-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    //display: block;
    margin: 0;
}

.dg-cell-selector-checkbox {
    cursor: pointer;
}

.dg-cell-detail-toggle {
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.12s ease-in-out;

    &:hover,
    .dg-tr.expanded & {
        opacity: 1;
    }

    .dg-tr.expanded & > i {
        transform: rotate(90deg);
    }
}


// Inline Edit
// -----------------------------------------

.dg-edit-row {
    .dg-cell {
        border-color: $primary;
    }

    .field-validation-valid {
        display: none;
    }

    .input-validation-error {
        position: absolute;
        top: 0;
        background-color: #fff;
        color: var(--danger);
        border: 1px solid #fccac7;
        padding: 4px 8px;
        border-radius: 2px;
        width: auto;
        transform: translateY(-120%);
        z-index: 1000;
        white-space: nowrap;
        text-overflow: ellipsis;
        --shadow-intensity: 0.75 !important;
    }
}

.dg-cell-edit {
    padding: 0 4px;
    justify-content: center !important;
    //align-items: center !important;
    align-items: stretch !important;
    overflow: visible;
    flex-flow: column;
}

.dg-cell-edit-controls {
    display: flex;
    justify-content: center;

    > .select2 {
        width: 100%;
    }

    .select2-selection {
        --select2-caret-width: 1.5rem !important;
    }

    .numberinput-group {
        --ni-addon-width: 1.5rem !important;
    }
}


// Paging
// -----------------------------------------

.dg-pager-wrapper {
    --border-width: 2px;
}

.dg-pager {
    padding: 4px;
    background-color: var(--dg-pager-bg);
    @include border-bottom-radius(var(--border-radius-md));
}

.dg-page {
    margin: 0 1px;
    color: inherit;
}

a.dg-page {
    --btn-padding-x: 8px;
    --btn-padding-y: 5px;
    //display: inline-block;
    font-weight: normal;
    min-width: 28px;

    &.disabled {
        pointer-events: none;
        opacity: 0.4;
    }
}

.dg-page-refresh-wrapper {
    border-inline-end: 1px solid $dg-border;
    text-align: center;
    margin-inline-end: 6px;
}

.dg-page-refresh {
    margin-inline: 2px 6px;
}

.dg-page-number {
    &.active {
        pointer-events: none;
    }
}

.dg-page-size-chooser + .dropdown-menu {
    min-width: initial;
}


.dg-page-number,
.dg-page-size-chooser,
span.dg-page {
    font-size: 13px;
}


// Tools
// -----------------------------------------

.dg-tools-dropdown {
    min-width: 250px;
    //max-width: 350px;
    width: auto;
    max-height: 90vh;
    overflow-y: auto;
    font-size: 13px;

    .form-switch {
        padding-block: 5px;
    }

    select {
        height: 28px;
        padding-block: 0;
    }
}


// Row commands
// -----------------------------------------

.dg-row-edit-commands {
    width: 100%;
    height: 100%;

    > .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        --btn-height: 50%;
        padding: 0 !important;
        > i {
            font-size: 10px !important;
        }
    }
}


.dg-tools-columns {
    display: grid;
    grid-template-columns: minmax(100px, auto) minmax(100px, auto);
    grid-gap: 0 15px;
}

.dg-column-toggle {
    max-width: 150px;
}
