.spa-layout #content {
  padding-bottom: 30px; }

.datagrid-root {
  --dg-border-color: #dee2e6;
  --dg-header-bg: #f8f9fa;
  --dg-cell-bg: #fff;
  --dg-cell-even-bg: #fff;
  --dg-cell-padding: 0.875rem 1rem;
  --dg-cell-align: center;
  --dg-cell-justify: flex-start;
  position: relative;
  overflow-x: auto;
  overflow-y: auto;
  border: 1px solid var(--dg-border-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.08); }

.dg-table {
  position: relative;
  width: auto;
  min-width: 100%;
  background-color: var(--dg-border-color);
  display: grid;
  column-gap: 0;
  row-gap: 1px;
  /*    th:first-child,
    td:first-child {
        position: sticky;
        left: 0;
        z-index: 5;
    }*/ }
  .dg-table thead,
  .dg-table tbody,
  .dg-table tr {
    display: contents; }
  .dg-table th,
  .dg-table td {
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    display: flex; }
  .dg-table th {
    position: sticky;
    top: 0;
    background-color: var(--dg-header-bg);
    border-bottom: 1px solid var(--dg-border-color);
    z-index: 1;
    user-select: none; }
  .dg-table td {
    background-color: var(--dg-cell-bg); }
  .dg-table tbody tr:nth-of-type(even) > td {
    background-color: var(--dg-cell-even-bg); }
  .dg-table th:first-child {
    z-index: 10; }
  .dg-table.dg-resizing {
    cursor: ew-resize; }

.dg-striped {
  --dg-cell-even-bg: #fcfcfd; }

.dg-cell {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: var(--dg-cell-padding);
  display: flex;
  width: 100%;
  align-items: var(--dg-cell-align);
  justify-content: var(--dg-cell-justify); }

.dg-resize-handle {
  position: absolute;
  display: block;
  top: 0;
  right: -4px;
  bottom: 0;
  width: 10px;
  opacity: 0;
  cursor: ew-resize;
  transition: opacity 0.12s; }
  .dg-resize-handle:after {
    position: absolute;
    content: ' ';
    width: 2px;
    top: 0;
    bottom: 0;
    left: 4px;
    background-color: var(--dg-border-color); }
  thead:hover .dg-resize-handle {
    opacity: 0.65; }
  .dg-resize-handle:hover,
  .dg-resizing .dg-resize-handle {
    opacity: 1 !important; }

.dg-page {
  padding: 10px 8px;
  color: inherit; }
  .dg-page:hover {
    background-color: rgba(0, 0, 0, 0.05); }
  .dg-page:active {
    background-color: rgba(0, 0, 0, 0.08); }
  .dg-page.disabled {
    pointer-events: none;
    opacity: 0.4; }

.dg-page-refresh {
  border-right: 1px solid #dee2e6; }
