// TODO: (core) Remove Sass compilation stuff once bundler is up and running.

.spa-layout {
    #content {
        // TODO: (core) Move this selector enhancement with $content-padding-x (instead of 30px) to ported scss file
        padding-bottom: 30px;
    }
}

$light: #f8f9fa;
$border: #dee2e6;
$even: mix($light, #fff);

.datagrid-root {
    --datagrid-border-color: $border;
    --datagrid-header-bg: $light;
    --datagrid-cell-bg: #fff;
    --datagrid-cell-even-bg: #fff;
    --datagrid-cell-padding: 0.875rem 1rem;
    --datagrid-cell-align: center;
    --datagrid-cell-justify: flex-start;
    position: relative;
    overflow-x: auto;
    overflow-y: auto;
    border: 1px solid var(--datagrid-border-color);
    box-shadow: 0 0 5px rgba(#000, 0.08);
}

.dg-table {
    position: relative;
    width: auto;
    min-width: 100%;
    background-color: var(--datagrid-border-color);
    display: grid;
    column-gap: 0;
    row-gap: 1px;

    thead,
    tbody,
    tr {
        display: contents;
    }

    th,
    td {
        padding: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        position: relative;
        display: flex;
    }

    th {
        position: sticky;
        top: 0;
        background-color: var(--datagrid-header-bg);
        border-bottom: 1px solid var(--datagrid-border-color);
        z-index: 1;
        user-select: none;
    }

    td {
        background-color: var(--datagrid-cell-bg);
    }

    tbody tr:nth-of-type(even) > td {
        background-color: var(--datagrid-cell-even-bg);
    }
    /*    th:first-child,
    td:first-child {
        position: sticky;
        left: 0;
        z-index: 5;
    }*/

    th:first-child {
        z-index: 10;
    }

    &.dg--resizing {
        cursor: ew-resize;
    }
}

.dg-striped {
    --datagrid-cell-even-bg: $even;
}

.dg-cell-header {
    //line-height: 1.2;
}

.dg-cell {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: var(--datagrid-cell-padding);
    display: flex;
    width: 100%;
    align-items: var(--datagrid-cell-align);
    justify-content: var(--datagrid-cell-justify);
}

.dg-resize-handle {
    position: absolute;
    display: block;
    top: 0;
    right: -4px;
    bottom: 0;
    width: 10px;
    opacity: 0;
    cursor: ew-resize;
    transition: opacity 0.12s;

    &:after {
        position: absolute;
        content: ' ';
        width: 2px;
        top: 0;
        bottom: 0;
        left: 4px;
        background-color: var(--datagrid-border-color);
    }

    thead:hover & {
        opacity: 0.65;
    }

    &:hover,
    .dg--resizing & {
        opacity: 1 !important;
    }
}

.dg-page {
    padding: 10px 8px;
    color: inherit;

    &:hover {
        background-color: rgba(#000, 0.05);
    }

    &:active {
        background-color: rgba(#000, 0.08);
    }
}

.dg-page--refresh {
    border-right: 1px solid $border;
}

.dg-page--disabled {
    pointer-events: none;
    opacity: 0.4;
}
