.datagrid-root {
  position: relative;
  overflow-x: auto;
  overflow-y: auto;
  border: 1px solid #dee2e6;
  height: 400px; }

.datagrid {
  position: relative;
  display: grid;
  width: auto;
  min-width: 100%; }
  .datagrid thead,
  .datagrid tbody,
  .datagrid tr {
    display: contents; }
  .datagrid th,
  .datagrid td {
    padding: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .datagrid th {
    position: sticky;
    top: 0;
    background-color: var(--light);
    border-bottom: 2px solid #dee2e6; }
  .datagrid td {
    border-bottom: 1px solid #dee2e6;
    background-color: #fff; }
  .datagrid th:first-child,
  .datagrid td:first-child {
    position: sticky;
    left: 0;
    z-index: 5; }
  .datagrid th:first-child {
    z-index: 10; }
  .datagrid tr:last-child > td {
    border-bottom-width: 0; }
  .datagrid.datagrid--resizing {
    cursor: ew-resize; }
    .datagrid.datagrid--resizing th {
      user-select: none; }

.datagrid-resize-handle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #dee2e6;
  opacity: 0;
  width: 3px;
  cursor: ew-resize;
  transition: opacity 0.12s; }
  thead:hover .datagrid-resize-handle {
    opacity: 0.5; }
  .datagrid-resize-handle:hover,
  .datagrid--resizing .datagrid-resize-handle {
    opacity: 1 !important; }
