.spa-layout #content {
  padding-bottom: 30px; }

.datagrid-root {
  --dg-border-color: #dee2e6;
  --dg-header-bg: #f8f9fa;
  --dg-row-bg: #fff;
  --dg-row-even-bg: #fff;
  --dg-row-hover-color: #f0f6fa;
  --dg-cell-padding: 0.875rem 1rem;
  --dg-cell-align: center;
  --dg-cell-justify: flex-start;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--dg-border-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
  flex-grow: 1; }

.datagrid {
  display: flex;
  flex-flow: column;
  height: 100%; }

.dg-table-wrapper {
  position: relative;
  flex-grow: 1;
  overflow: auto; }

.dg-table {
  position: relative;
  width: auto;
  min-width: 100%;
  background-color: var(--dg-border-color);
  display: grid;
  column-gap: 0;
  row-gap: 1px; }
  .dg-table thead,
  .dg-table tbody,
  .dg-table tr {
    display: contents; }
  .dg-table th,
  .dg-table td {
    padding: 0;
    position: relative; }
  .dg-table th {
    position: sticky;
    top: 0;
    background-color: var(--dg-header-bg);
    border-bottom: 1px solid var(--dg-border-color);
    z-index: 1;
    user-select: none; }
  .dg-table td {
    background-color: var(--dg-row-bg);
    transition: background-color 0.1s ease-in-out;
    overflow: hidden; }
  .dg-table tbody tr:nth-of-type(even) > td {
    background-color: var(--dg-row-even-bg); }
  .dg-table th:first-child {
    z-index: 10; }
  .dg-table.dg-resizing {
    cursor: ew-resize; }

.dg-striped {
  --dg-row-even-bg: #fbfbfc; }

.dg-hover > tbody > tr:hover {
  --dg-row-bg: var(--dg-row-hover-color);
  --dg-row-even-bg: var(--dg-row-hover-color); }

.dg-cell {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: var(--dg-cell-padding);
  display: flex;
  height: 100%;
  align-items: var(--dg-cell-align);
  justify-content: var(--dg-cell-justify); }
  .dg-cell.dg-cell-wrap {
    white-space: normal; }

.dg-cell-spacer {
  padding: 0;
  display: none; }

.dg-cell-value {
  overflow: hidden;
  text-overflow: ellipsis; }

.dg-table:not(.dg-resizing) .dg-sortable {
  cursor: pointer;
  transition: background-color 0.1s ease-in-out; }
  .dg-table:not(.dg-resizing) .dg-sortable:hover {
    background-color: rgba(0, 0, 0, 0.035); }
  .dg-table:not(.dg-resizing) .dg-sortable:active {
    background-color: rgba(0, 0, 0, 0.075); }

.dg-resize-handle {
  position: absolute;
  display: block;
  top: 0;
  right: -4px;
  bottom: 0;
  width: 10px;
  opacity: 0;
  cursor: ew-resize;
  transition: opacity 0.12s; }
  .dg-resize-handle:after {
    position: absolute;
    content: ' ';
    width: 2px;
    top: 0;
    bottom: 0;
    left: 4px;
    background-color: var(--dg-border-color); }
  thead:hover .dg-resize-handle {
    opacity: 0.65; }
  .dg-resize-handle:hover,
  .dg-resizing .dg-resize-handle {
    opacity: 1 !important; }

.dg-col-pinned {
  position: sticky !important;
  z-index: 5; }
  .dg-col-pinned.dg-col-pinned-left {
    left: 0; }
  .dg-col-pinned.dg-col-pinned-right {
    right: 0; }

.dg-cell-selector {
  align-items: center;
  justify-content: center; }

.dg-pager-top {
  border-bottom: 1px solid #dee2e6; }

.dg-pager-bottom {
  border-top: 1px solid #dee2e6; }

.dg-page {
  padding: 8px 6px;
  color: inherit; }

a.dg-page {
  text-decoration: none; }
  a.dg-page:hover {
    background-color: rgba(0, 0, 0, 0.035); }
  a.dg-page:active {
    background-color: rgba(0, 0, 0, 0.075); }
  a.dg-page.disabled {
    pointer-events: none;
    opacity: 0.4; }

.dg-page-refresh {
  border-right: 1px solid #dee2e6;
  width: 51px;
  text-align: center;
  padding-left: 0;
  padding-right: 0; }

.dg-page-arrow {
  padding-left: 6px;
  padding-right: 6px; }

.dg-page-number {
  border: 1px solid transparent;
  border-top-width: 0;
  border-bottom-width: 0; }
  .dg-page-number.active {
    pointer-events: none;
    background-color: #fff;
    border-color: rgba(0, 0, 0, 0.15);
    border-color: #dee2e6; }

.dg-page-number,
span.dg-page {
  font-size: 13px; }
