@model AmazonPayViewModel

<div class="amazon-pay-button my-2 ml-3">
    <div id="amazon-pay-login-button">TODO: AmazonPay button</div>
</div>

<script sm-target-zone="scripts" data-origin="amazonpay-button">
    $(function () {
        //...
    });
</script>
