@model AmazonPayButtonModel

<button id="amazonpay-signout" class="btn btn-secondary">
    <i class="fas fa-sign-out-alt"></i>
    <span>@T("Plugins.Payments.AmazonPay.Signout")</span>
</button>

<script sm-target-zone="scripts" src="@Html.Raw(Model.CheckoutScriptUrl)"></script>
<script sm-target-zone="scripts" data-origin="amazonpay-button">
    $(function () {
        $('#amazonpay-signout').on('click', function () {
            amazon.Pay.signout();
        });
    });
</script>
