@model PaymentInfoModelBase

@if (Model == null)
{
    // Can actually never happen
    return;
}

<div sm-if="Model.Description.HasValue()" class="text-muted">
    @Html.Raw(Model.Description)
</div>
