@{
    ViewBag.Title = T("Admin.Configuration.QuantityUnit.EditQuantityUnitDetails").Value;
}

<form id="quantity-units">
    <div class="section-header">
        <div class="title">
            @T("Admin.Configuration.QuantityUnit.EditQuantityUnitDetails")
        </div>
    </div>

    <partial name="_Grid.QuantityUnits" model="null" />
</form>