@model ProductReviewListModel

<div class="form-group">
    <smart-label asp-for="CreatedOnFrom" />
    <editor asp-for="CreatedOnFrom" />
</div>
<div class="form-group">
    <smart-label asp-for="CreatedOnTo" />
    <editor asp-for="CreatedOnTo" />
</div>
<div class="form-group">
    <smart-label asp-for="Ratings" />
    <select asp-for="Ratings" asp-items="ViewBag.Ratings" multiple="multiple"></select>
</div>
