@model AddressModel

@{
    Assets.AppendTitleParts(T("PageTitle.Account"));

    Layout = "_MyAccount";
    ViewBag.PageClassToken = "addresses";
    ViewBag.PageTitle = T("Account.CustomerAddresses.AddNew").Value;
    ViewBag.breakpoint = "lg";
}

<form asp-action="AddressAdd">
    <div asp-validation-summary="All"></div>
    <partial name="_CreateOrUpdateAddress" model="Model" />

    <div class="form-group row">
        <div class="col">
            <button type="submit" class="btn btn-primary btn-lg save-address-button">
                <i class="fa fa-check"></i>
                <span>@T("Common.Save")</span>
            </button>
        </div>
    </div>
</form>