@using Smartstore.Web.Models.Cart;

@model IList<ShoppingCartModel.CheckoutAttributeModel>

<div sm-if="Model.Count > 0" class="cart-checkout-attributes">
	@foreach (var attribute in Model)
	{
		<partial name="ChoiceTemplates/Choice" model="attribute" />
	}
</div>