@model TaskModel

<datagrid id="tasks-grid" 
		allow-resize="true" 
		allow-column-reordering="true" 
		preserve-grid-state="true"
        onrowclass="tasksGrid_onRowClass">
	<datasource read="@Url.Action("TaskList")" />
	<columns>
        <column for="Name" hideable="false">
            <display-template>
                <a :href="item.row.ViewUrl" class="text-truncate">
                    {{ item.value }}
                </a>
            </display-template>
        </column>
        @* INFO: (mh) (core) Icon rendering for boolean columns is already baked in.  *@
        <column for="Enabled" halign="center"></column>
        <column for="CronExpression">
            <display-template>
                <div>{{ item.value }}</div>
                <div v-if="item.row.CronDescription.length > 0" class="text-muted">{{ item.row.CronDescription }}</div>
            </display-template>
        </column>
        @*TODO: (mg) (core) grid column LastRun *@
        @*TODO: (mg) (core) grid column NextRun *@
	</columns>
    <row-commands>
        @*TODO: (mg) (core) grid row-commands *@
    </row-commands>
</datagrid>

<script sm-target-zone="scripts" data-origin="tasks-grid">
    function tasksGrid_onRowClass(row) {
        return {
            "active-row": false, // TODO: (mg) (core) Read task.LastExecutionInfo.IsRunning from serialized row somehow.
            "table-light": !row.Enabled // TODO: (mg) (core) "table-light" seems wrong. Maybe "text-muted"?
        };
    }
</script>