@{
    ViewBag.Title = T("Admin.System.ScheduleTasks").Value;
}

<div class="section-header">
    <div class="title">
		<i class="far fa-clock"></i>
        <span>@T("Admin.System.ScheduleTasks")</span>
    </div>
</div>

<partial name="_Grid.Tasks" model="null" />

<script sm-target-zone="scripts" data-origin="TaskList">
	$(function () {
		@*
			TODO: (mg) (core) complete task list (TaskWatcher required).
			(RE): all bundles are available already, so TaskWatcher is available too.
		*@
	});
</script>
