<div class="card card-body text-center d-flex" style="border-style: dashed;">
    <div class="fs-h3 mt-3 mb-2 text-uppercase">
        @T("Common.Or")
    </div>
    <div class="fs-display-3 text-muted">
        <i class="fa fa-plus"></i>
    </div>
    <div class="mt-auto">
        <button type="button" class="btn btn-primary btn-block add-new-address align-self-end">
            <span>@T("Admin.Customers.Customers.Addresses.AddNew")</span>
            <i class="fa fa-angle-right"></i>
        </button>
    </div>
</div>

