@using Smartstore.Admin.Models.Logging

@model LogModel

<datagrid id="log-grid" ondatabinding="onDataBinding" allow-resize="true" allow-row-selection="true" allow-column-reordering="true">
    <datasource read="@Url.Action("LogList")" delete="@Url.Action("LogDelete")" />
    <paging position="Bottom" show-size-chooser="true" />
    <sorting enabled="true" allow-unsort="true" allow-multisort="false">
        <sort by="CreatedOn" descending="true" />
    </sorting>
    <toolbar>
        <button type="button" class="btn btn-secondary btn-flat">
            <i class="fa fa-fw fa-filter"></i>
        </button>
        <button datagrid-action="DataGridToolAction.DeleteSelectedRows" type="button" class="btn btn-danger btn-flat ml-auto">
            <i class="far fa-trash-alt"></i>
            <span>@T("Admin.Common.Delete.Selected")</span>
        </button>
    </toolbar>
    <columns>
        <column for="Id" visible="false" />
        <column for="Logger" width="250px">
            <display-template>
                <span class="text-muted text-truncate" :title="item.value">{{ item.row.LoggerShort }}</span>
            </display-template>
        </column>
        <column for="ShortMessage" hideable="false">
            <display-template>
                <span :class="'mr-1 badge badge-' + item.row.LogLevelHint">{{ item.row.LogLevel }}</span>
                <a :href="item.row.ViewUrl" class="text-truncate">
                    {{ item.value }}
                </a>
            </display-template>
        </column>
        <column for="UserName" width="max-content" />
        <column for="CreatedOn" entity-member="CreatedOnUtc" />
    </columns>
</datagrid>