@using Smartstore.Admin.Models.Logging
@using Smartstore.Core.Logging
 
@model LogListModel

<div class="form-group">
    <smart-label asp-for="LogLevelId" />
    <select asp-for="LogLevelId" asp-items="Html.GetLocalizedEnumSelectList(typeof(LogLevel)).Skip(1)" asp-placeholder="@T("Admin.Common.All")"></select>
</div>
<div class="form-group">
    <smart-label asp-for="CreatedOnFrom" />
    <editor asp-for="CreatedOnFrom" />
</div>
<div class="form-group">
    <smart-label asp-for="CreatedOnTo" />
    <editor asp-for="CreatedOnTo" />
</div>
<div class="form-group">
    <smart-label asp-for="Logger" />
    <div class="has-icon has-icon-right">
        <input asp-for="Logger" />
        <span class="input-group-icon">
            <a href="@Url.Action("SearchFilter", "Help")" class="pretty-link text-muted open-help">
                <i class="fa fa-circle-question"></i>
            </a>
        </span>
    </div>
</div>
<div class="form-group">
    <smart-label asp-for="Message" />
    <input asp-for="Message" />
</div>

<script sm-target-zone="end">
    $(function () {
        $('.open-help').on('click', function (e) {
            e.preventDefault();
            openPopup({
                url: this.href,
                large: false,
                flex: false,
                closer: false,
                keyboard: true,
                backdrop: 'invisible'
            });
            return false;
        });
    });
</script>