@using Smartstore.Admin.Models.Logging

@model LogModel

@{
    var gridPageSize = GetMetadata<int>("GridPageSize");
}

<datagrid id="log-grid" border-style="HorizontalBorders" striped="true" hover="true" allow-resize="true" allow-row-selection="true" ondatabinding="onDataBinding" preserve-grid-state="false">
    <datasource read="@Url.Action("LogList")" delete="@Url.Action("LogDelete")" />
    <paging position="Bottom" show-size-chooser="true" />
    <sorting enabled="true"></sorting>
    <toolbar>
        <button datagrid-action="DataGridToolAction.DeleteSelectedRows" type="button" class="btn btn-danger btn-flat ml-auto">
            <i class="far fa-trash-alt"></i>
            <span>@T("Admin.Common.Delete.Selected")</span>
        </button>
    </toolbar>
    <columns>
        <column for="Logger" width="250px">
            <display-template>
                <span class="text-muted text-truncate" :title="item.value">{{ item.row.LoggerShort }}</span>
            </display-template>
        </column>
        <column for="ShortMessage">
            <display-template>
                <span :class="'mr-1 badge badge-' + item.row.LogLevelHint">{{ item.row.LogLevel }}</span>
                <a :href="item.row.ViewUrl" class="text-truncate">
                    {{ item.value }}
                </a>
            </display-template>
        </column>
        <column for="UserName" width="max-content" />
        <column for="CreatedOn" width="auto" />
    </columns>
</datagrid>