@using Smartstore.Admin.Models.Logging

@model LogListModel

@{
    ViewBag.Title = T("Admin.System.Log").Value;
    Assets.BodyAttributes.AppendCssClass("spa-layout");
}

<form method="post" asp-action="List">
    <div class="section-header">
        <div class="title">
            <i class="fa fa-fire"></i>
            @T("Admin.System.Log")
        </div>
    </div>

    <div class="row mt-3 grid-filter">
        <div class="col-sm-6 col-lg-4 col-xl-3 form-group">
            <smart-label asp-for="CreatedOnFrom" />
            <editor asp-for="CreatedOnFrom" />
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 form-group">
            <smart-label asp-for="CreatedOnTo" />
            <editor asp-for="CreatedOnTo" />
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 form-group">
            <smart-label asp-for="Logger" />
            <input asp-for="Logger" />
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 form-group">
            <smart-label asp-for="Message" />
            <input asp-for="Message" />
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 form-group">
            <smart-label asp-for="LogLevelId" />
            <select asp-for="LogLevelId" asp-items="Model.AvailableLogLevels" placeholder="@T("Admin.Common.All")">
            </select>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 form-group">
            <label>&nbsp;</label>
            <button type="submit" id="btnSearch" value="btnSearch" class="btn btn-secondary btn-block">
                <span>@T("Admin.Common.Search")</span>
            </button>
        </div>
    </div>
</form>

<partial name="_Grid.Logs" model="null" />

<script sm-target-zone="scripts" data-origin="logs-list">
    function onDataBinding(command) {
        @*var searchModel = {
            CreatedOnFrom: $('#@Html.FieldIdFor(model => model.CreatedOnFrom)').val(),
            CreatedOnTo: $('#@Html.FieldIdFor(model => model.CreatedOnTo)').val(),
            Logger: $('#@Html.FieldIdFor(model => model.Logger)').val(),
            Message: $('#@Html.FieldIdFor(model => model.Message)').val(),
            LogLevelId: $('#@Html.FieldIdFor(model => model.LogLevelId)').val()
        };
        e.data = searchModel;*@

        @*command.searchModel = searchModel;
        command.CreatedOnFrom = $('#@Html.IdFor(model => model.CreatedOnFrom)').val();*@
        // ...
    }

    $(function() {
        $('#btnSearch').on("click", x => {
            //var grid = window["log-grid"];
            //grid.currentPage = 1;
            //return false;

            //// New search. Set page size to 1.
            //grid.currentPage = 1;
            //grid.ajaxRequest();
            //return false;
        });

        $("#@Html.IdFor(x => x.Message), #@Html.IdFor(x => x.Logger)").on("keydown", event => {
            if (event.keyCode == 13) {
                // On enter key pressed - submit
                $("#btnSearch").click();
                return false;
            }
        });
    });
</script>