@using Smartstore.Admin.Models.Messages

@model MessageTemplateListModel

@{
    var isSingleStoreMode = (bool)ViewBag.IsSingleStoreMode;
}

<div class="form-group">
    <smart-label asp-for="SearchName" />
    <editor asp-for="SearchName" asp-template="SearchExpression" />
</div>
<div class="form-group">
    <smart-label asp-for="SearchSubject" />
    <editor asp-for="SearchSubject" asp-template="SearchExpression" />
</div>
<div sm-if="!isSingleStoreMode" class="form-group">
    <smart-label asp-for="SearchStoreId" />
    <editor asp-for="SearchStoreId" />
</div>