@{
    ViewBag.Title = T("Admin.ContentManagement.MessageTemplates").Value;
    Assets.BodyAttributes.AppendCssClass("spa-layout");
}

<div class="section-header">
    <div class="title">
        <i class="far fa-envelope"></i>
        @T("Admin.ContentManagement.MessageTemplates")
    </div>
    <div class="options">
        <zone name="admin_button_toolbar_before"></zone>
        <zone name="admin_button_toolbar_after"></zone>
    </div>
</div>

<partial name="_Grid.MessageTemplates" model="null" />