@model ManufacturerListModel

@{
    var isSingleStoreMode = (bool)ViewBag.IsSingleStoreMode;
}

<div class="form-group">
    <smart-label asp-for="SearchManufacturerName" />
    <editor asp-for="SearchManufacturerName" asp-template="SearchExpression" />
</div>
<div sm-if="!isSingleStoreMode" class="form-group">
    <smart-label asp-for="SearchStoreId" />
    <editor asp-for="SearchStoreId" />
</div>