<?xml version="1.0" encoding="utf-8" ?>
<Theme baseTheme="Flex" title="Flex Black" description="'Flex Black' default theme" author="SmartStore AG" version="1.0">

    <Vars>
        <Var name="indigo" type="Color">#3f51b5</Var>
        <Var name="boxed" type="Boolean">true</Var>
        <Var name="link-color" type="Color">$body-color</Var>
        <Var name="inverse-footer" type="Boolean">true</Var>
        <Var name="footer-bg" type="Color">#464646</Var>
        <Var name="btn-primary-bg" type="Color">#666</Var>
        <Var name="btn-primary-border" type="Color">#444</Var>
        <Var name="font-family-sans-serif" type="String">Abel, "Helvetica Neue", Arial, sans-serif</Var>
        <Var name="font-size-base" type="String">1rem</Var>
        <Var name="font-size-lg" type="String">1.25rem</Var>
        <Var name="font-size-sm" type="String">0.875rem</Var>
        <Var name="font-size-xs" type="String">0.8125rem</Var>

        <!-- Border Radius -->
        <Var name="border-radius" type="String">4px</Var>
        <Var name="border-radius-sm" type="String">3px</Var>
        <Var name="border-radius-lg" type="String">6px</Var>
        <Var name="border-radius-xl" type="String">8px</Var>
        <Var name="border-radius-xxl" type="String">12px</Var>
        
        <Var name="header-bg" type="Color">#111</Var>
        <Var name="inverse-menubar" type="Boolean">true</Var>
        <Var name="inverse-shopbar" type="Boolean">true</Var>
        <Var name="inverse-navbar" type="Boolean">true</Var>
        <Var name="menubar-bg" type="Color">#111</Var>
        <Var name="shopbar-bg" type="Color">#444</Var>
        <Var name="megamenu-bg" type="Color">#666</Var>
        <Var name="state-info-text" type="Color">#757575</Var>
        <Var name="state-info-bg" type="Color">#e0e0e0</Var>
        <Var name="dropdown-bg" type="Color">#f5f5f5</Var>
        <Var name="dropdown-border-color" type="Color">$gray-300</Var>
        <Var name="dropdown-link-color" type="Color">$gray-800</Var>
        <Var name="dropdown-link-hover-color" type="Color">rgba(0,0,0 ,0.87)</Var>
        <Var name="dropdown-link-hover-bg" type="Color">mix($gray-200, $gray-300)</Var>
        <Var name="dropdown-border-radius" type="Color">$border-radius</Var>
        <Var name="offcanvas-cart-footer" type="Color">#424242</Var>

        <!-- Search -->
        <Var name="searchbox-bg-1" type="Color">$gray-700</Var>
        <Var name="searchbox-color-1" type="Color">#fff</Var>
        <Var name="searchbox-bg-2" type="Color">#f5f5f5</Var>
        <Var name="searchbox-bg-mobile" type="Color">$searchbox-bg-1</Var>
        <Var name="searchbox-border-mobile" type="Color">$searchbox-border-1</Var>
    </Vars>
</Theme>