@using Smartstore.Core.Widgets

@{
    var zone = ViewData["widgetzone"] as IWidgetZone;
}

<span class="widget-zone-info badge badge-primary badge-subtle badge-ring text-truncate" title="@zone.Name" 
        attr-class='(zone.PreviewCssClass.HasValue(), zone.PreviewCssClass)'
        attr-style='(zone.PreviewCssStyle.HasValue(), zone.PreviewCssStyle)'>
    <span class="text-truncate">@zone.Name</span>
    @* Maybe later *@
    @*<a href="javascript:;" class="btn-clipboard pretty-link mr-1" data-copy="@zoneName">
        <span><i class="far fa-paste"></i></span>
    </a>*@
</span>