@model ReturnRequestListModel

@{
    ViewBag.Title = T("Admin.ReturnRequests").Value;

    Assets.BodyAttributes.AppendCssClass("spa-layout");

    var gridViewData = new ViewDataDictionary(ViewData);
    gridViewData["Parent"] = Model;
}

<div class="section-header">
    <div class="title">
        <i class="fa fa-truck-moving"></i>
        <span>@ViewBag.Title</span>
    </div>
    <div class="options">
        <zone name="admin_button_toolbar_before" />
        <zone name="admin_button_toolbar_after" />
    </div>
</div>

<partial name="_Grid.ReturnRequests" model="null" view-data="gridViewData" />