<footer id="footer" class="footer-light">
    <div class="footer-social-wrapper">
        <div class="container footer-social">
            <div class="row">
                <div class="col text-center">
                    <a href="#" target="_blank" class="btn btn-circle btn-social btn-brand-facebook-f">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" target="_blank" class="btn btn-circle btn-social btn-brand-twitter">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" target="_blank" class="btn btn-circle btn-social btn-brand-pinterest-p">
                        <i class="fab fa-pinterest-p"></i>
                    </a>
                    <a href="#" target="_blank" class="btn btn-circle btn-social btn-brand-instagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-wrapper">
        <div class="container footer-bottom">
            <div class="row sm-gutters">

                <div class="col pb-1 pb-sm-0">
                    * Alle Preise inkl. MwSt., zzgl. <strong>Versandkosten</strong>
                </div>

                <div class="col-12 col-sm-auto pb-1 pb-sm-0 text-sm-center">
                    <a href="https://www.smartstore.com/" class="sm-hint" target="_blank"><strong>Onlineshop Software</strong></a> by SmartStore AG © 2020
                </div>

                <div class="col text-sm-right">
                    Copyright © 2020 Alle Rechte vorbehalten.
                </div>
            </div>
        </div>
    </div>
</footer>
