@inject Smartstore.Core.Stores.IStoreContext StoreContext

@{ 
    Layout = "_Document";
}

<div id="page">
    <div class="canvas-blocker canvas-slidable"></div>

    <div class="page-main canvas-slidable">
        <header id="header">

            <!-- Shopbar -->
            <div class="shopbar-section shopbar-light">
                <div class="container shopbar-container">
                    <div class="shopbar">
                        <div class="shopbar-col-group shopbar-col-group-brand">
                            <div class="shopbar-col shop-logo">
                                <a class="brand" asp-route="Homepage">
                                    @*<img src="~/images/logo.png" alt="Smartstore" title="Smartstore" class="img-fluid" width="560" height="100">*@
                                    <img sm-file-id="@StoreContext.CurrentStore.LogoMediaFileId" sm-size="512" alt="Smartstore" title="Smartstore" class="img-fluid" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Megamenu -->
            <div class="megamenu-section d-none d-lg-block">
                <nav class="navbar navbar-light">
                    <div class="container megamenu-container">
                        <menu name="Main" template="Main" />
                    </div>
                </nav>
            </div>
        </header>

        <zone name="content-before"></zone>

        <div id="content-wrapper">
            <section id="content" class="container">
                <div class="d-none d-md-flex flex-wrap">
                    <h5 class="text-muted">@Context.Request.PathBase.Value - @Context.Request.Path.Value</h5>
                </div>

                <zone name="teaser"></zone>

                @await Component.InvokeAsync("Breadcrumb")

                <div id="content-body" class="row">
                    <div id="content-center" class="col-lg-12">
                        <zone name="main_column_before"></zone>
                        <div class="page">
                            <div class="page-body">
                                @RenderBody()
                            </div>
                        </div>
                        <zone name="main_column_after"></zone>
                    </div>
                </div>
            </section>
        </div>

        <zone name="content-after"></zone>

        @await Component.InvokeAsync("Footer")
    </div>

    <a href="#" id="scroll-top" class="scrollto d-flex align-items-center justify-content-center shadow-sm">
        <i class="fa fa-lg fa-angle-up"></i>
    </a>
</div>