@inject Smartstore.Core.Stores.IStoreContext StoreContext

@{ 
    Layout = "_Document";
}

<div id="page">
    <div class="canvas-blocker canvas-slidable"></div>

    <div class="page-main canvas-slidable">
        <header id="header">

            <!-- Shopbar -->
            <div class="shopbar-section shopbar-light">
                <div class="container shopbar-container">
                    <div class="shopbar">
                        <div class="shopbar-col-group shopbar-col-group-brand">
                            <div class="shopbar-col shop-logo">
                                <a class="brand" asp-route="Homepage">
                                    @*<img src="~/images/logo.png" alt="Smartstore" title="Smartstore" class="img-fluid" width="560" height="100">*@
                                    <img sm-file-id="@StoreContext.CurrentStore.LogoMediaFileId" sm-size="512" alt="Smartstore" title="Smartstore" class="img-fluid" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Megamenu -->
            <div class="megamenu-section d-none d-lg-block">
                <nav class="navbar navbar-light">
                    <div class="container megamenu-container">

                        @*<menu sm-name="Main" sm-template="Main"></menu>*@

                        <div class="mainmenu megamenu">
                            <div class="cms-menu cms-menu-navbar" data-menu-name="main">
                                <div class="megamenu-nav megamenu-nav--prev alpha">
                                    <a href="#" class="megamenu-nav-btn btn btn-icon"><i class="far fa-chevron-left"></i></a>
                                </div>

                                <ul class="navbar-nav flex-row flex-nowrap" id="menu-main">
                                    <li class="nav-item">
                                        <a class="nav-link menu-link" asp-route="Homepage">
                                            <span>Home</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link menu-link" asp-route="Privacy">
                                            <span>Privacy</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link menu-link" asp-area="" asp-controller="Home" asp-action="Countries">
                                            <span>Länder</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">

                                        <a class="nav-link menu-link" asp-area="" asp-controller="Home" asp-action="Settings">
                                            <span>Settings</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link menu-link" asp-area="" asp-controller="Home" asp-action="Logs">
                                            <span>Logs</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link menu-link" asp-area="" asp-controller="Home" asp-action="Files">
                                            <span>Files</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link menu-link" asp-route="Login">
                                            <span>Identity</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link menu-link" asp-action="Env">
                                            <span>Env</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link menu-link" asp-area="" asp-controller="Home" asp-action="Messages">
                                            <span>Messages</span>
                                        </a>
                                    </li>
                                </ul>

                                <div class="megamenu-nav megamenu-nav--next omega">
                                    <a href="#" class="megamenu-nav-btn btn btn-icon"><i class="far fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        <zone sm-zone-name="content-before"></zone>

        <div id="content-wrapper">
            <section id="content" class="container">
                <div class="d-none d-md-flex flex-wrap">
                    <h5 class="text-muted">@Context.Request.PathBase.Value - @Context.Request.Path.Value</h5>
                </div>

                <zone sm-zone-name="teaser"></zone>

                <div id="content-body" class="row">
                    <div id="content-center" class="col-lg-12">
                        <zone sm-zone-name="main_column_before"></zone>
                        <div class="page">
                            <div class="page-body">
                                @RenderBody()
                            </div>
                        </div>
                        <zone sm-zone-name="main_column_after"></zone>
                    </div>
                </div>
            </section>
        </div>

        <zone sm-zone-name="content-after"></zone>

        <partial name="_Footer" />
    </div>

    <a href="#" id="scroll-top" class="scrollto d-flex align-items-center justify-content-center shadow-sm">
        <i class="fa fa-lg fa-angle-up"></i>
    </a>
</div>