@model PmAccountDropdownModel

<a asp-route="PrivateMessages" asp-route-tab="inbox" rel="nofollow" class="dropdown-item">
	<i class="fal fa-envelope fa-fw"></i>
	<span>@T("PrivateMessages.Inbox")</span>
	<span sm-if="Model.UnreadMessagesCount > 0" class="badge badge-success">@Model.UnreadMessagesCount</span>
</a>
@if (Model.Alert && Model.UnreadMessagesCount > 0)
{
	<script sm-target-zone="scripts" data-origin="pm-account-dropdown">
		$(function () {
			displayNotification(@T("PrivateMessages.YouHaveUnreadPM", Model.UnreadMessagesCount).JsValue, 'info');
		});
	</script>
}
