/// <reference path="../../../Smartstore.Web/wwwroot/shared/references.scss" />

@mixin widget-zone-preview() {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    border: 2px dotted rgba(var(--badge-ring-color-rgb), 0.2);
    margin-block: 3px;
    text-align: start;
    box-shadow: none !important;
    transition: 1s;

    @keyframes pulse-highlight {
        0%, 100% {
            background-color: var(--badge-bg);
            border-color: var(--warning) !important;
        }

        50% {
            background-color: var(--warning);
            border-color: var(--warning) !important;
        }
    }

    &.wz-highlight {
        animation: pulse-highlight 0.4s ease-in-out 3;
        // Overwrite .d-none
        display: flex !important;
        z-index: 999;
    }
}

#wz-menu {
    .wz-zone-list {
        filter: grayscale(1);
    }

    .wz-zone-group > * {
        padding-left: 1rem;
    }

    .wz-zone-pointer-container {
        &:hover, &.active {
            background-color: rgba(255, 255, 255, 0.1);
        }

        .wz-zone-pointer {
            color: var(--primary-border-subtle);
            font-size: 0.8rem;
            transition: 0.3s;

            &:hover {
                color: var(--white);
            }
        }
    }

    .copy-to-clipboard.text-secondary:hover {
        color: var(--white) !important;
    }

    #wz-toolbar {
        // INFO: Use indigo, when grayscale effect is used on #wz-menu.
        /*background-color: var(--indigo);*/
        background-color: var(--gray-700);

        .wz-tool {
            color: var(--gray-300) !important;
            font-size: 1.375rem;

            &:not(.disabled):hover {
                text-decoration: none;
                background-color: rgba(255, 255, 255, 0.15);
                //color: var(--white) !important;
                color: lighten(red, 30%) !important;
            }

            &[data-persistent] {
                color: var(--red) !important;
                transition: 0.2s;

                > svg {
                    filter: drop-shadow(0 0 2px var(--red));
                }
            }

            &.show-wz[data-persistent] {
                color: var(--green) !important;

                > svg {
                    filter: drop-shadow(0 0 2px var(--green));
                }
            }

            &.disabled {
                pointer-events: none;

                > svg {
                    opacity: 0.3;
                }
            }
        }

        .tool-divider {
            position: relative;
            top: 20%;
            width: 1px;
            height: 60%;
            background-color: var(--gray-650);
            transition: 0.1s;
        }
    }
}