@model ForumGroupListModel

@{  
    ViewBag.Title = T("Admin.ContentManagement.Forums.Manage").Value;
    Assets.BodyAttributes.AppendCssClass("spa-layout");
}

<div class="section-header">
    <div class="title">
        <i class="fa fa-users"></i>
        <span>@ViewBag.Title</span>
    </div>
    <div class="options">
		<zone name="admin_button_toolbar_before" />
		<zone name="admin_button_toolbar_after" />
    </div>
</div>

TODO: (mg) (core) forum list.