@using Smartstore.Web.Areas.Admin.Models
@using Smartstore.Core.Catalog.Discounts
 
@model EditorTemplatesTestModel

@{
    // TODO: (mh) (core) Remove when testing is done.
    Layout = "_AdminLayout";
}

<form asp-action="EditorTemplates" id="editor-templates">

    <div class="adminContent">

        <div asp-validation-summary="ModelOnly"></div>

        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="WidgetZone" />
            </div>
            <div class="adminData">
                <editor asp-for="WidgetZone" asp-template="WidgetZone" />
                <span asp-validation-for="WidgetZone"></span>
            </div>
        </div>

        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="String" />
            </div>
            <div class="adminData">
                <editor asp-for="String" />
                <span asp-validation-for="String"></span>
            </div>
        </div>
        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="Textarea" />
            </div>
            <div class="adminData">
                <editor asp-for="Textarea" />
                <span asp-validation-for="Textarea"></span>
            </div>
        </div>

        @*@Html.EditorFor(model => model, "SeoModel")*@

        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="StoreId" />
            </div>
            <div class="adminData">
                <editor asp-for="StoreId" />
                <span asp-validation-for="StoreId"></span>
            </div>
        </div>
        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="SelectedStoreIds" />
            </div>
            <div class="adminData">
                <editor asp-for="SelectedStoreIds" />
                <span asp-validation-for="SelectedStoreIds"></span>
            </div>
        </div>
        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="SelectedRuleSetIds" />
            </div>
            <div class="adminData">
                <editor asp-for="SelectedRuleSetIds" />
                <span asp-validation-for="SelectedRuleSetIds"></span>
            </div>
        </div>
        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="DownloadId" />
            </div>
            <div class="adminData">
                <editor asp-for="DownloadId" />
                <span asp-validation-for="DownloadId"></span>
            </div>
        </div>
        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="SelectedDiscountIds" />
            </div>
            <div class="adminData">
                <editor asp-for="SelectedDiscountIds" />
                <span asp-validation-for="SelectedDiscountIds"></span>
            </div>
        </div>
        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="DeliveryTimeId" />
            </div>
            <div class="adminData">
                <editor asp-for="DeliveryTimeId" />
                <span asp-validation-for="DeliveryTimeId"></span>
            </div>
        </div>
        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="SelectedCustomerRoleIds" />
            </div>
            <div class="adminData">
                <editor asp-for="SelectedCustomerRoleIds" />
                <span asp-validation-for="SelectedCustomerRoleIds"></span>
            </div>
        </div>
        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="PermissionNames" />
            </div>
            <div class="adminData">
                <editor asp-for="PermissionNames" />
                <span asp-validation-for="PermissionNames"></span>
            </div>
        </div>
    </div>

    @*@Html.EditorFor(model => model.Address)*@

    <div class="adminContent">
        <hr />
        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="BooleanNullable" sm-hint="Nullable" />
            </div>
            <div class="adminData">
                <editor asp-for="BooleanNullable"/>
                <span asp-validation-for="BooleanNullable"></span>
            </div>
        </div>
        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="BooleanNotNullable" sm-hint="Not nullable" />
            </div>
            <div class="adminData">
                <editor asp-for="BooleanNotNullable" />
                <span asp-validation-for="BooleanNotNullable"></span>
            </div>
        </div>
        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="ButtonType" />
            </div>
            <div class="adminData">
                <editor asp-for="ButtonType" />
                <span asp-validation-for="ButtonType"></span>
            </div>
        </div>
        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="Byte" />
            </div>
            <div class="adminData">
                <editor asp-for="Byte" sm-postfix="Test" />
                <span asp-validation-for="Byte"></span>
            </div>
        </div>
        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="Color" />
            </div>
            <div class="adminData">
                @*@Html.EditorFor(model => model.Color, new { fallbackColor = "#ccc" })*@
                <editor asp-for="Color" attrs='new AttributeDictionary { { "fallbackColor", "#000" } }' />
                <span asp-validation-for="Color"></span>
            </div>
        </div>
        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="DateTime" />
            </div>
            <div class="adminData">
                <editor asp-for="DateTime" />
                <span asp-validation-for="DateTime"></span>
            </div>
        </div>
        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="Decimal" />
            </div>
            <div class="adminData">
                <editor asp-for="Decimal" />
                <span asp-validation-for="Decimal"></span>
            </div>
        </div>
        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="Double" />
            </div>
            <div class="adminData">
                <editor asp-for="Double" />
                <span asp-validation-for="Double"></span>
            </div>
        </div>
        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="Html" />
            </div>
            <div class="adminData">
                <editor asp-for="Html" />
                <span asp-validation-for="Html"></span>
            </div>
        </div>
        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="Int" />
            </div>
            <div class="adminData">
                <editor asp-for="Int" />
                <span asp-validation-for="Int"></span>
            </div>
        </div>
        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="Long" />
            </div>
            <div class="adminData">
                <editor asp-for="Long" />
                <span asp-validation-for="Long"></span>
            </div>
        </div>
        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="Link" />
            </div>
            <div class="adminData">
                <editor asp-for="Link" />
                <span asp-validation-for="Link"></span>
            </div>
        </div>
        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="Liquid" />
            </div>
            <div class="adminData">
                <editor asp-for="Liquid" />
                <span asp-validation-for="Liquid"></span>
            </div>
        </div>
        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="Media" />
            </div>
            <div class="adminData">
                <editor asp-for="Media" />
                <span asp-validation-for="Media"></span>
            </div>
        </div>
        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="QtyInput" />
            </div>
            <div class="adminData">
                @*@Html.EditorFor(model => model, "QtyInput", new { large = false })*@
                <span asp-validation-for="QtyInput"></span>
            </div>
        </div>
        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="Range" />
            </div>
            <div class="adminData">
                <editor asp-for="Range" />
                <span asp-validation-for="Range"></span>
            </div>
        </div>
        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="Time" />
            </div>
            <div class="adminData">
                <editor asp-for="Time" />
                <span asp-validation-for="Time"></span>
            </div>
        </div>

        <div class="adminRow">
            <div class="adminTitle">
                &nbsp;
            </div>
            <div class="adminData">
                <button type="submit">Speichern</button>
            </div>
        </div>
    </div>
</form>

<script sm-target-zone="scripts" data-origin="EditorTemplates">
    $(function () {
        initializeEditControls();
    });
</script>