@{
    Layout = "_AdminLayout";
    Assets.BodyAttributes.AppendCssClass("minimal-admin");
}

<div class="section-header">
    <div class="title">
        <i class="far fa-chart-bar"></i>
        @T("Admin.Dashboard.StoreStatistics")
    </div>
</div>

<div class="dashboard-grid">
    <zone name="admin_dashboard_top"></zone>

    <div class="report-incomplete-orders">
        @await Component.InvokeAsync("DashboardIncompleteOrders")
    </div>
    <div class="report-orders">
        @await Component.InvokeAsync("DashboardOrders")
    </div>
    <div class="report-bestsellers">
        @await Component.InvokeAsync("DashboardBestsellers")
    </div>
    <div class="report-top-customers">
        @await Component.InvokeAsync("DashboardTopCustomers")
    </div>
    <div class="report-customer-registrations">
        @await Component.InvokeAsync("DashboardRegisteredCustomers")
    </div>
    <div class="report-latest-orders">
        @await Component.InvokeAsync("DashboardLatestOrders")
    </div>
    <div class="report-store-statistics">
        <partial name="~/Areas/Admin/Views/Store/StoreDashboardReport.cshtml" />
    </div>
    <div class="news-feed">
        @await Component.InvokeAsync("NewsFeed")
    </div>

    <zone name="admin_dashboard_bottom"></zone>
</div>