@model ConfigurationModel

@{
    Layout = "_ConfigureModule"; 
}

@await Component.InvokeAsync("StoreScope")

<form asp-action="Configure"> 
    <widget target-zone="admin_button_toolbar_before">
        <button id="SaveConfigButton" type="submit" name="save" class="btn btn-warning" value="save">
            <i class="fa fa-check"></i>
            <span>@T("Admin.Common.Save")</span> 
        </button>
    </widget>

    <div asp-validation-summary="All"></div>

    <div class="adminContent">
        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="EnableMiniProfilerInPublicStore" />
            </div>
            <div class="adminData">
                <setting-editor asp-for="EnableMiniProfilerInPublicStore" data-toggler-for="#pnlIgnorePaths"></setting-editor>
                <span asp-validation-for="EnableMiniProfilerInPublicStore"></span>
            </div>
        </div>
        <div id="pnlIgnorePaths" class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="MiniProfilerIgnorePaths" />
            </div>
            <div class="adminData">
                <setting-editor asp-for="MiniProfilerIgnorePaths"></setting-editor>
                <span asp-validation-for="MiniProfilerIgnorePaths"></span>
            </div>
        </div>
        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="DisplayWidgetZones" />
            </div>
            <div class="adminData">
                <setting-editor asp-for="DisplayWidgetZones"></setting-editor>
                <span asp-validation-for="DisplayWidgetZones"></span>
            </div>
        </div>
        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="DisplayMachineName" />
            </div>
            <div class="adminData">
                <setting-editor asp-for="DisplayMachineName"></setting-editor>
                <span asp-validation-for="DisplayMachineName"></span>
            </div>
        </div>
    </div>
</form>
