/// <reference path="references.scss" />

/* COLORPICKER skinning
------------------------------------*/

.colorpicker-component {
	.input-group-text {
        padding: 0;
        width: $input-height;

		.thecolor {
            width: 24px;
            height: 24px;
            border: 1px solid rgba($black, 0.2);
            border-radius: var(--border-radius-sm);
		}
	}
}