/// <reference path="references.scss" />

//
// HTML editors
// --------------------------------------------------------------

.cke_chrome.cke_focus {
    border-color: $input-focus-border-color;
    box-shadow: none;
}

.note-editor-preview {
	border: 1px solid $input-border-color;
	min-height: 100px;
	max-height: 350px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: $input-padding-y $input-padding-x;
    border-radius: $input-border-radius;
	cursor: default;

	&.empty {
		min-height: initial;
		//color: $text-muted;
	}
}


//
// Common
// --------------------------------------------------------------

.note-btn {
    --btn-padding-x: 9px;
}

.note-btn > i,
.note-btn > svg {
    //font-size: 16px !important;
    fill: currentColor;
}

.note-btn > svg {
    height: 14px;
}

.note-editor {
	.note-toolbar {
        display: flex;
	    flex-wrap: wrap;

        .note-btn-group {
            column-gap: 1px;
            //z-index: $zindex-dropdown - 1;
        }

        .btn.note-btn {
            min-width: 32px;
        }

        > .note-btn-group {
            border: 0 solid rgba($black, 0.12);
            border-inline-end-width: 1px;
            padding-inline-end: 5px;
        }

        > .note-btn-group:last-of-type {
            border-inline-end-width: 0;
            padding-inline-end: 0;
        }

        > .note-btn-group > .note-btn,
        > .note-btn-group > .note-btn-group > .note-btn {
            // Apply flat style only to buttons in toolbar
            @include button-flat();
            margin-inline-start: 0;
        }

        .note-codeview-keep.active > .fa-expand:before {
            // Swap icon: expand --> compress
            content: "\f066";
        }

        .note-recent-color {
            display: inline-block;
            border: 1px solid rgba($black, 0.12);
            padding-inline: 2px;
            border-radius: 3px;
        }

        .note-current-fontsize {
            display: inline-block;
            width: 16px;
        }

		.note-para > .btn-group:last-child .dropdown-menu.show {
			// Fix: the para popover button groups should not wrap
			display: flex !important;
		}

		.note-font > .btn-group:first-child > .btn {
			// Fix: the fontsize button width should not change (toolbar flickers)
			padding-inline: 0.5rem;
			width: 112px;
            max-width: 112px;
            justify-content: space-between;
            font-weight: 400;

            > .note-current-fontname {
                @include text-truncate;
            }
		}

		.scrollable-menu {
            --scrollbar-track-color: #fff;
            --scrollbar-track-hover-color: #fff;
			height: auto;
			max-height: 340px;
			min-width: 280px;
			overflow-x: hidden;
		}

		.btn-group-cssclass .dropdown-menu {
			.dropdown-item {
				position: relative;

				&.checked {
					order: -1;

					&:before {
						position: absolute;
						content: '';
						inset-inline-start: 0;
						top: 0;
						bottom: 0;
						width: 3px;
						background-color: $warning;
					}
				}
			}
		}
	}

	.note-editable {
        a {
            text-decoration: underline;
        }

		table:not(.table-bordered):not([border]),
		table:not(.table-bordered)[border='0'] {
			border-collapse: collapse;

			td, th {
				border: 1px dashed #bbb;
			}
		}
	}

	.note-dropdown-menu > .dropdown-item > * {
		// Overwrite all reboot margins in Summernote dropdown items
		margin-bottom: 0;
	}

    .dropdown-cssclass > .dropdown-item {
        > .d-block {
            width: 100%;
        }
    }

    .dropdown-fontsize {
        min-width: 92px;
    }
}