@{
    ViewBag.Title = T("Admin.Configuration.Measures.Dimensions").Value;
    Assets.BodyAttributes.AppendCssClass("spa-layout");
}

<form id="measures-dimensions">
    <div class="section-header">
        <div class="title">
            <i class="fas fa-ruler-combined"></i>
            <span>@T("Admin.Configuration.Measures.Dimensions")</span>
        </div>
    </div>
    <input type="submit" id="btnRefresh" name="btnRefresh" class="d-none" />
</form>

<partial name="_Grid.MeasureDimension" model="null" />