/// <reference path="references.scss" />

.alert > *:last-child {
    margin-bottom: 0;
}

.alert a:not(.btn):not(.link-dnn) {
    @extend .link-duu;
    @extend .link-transition;
}

.alert-info, 
.alert-danger, 
.alert-success, 
.alert-warning {
    --alert-icon-bg: rgba(var(--alert-base-rgb), 1);
    --alert-icon-bg-rgb: var(--alert-base-rgb);
    --alert-icon-color: var(--alert-bg);
    --alert-icon-content: "\f129"; // info
	
	line-height: 1.5;

    @if ($enable-alert-icons) {
        padding-inline-start: 4rem;
	    border-width: 0;

        @include alert-icon-box;
    }
    @else {
        border-left-width: 4px;
        border-left-color: var(--alert-icon-bg);
    }
}

.alert-info {
    --alert-icon-content: "\f129"; // info

    @if $alert-info-is-primary {
        // info should have primary color
        --alert-base-rgb: var(--primary-rgb);
        --alert-color: var(--primary-text-emphasis);
        --alert-bg: var(--primary-bg-subtle);
        --alert-border-color: var(--primary-border-subtle);
        --alert-link-color: var(--primary-text-emphasis);
        @include bg-color-vars(primary-bg-subtle);
    }
    @else {
        @include bg-color-vars(info-bg-subtle);
    }
}

.alert-danger {
    --alert-icon-content: "\f071"; // exclamation-triangle
    @include bg-color-vars(danger-bg-subtle);
}

.alert-success {
    --alert-icon-content: "\f00c"; // check
    @include bg-color-vars(success-bg-subtle);
}

.alert-warning {
    --alert-icon-content: "\f12a"; // exclamation
    @include bg-color-vars(warning-bg-subtle);
}


.alert > ul {
	padding-inline-start: 1.2rem;
}

.alert > *:first-child {
	margin-top: 0 !important;
}

.alert > *:last-child {
	margin-bottom: 0 !important;
}