/// <reference path="references.scss" />

.alert > *:last-child {
    margin-bottom: 0;
}

.alert-info,
.alert-danger,
.alert-success,
.alert-warning {
    --alert-icon-bg: transparent;
    --alert-icon-bg-rgb: 0,0,0;
    --alert-icon-color: var(--alert-bg);
    --alert-icon-content: "\f129"; // info

	padding-inline-start: 4rem;
	line-height: 1.5;
	border-width: 0;

    // Left icon box
	&:before {
		display: block;
		position: absolute;
		content: ' ';
		left: 0;
		top: 0;
		bottom: 0;
		width: 3rem;
		z-index: 1;
        background-color: var(--alert-icon-bg);
        @include border-left-radius(var(--alert-border-radius));
	}

    // Icon
	&:after {
		display: block;
		position: absolute;
		color: var(--alert-icon-color);
        @include fontawesome-font(var(--alert-icon-content), regular);
		inset-inline-start: 0;
		top: 50%;
		font-size: 24px;
		width: 3rem;
		text-align: center;
		transform: translateY(-50%);
		z-index: 2;
	}
}

.alert-info {
    --alert-icon-content: "\f129"; // info

    @if $alert-info-is-primary {
		// info should have primary color
        $c: theme-color-level(primary, $alert-color-level);
        $bg: theme-color-level(primary, $alert-bg-level);
        --alert-color: #{$c};
        --alert-bg: #{$bg};
        --alert-border-color: #{theme-color-level(primary, $alert-border-level)};
        --alert-link-color: #{darken($primary, 10%)};
        --alert-icon-bg: #{$primary};
        --alert-icon-bg-rgb: #{to-rgb($primary)};
    }
    @else {
        --alert-icon-bg: #{$info};
        --alert-icon-bg-rgb: #{to-rgb($info)};
    }
}

.alert-danger {
    --alert-icon-bg: #{$danger};
    --alert-icon-bg-rgb: #{to-rgb($danger)};
    --alert-icon-content: "\f071"; // exclamation-triangle
}

.alert-success {
    --alert-icon-bg: #{$success};
    --alert-icon-bg-rgb: #{to-rgb($success)};
    --alert-icon-content: "\f00c"; // check
}

.alert-warning {
    --alert-icon-bg: #{$warning};
    --alert-icon-bg-rgb: #{to-rgb($warning)};
    --alert-icon-content: "\f12a"; // exclamation
}


.alert > ul {
	padding-inline-start: 1.2rem;
}

.alert > *:first-child {
	margin-top: 0 !important;
}

.alert > *:last-child {
	margin-bottom: 0 !important;
}