/// <reference path="_variables-shared.scss" />
/// <reference path="_mixins.scss" />
/// <reference path="../lib/bs4/scss/bootstrap.scss" />


//
// Badge common
// -----------------------------------------------------

.badge {
    --badge-ring-opacity: 0;
    --badge-ring-color-rgb: 255,255,255;
    box-shadow: inset rgba(var(--badge-ring-color-rgb), var(--badge-ring-opacity)) 0px 0px 0px 1px;
}

//
// Badge icons
// -----------------------------------------------------

.badge > i {
    //font-size: cssmax(14px, var(--badge-font-size));
    position: relative;
    top: 1px;
    opacity: 0.6;
    line-height: inherit;
}


//
// Badge closer
// -----------------------------------------------------

.badge > .close {
    position: relative;
    //top: -1px;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    float: none;
    text-shadow: none;
    color: inherit !important;
    opacity: 0.7;
    text-decoration: none !important;
    transition: opacity 0.1s;

    &:hover {
        opacity: 1 !important;
    }
}

//
// Subtle & Outline badge variants
// -----------------------------------------------------

.badge-subtle {
    --badge-bg-opacity: 0.15;
    --badge-hover-bg-opacity: 0.25;
}

.badge-outline {
    --badge-bg-opacity: 0;
    --badge-hover-bg-opacity: 1;
    --badge-ring-opacity: 0.5;
    --badge-ring-color-rgb: var(--badge-bg-rgb);
}

@each $color, $value in $theme-colors {
    .badge-subtle.badge-#{$color},
    .badge-outline.badge-#{$color} {
        $fg: $body-color;

        @if $color != "secondary" {
            $fg: theme-color-level($color, $badge-color-level);
        }

        --badge-color: #{$fg};
        --badge-color-rgb: #{to-rgb($fg)};
    }

    .badge-outline.badge-#{$color} {
        --badge-hover-color: #{color-yiq($value)};
    }
}


//
// Badge with subtle ring shadow
// -----------------------------------------------------

.badge-ring {
    --badge-ring-opacity: 0.1;
    --badge-ring-color-rgb: #{to-rgb($gray-700)};
}


//
// Indicator badge
// -----------------------------------------------------

.badge-indicator {
    --badge-padding-x: 4px !important;
    min-width: var(--badge-height);
}


//
// Slightly larger Badge/Label
// -----------------------------------------------------

.badge-lg {
    --badge-padding-x: #{$input-btn-padding-x};
    --badge-padding-y: #{$input-btn-padding-y};
    --badge-font-size: inherit;
    --badge-border-radius: #{$border-radius};

    &.badge-pill {
        --badge-padding-x: 1em !important;
    }
}