/// <reference path="_variables-shared.scss" />
/// <reference path="_mixins.scss" />
/// <reference path="../lib/bs4/scss/bootstrap.scss" />

//
// Choice Styles (Variants etc.)
// ------------------------------------------------------

$choice-box-gap:            6px;
$choice-box-size:           46px;
$choice-box-size-lg:        64px;
$choice-box-size-sm:        36px;
$choice-box-size-xl:        96px;

.choice {
    margin-bottom: 1rem;
}

.col-form-label.required,
.choice-label.required {
	color: inherit;
	font-weight: bold;
	&:after { content: ' *' }
}

.choice-item {
    display: inline-flex;
    align-items: center;
}

.choice-item-unavailable {
    color: $text-muted;
}

.choice-item-img,
.choice-item-color {
    display: inline-block;
    text-decoration: none !important;
    margin-inline-end: 0.4rem;
    overflow: hidden;
}

.choice-item-img {
    max-height: 1em;
    width: 1.25em;

    > img {
        max-width: 100%;
        height: auto;
        display: inherit;
    }
}

.choice-item-color {
    width: 1em;
    height: 1em;
    padding: 0;
}

.choice-description {
    color: $text-muted;
    font-size: $font-size-sm;
    margin-bottom: 0.5rem;
    > *:first-child { margin-top: 0; }
    > *:last-child { margin-bottom: 0; }
}

.choice-box-group {
    --choice-box-size: #{$choice-box-size};
    --choice-box-strike-color: rgba(0, 0, 0, 0.75);
	margin: 0;
	padding: 0;
	list-style-type: none;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: $choice-box-gap;
    
    @include clearfix();

    &.choice-box-group-sm {
        --choice-box-size: #{$choice-box-size-sm};
    }

    &.choice-box-group-lg {
        --choice-box-size: #{$choice-box-size-lg};
    }

    &.choice-box-group-xl {
        --choice-box-size: #{$choice-box-size-xl};
    }
}

.choice-box {
    position: relative;
    display: block;

    &.dark {
        --choice-box-strike-color: #fff;
    }
}

.choice-box-label {
    margin: 0;
}

.choice-box-content {
    position: relative;
	display: block;
    cursor: pointer;

    &:after {
        box-sizing: content-box;
        position: absolute;
        display: block;
        inset-inline-end: -6px;
        top: -6px;
        background-color: $warning;
        border-radius: 50%;
        border: 1px solid #fff;

        width: 16px;
        height: 16px;
        line-height: 16px;
        text-align: center;
        vertical-align: middle;

        @include fontawesome-font("\f00c", regular); // check
        color: #fff;
        font-size: 10px;

        opacity: 0;
        transform: scale(0);
        transition: all 0.1s ease-in;
    }
}

.choice-box-element {
    position: relative;
    display: inline-block;
    border: 1px solid rgba(0,0,0, .2);
    border-radius: $border-radius;
    background-color: #fff;

    height: var(--choice-box-size);
    line-height: var(--choice-box-size);
    min-width: var(--choice-box-size);
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    font-weight: $font-weight-medium;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-clip: padding-box;

    //&:hover { border-color: $gray-700; }

    .choice-box-text {
        padding: 0 0.4rem;
    }

    .choice-box.unavailable & {
        border: 1px dashed rgba(#000, .3);

        &.choice-box-image {
            opacity: .5;
        }

        &:after {
            position: absolute;
            content: '';
            background-color: var(--choice-box-strike-color);
            height: 1px;
            left: 0;
            right: 0;
            top: calc(50% - 1px);
            margin-inline: -8px;
            transform: rotate(-45deg);
        }
    }

    .choice-box.disabled & {
        opacity: .5;
    }
}

.choice-box-mediafile .choice-box-content {
    max-width: $choice-box-size-xl !important;

    .file-img {
        object-fit: contain;
        max-width: 100%
    }
}

.choice-box-control-native:checked + .choice-box-content {
    .choice-box-element {
        border-color: $gray-700;
        box-shadow: inset 0 0 0 2px rgba(#fff, 1);
    }

    &:after {
        opacity: 1;
        transform: scale(1);
    }
}

.choice-box-control-native {
	display: none !important;
}