/// <reference path="_variables-shared.scss" />
/// <reference path="_mixins.scss" />
/// <reference path="../lib/bs4/scss/bootstrap.scss" />

// Forms
// ------------------------------------------------------

input, 
textarea, 
select {
    // Overwrite UserAgent stylesheet (400)
    font-weight: $font-weight-normal;
}

fieldset.content-group {
    margin-bottom: 2rem;

    > legend {
        position: relative;
        font-size: $h5-font-size;
        font-weight: $font-weight-normal;
        color: $gray-500;
        text-transform: uppercase;
        margin-bottom: 1.2rem;

        &:before {
            position: absolute;
            content: ' ';
            width: 100%;
            left: 0;
            top: 50%;
            height: 1px;
            background: rgba(0,0,0, 0.12);
            z-index: 0;
        }

        > span {
            position: relative;
            display: inline-block;
            @if alpha($body-bg) == 0 {
                background: $site-bg;
            }
            @else {
                background: $body-bg;
            }
            
            padding-right: 1rem;
            z-index: 1;
        }
    }
}

.form-group label:not(.form-check-label) {
	font-weight: $font-weight-medium;
}

.required > label:after {
    content: ' *';
}

.form-text {
    line-height: 1.3;
}


// Native select styling
// ------------------------------------------------------

select.form-control:not([multiple], [size]:not([size="1"])) {
    // Remove this stuff after upgrading to Bootstrap 5
    appearance: none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    padding-right: 2.25rem;
}


// Control with Icons
// ------------------------------------------------------

.has-icon {
	position: relative;
	display: flex;

	.form-control {
		position: relative;
		z-index: 2;
	}

	.input-group-icon {
		position: absolute;
		left: 0;
		z-index: 10;
		width: $input-height;
		height: 100%;
		line-height: $input-height;
		text-align: center;
		vertical-align: middle;
        pointer-events: none;

        :before {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
	}

	&.has-icon-right .input-group-icon {
		left: auto;
		right: 0;
	}

	&.input-group-lg .input-group-icon {
		width: $input-height-lg;
		height: $input-height-lg;
		line-height: $input-height-lg;
		font-size: $font-size-lg;
	}

	&.input-group-sm .input-group-icon {
		width: $input-height-sm;
		height: $input-height-sm;
		line-height: $input-height-sm;
		font-size: $font-size-sm;
	}

	&:not(.has-icon-right) {
		.form-control {
			padding-left: $input-height;
		}

		&.input-group-lg .form-control {
			padding-left: $input-height-lg;
		}

		&.input-group-sm .form-control {
			padding-left: $input-height-sm;
		}
	}

	&.has-icon-right {
		.form-control {
			padding-right: $input-height;
		}

		&.input-group-lg .form-control {
			padding-right: $input-height-lg;
		}

		&.input-group-sm .form-control {
			padding-right: $input-height-sm;
		}
	}
}


// Checkbox & Radio tweaks (remove after bs6 update)
// ------------------------------------------------------

.form-check {
    display: block;
    min-height: $form-check-min-height;
    padding-inline-start: $form-check-padding-start;
    margin-bottom: $form-check-margin-bottom;

    .form-check-input {
        float: left;
        margin-inline-start: $form-check-padding-start * -1;
    }
}

.form-check.form-check-inline {
    display: inline-block;
    margin-inline-end: 1rem;
}

.form-check-input {
    $mfactor: 0.5;
    @if $font-size-base > 0.9rem {
        $mfactor: 0.4;
    }

    --form-check-bg: #{$input-bg};

    position: static;
    width: $form-check-input-width;
    height: $form-check-input-width;
    width: cssmax(1rem, #{$form-check-input-width});
    height: cssmax(1rem, #{$form-check-input-width});
    margin-inline-start: 0;
    margin-top: ($line-height-base - $form-check-input-width) * $mfactor !important; // line-height minus check height
    vertical-align: top;
    appearance: none;
    background-color: var(--form-check-bg);
    background-image: var(--form-check-bg-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid $gray-400;
    print-color-adjust: exact; // Keep themed appearance for print

    &[type="checkbox"] {
        border-radius: 0.25em;
    }

    &[type="radio"] {
        border-radius: 50%;
    }

    &:active {
        filter: brightness(90%);
    }

    &:focus {
        border-color: $primary;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba($primary, 0.25);
    }

    &:checked {
        background-color: $primary;
        border-color: $primary;

        &[type="checkbox"] {
            --form-check-bg-image: #{escape-svg($form-check-input-checked-bg-image)};
        }

        &[type="radio"] {
            --form-check-bg-image: #{escape-svg($form-check-radio-checked-bg-image)};
        }
    }

    &[type="checkbox"]:indeterminate {
        background-color: $form-check-input-indeterminate-bg-color;
        border-color: $form-check-input-indeterminate-border-color;
        --form-check-bg-image: #{escape-svg($form-check-input-indeterminate-bg-image)};
    }

    &:disabled {
        pointer-events: none;
        filter: none;
        opacity: .5;
    }

    // Use disabled attribute in addition of :disabled pseudo-class
    // See: https://github.com/twbs/bootstrap/issues/28247
    &[disabled],
    &:disabled {
        ~ .form-check-label {
            cursor: default;
            opacity: .5;
        }
    }
}

.form-check-label {
}



.radio input[type="radio"], 
.radio-inline input[type="radio"], 
.checkbox input[type="checkbox"], 
.checkbox-inline input[type="checkbox"] {
    //margin-right: 0.25rem;
}

.wkit.touchevents .form-check {
	@if $font-size-base < 1 rem {
        // Fix Chrome mobile check/radio alignment and padding issues:
        // increase spacing from 1.25rem to 1.5rem
		//padding-left: 1.5rem;
	
		.form-check-input {
			//margin-left: -1.5rem;
		}
	    
        // Seems not necessary anymore
        //.form-check-label {
		//	padding-top: 0.2rem;
		//}
	}
}


// Custom range
// ------------------------------------------------------

.custom-range {
    // INFO: Autoprefixer does not run in debug mode
    -webkit-appearance: none;
    -moz-appearance: none;

    &::-webkit-slider-thumb { -webkit-appearance: none; }
    &::-moz-range-thumb     { -moz-appearance: none; }
}


// Validation
// ------------------------------------------------------

.validation-summary-valid,
.validation-summary-errors {
    @extend .alert;

    > *:last-child {
        margin-bottom: 0;
    }
}

.validation-summary-valid {
    display: none;
    @extend .alert-success; 
}

.validation-summary-errors {
    @extend .alert-danger;
}

.field-validation-error,
.field-validation-valid {
    display: block;
    font-size: $font-size-sm;
    width: 100%;

    &:not(:empty) {
        margin-top: 0.25rem;
    }
}

.field-validation-error {
	color: $form-feedback-invalid-color;
}

.field-validation-valid {
	color: $form-feedback-valid-color;
}

.is-valid,
.is-invalid {
	&:focus {
		box-shadow: none !important;
	}
}


//
// Honeypot
// ------------------------------------------------------

.required-text-input {
	display: none;
}


//
// Link Builder (maybe move to custom file later)
// ------------------------------------------------------

.link-control > .form-control,
.link-control > .select2 {
	border-radius: 0 !important;
	border-color: $input-border-color !important;

	.select2-selection {
		border-radius: 0 !important;
	}
}

.link-control > .form-control:focus {
	outline: 1px solid $input-focus-border-color;
	outline-offset: -2px;
}