/// <reference path="_variables-shared.scss" />
/// <reference path="../lib/bs4/scss/bootstrap.scss" />

// Mixins
// ========================================================================

@mixin bg-color-vars($color: #fff) {
    --bg-color: #{$color};
    --bg-color-rgb: #{to-rgb($color)};
}

@mixin center($xy: xy) {
    @if $xy == xy {
        inset-inline-start: 50%;
        top: 50%;
        bottom: auto;
        inset-inline-end: auto;
        transform: translateX(-50%) translateY(-50%);
    }
    @else if $xy == x {
        inset-inline-start: 50%;
        inset-inline-end: auto;
        transform: translateX(-50%);
    }
    @else if $xy == y {
        top: 50%;
        bottom: auto;
        transform: translateY(-50%);
    }
}

@mixin bubble($direction: "left", $alignment: "near", $size: 10, $background: #fff, $border: $card-border-color, $offset: 24px) {
    // defaults for direction = left
    $inset: "inline-start";
    $elemAlignment: "inline-end";
    $firstBorder: "block-start";
    $secondBorder: "block-end";

    @if $direction == "right" {
        $inset: "inline-end";
        $elemAlignment: "inline-start";
    } 
    @else if $direction == "top" {
        $inset: "block-start";
        $elemAlignment: "block-end";
        $firstBorder: "inline-start";
        $secondBorder: "inline-end";
    } 
    @else if $direction == "bottom" {
        $inset: "block-end";
        $elemAlignment: "block-start";
        $firstBorder: "inline-start";
        $secondBorder: "inline-end";
    }

    --bubble-size: #{$size}px;
    --bubble-width: var(--bubble-size);
    --bubble-offset: #{$offset};
    --bubble-bg: #{$background};
    --bubble-border-color: #{$border};

    &:before, &:after {
        content: '' !important;
        display: inline-block;
        position: absolute;
    }

    &:before {
        border-#{$firstBorder}: var(--bubble-width) solid transparent;
        border-#{$secondBorder}: var(--bubble-width) solid transparent;
        border-#{$elemAlignment}: var(--bubble-width) solid var(--bubble-border-color);
        //border-#{$elemAlignment}-color: rgba(0, 0, 0, 0.2);
        inset-#{$inset}: calc(var(--bubble-width) * -1);

        @if $alignment == "near" {
            inset-#{$firstBorder}: var(--bubble-offset);
        } 
        @else if $alignment == "center" {
            inset-#{$firstBorder}: 50%;
            margin-#{$firstBorder}: calc((var(--bubble-width) + 1px) * -1);
        } 
        @else if $alignment == "far" {
            inset-#{$secondBorder}: var(--bubble-offset);
        }
    }

    &:after {
        --bubble-width: calc(var(--bubble-size) - 1px);
        border-#{$firstBorder}: var(--bubble-width) solid transparent;
        border-#{$secondBorder}: var(--bubble-width) solid transparent;
        border-#{$elemAlignment}: var(--bubble-width) solid var(--bubble-bg);
        inset-#{$inset}: calc(var(--bubble-width) * -1);

        @if $alignment == "near" {
            inset-#{$firstBorder}: calc(var(--bubble-offset) + 1px);
        } @else if $alignment == "center" {
            inset-#{$firstBorder}: 50%;
            margin-#{$firstBorder}: calc(var(--bubble-size) * -1);
        } @else if $alignment == "far" {
            inset-#{$secondBorder}: calc(var(--bubble-offset) + 1px);
        }
    }
}

@mixin fontastic($content, $size: 20px) {
    display: inline-block;
    font: normal normal normal 16px/1 'fontastic';
    font-size: $size;
    speak: none;
    text-transform: none;
    content: $content;
}

@mixin fontawesome($content, $size: $icon-font-size-base, $variant: $icon-font-variant-default) {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    line-height: 1;

    font-size: $size;
    @include fontawesome-font($content, $variant);
}

@mixin fontawesome-font($content, $variant: $icon-font-variant-default) {
    @if $fa-use-pro == false and $variant == "light" {
        $variant: regular;
    }
    
    @if $fa-use-pro == false and $variant == "regular" {
        @if not(map-has-key($fa-free-regular-icons, $content)) {
            $variant: solid;
        }
    }

    @if $variant == "brand" {
        font-family: $fa-font-family-brands;
        font-weight: 400;
    }
    @else {
        font-weight: map-get($icon-font-variants, $variant);
        @if $fa-use-pro {
            font-family: $fa-font-family-pro;
        }
        @else {
            font-family: $fa-font-family-free;
        }
    }

    content: $content;
}

@mixin active-list-item($size: 4px, $color: theme-color("warning")) {
    position: absolute;
    display: block;
    content: ' ';
    inset-inline-start: -1px;
    top: -1px;
    bottom: -1px;
    width: $size;
    background: $color;
}

@mixin font-inherit() {
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	color: inherit;
	font-size: inherit;
	color: inherit;
	text-decoration: inherit;
}

@mixin smaller() {
    font-size: $font-size-sm !important;
}

@mixin button-flat() {
    --btn-color: #{$yiq-text-dark};
    --btn-bg: transparent;
    --btn-border-color: transparent;
    --btn-box-shadow: none;
    --btn-disabled-color: var(--btn-color);
    --btn-disabled-bg: var(--btn-bg);
    --btn-disabled-border-color: var(--btn-border-color);

    border-radius: var(--btn-border-radius) !important;
    background-image: none;
}


// Functions
// ===============================================

$scrim-gradient-coords: (
    0: 1,
    19: 0.738,
    34: 0.541,
    47: 0.382,
    56.5: 0.278,
    65: 0.194,
    73: 0.126,
    80.2: 0.075,
    86.1: 0.042,
    91: 0.021,
    95.2: 0.008,
    98.2: 0.002,
    100: 0
);

@function scrim-gradient($start-color: #000, $direction: 'to bottom', $radial: false) {
    $hue: hue($start-color);
    $saturation: saturation($start-color);
    $lightness: lightness($start-color);
    $stops: ();

    @each $colorstop, $alpha in $scrim-gradient-coords {
        $stop: hsla($hue, $saturation, $lightness, $alpha) calc(#{$colorstop / 100} * var(--cendpos,100%));
        $stops: append($stops, $stop, comma);
    }

    @if $radial == true {
        @return radial-gradient(unquote(#{ $direction }), #{ $stops });
    }
    @else {
        @return linear-gradient(unquote(#{ $direction }), #{ $stops });
    }   
}

@function scrim-gradient-generic($direction: 'to bottom', $radial: false) {
    $stops: ();

    @each $colorstop, $alpha in $scrim-gradient-coords {
        $stop: rgba(var(--cstart-rgb), $alpha) calc(#{$colorstop / 100} * var(--cendpos,100%));
        $stops: append($stops, $stop, comma);
    }

    @if $radial == true {
        @return radial-gradient(unquote(#{ $direction }), #{ $stops });
    }
    @else {
        @return linear-gradient(unquote(#{ $direction }), #{ $stops });
    }   
}

@function color-yiq-ex($color, $text-dark: $yiq-text-dark, $text-light: $yiq-text-light) {
	$r: red($color);
	$g: green($color);
	$b: blue($color);

	$yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

	@if ($yiq >= $yiq-contrasted-threshold) {
		@return $text-dark;
	}
	@else {
		@return $text-light;
	}
}

@function cssmin($expr1, $expr2) {
    @return #{unquote("min(#{$expr1}, #{$expr2})")};
}

@function cssmax($expr1, $expr2) {
    @return #{unquote("max(#{$expr1}, #{$expr2})")};
}