/// <reference path="references.scss" />

.more-less {
    display: block;
    position: relative;
    margin-bottom: 1.5rem;

    --text-expander-max-height: 260px;
    --text-expander-fade-height: var(--text-expander-height, #{($font-size-base * $line-height-base) * 3});
    --text-expander-button-height: #{$font-size-base * $line-height-base};

    .btn-text-expander {
        display: none;
        align-items: center;
        justify-content: var(--text-expander-justify-content, initial);
        padding: 0;
        border: 0;
        background: none;
        color: inherit;
        font-size: $font-size-base;
        font-weight: $font-weight-medium;
        line-height: $line-height-base;
        text-decoration: none !important;
        cursor: pointer;
    }

    .btn-text-expander-label--less {
        display: none;
    }

    .btn-text-expander[aria-expanded=true] {
        font-weight: normal;

        .btn-text-expander-label--more { display: none; }
        .btn-text-expander-label--less { display: inline; }
    }

    &.collapsed {
        max-height: var(--text-expander-max-height);
        overflow: hidden;

        > .more-block {
            mask-image: linear-gradient(
                to bottom,
                #000 calc(100% - var(--text-expander-fade-height) - var(--text-expander-button-height)),
                transparent calc(100% - var(--text-expander-button-height)),
                transparent 100%
            );
            mask-repeat: no-repeat;
            mask-size: 100% var(--text-expander-max-height);
        }

        > .btn-text-expander {
            position: absolute;
            z-index: 2;
            inset-inline: 0;
            inset-block-end: 0;
        }
    }

    &.is-collapsible > .btn-text-expander {
        display: flex;
    }

    &.expanded > .btn-text-expander {
        position: relative;
        margin-top: $spacer * .5;
    }
}
