/// <reference path="_variables-shared.scss" />
/// <reference path="_mixins.scss" />
/// <reference path="../lib/bs4/scss/bootstrap.scss" />

$default-state-color: $gray-400;

.tree {
    position: relative;
}

.tree-list {
    position: relative;
    display: inline-block;
    list-style: none;
    padding-left: 24px;

    &:first-child {
        padding-left: 0;
    }
}

.tree-node-content {
    display: inline-block;
    border-radius: $border-radius;
    padding: 3px 6px;
}

.tree-label {
    position: relative;
    user-select: none;
    margin: 0;
}

.tree-pointer,
.tree-selectable {
    cursor: pointer;
}

.tree-link {
    text-decoration: none !important;
    color: inherit;
}

.tree-highlight .tree-node-content:not(.tree-selected, .tree-disabled):hover {
    background-color: rgba(#000, 0.08);
}

.tree-selected {
    background-color: lighten($warning, 20%);
}

.tree-dim {
    opacity: .6;
}

.tree-icon {
    margin-right: 5px;
}

.tree-expander-container {
    display: inline-block;
    min-width: 18px;
    width: 18px;
    text-align: center;
}

.tree-expander {
    cursor: pointer;
    font-size: 12px;
}

.tree-leaf-left {
    display: inline-block;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}

.tree-noleaf-text {
    font-weight: $font-weight-medium;
}

.tree-vline {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 12px;
    width: 0;
    border-left: 1px solid $gray-300;
    height: calc(100% - 12px);
}

.tree-hline .tree-node:before {
    content: "";
    position: absolute;
    left: 12px;
    width: 14px;
    height: 0;
    margin-top: 13px;
    border-top: 1px solid $gray-300;
}


// Tree state checkbox.
.tree-state-onoff-checkbox {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    margin: 0;
}

.tree-state-onoff {
    &:before {
        content: "";
        float: left;
        height: 18px;
        width: 18px;
        border-radius: 5px;
        border: 2px solid $default-state-color;
        background-color: #fff;
        margin: 5px 0 0 5px;
    }

    &:after {
        position: absolute;
        display: block;
    }

    &.on:after,
    &.in-on:after {
        content: "";
        top: 8px;
        left: 11px;
        width: 6px;
        height: 10px;
        transform: rotate(45deg);
        border: 2px solid $default-state-color;
        border-width: 0 3px 3px 0;
    }

    &.on:before,
    &.on:after,
    &.in-on:before,
    &.in-on:after {
        border-color: $success;
    }

    &.off:before,
    &.in-off:before {
        border-color: $danger;
    }

    &.in-on:before,
    &.in-on:after,
    &.in-off:before,
    &.in-off:after {
        opacity: 0.3;
    }
}

.tree-state-onoff-active {
    cursor: pointer;

    &:hover:before {
        box-shadow: 0 0 4px rgba($warning, .8);
        transition: box-shadow 0.1s linear;
    }
}

.tree-state-checkbox {
    position: relative;
    top: 2px;
    width: 16px;
    height: 16px;
    margin: 0 5px;

    &:not([disabled]):hover {
        cursor: pointer;
    }
}
