/// <reference path="../lib/bootstrap/scss/bootstrap-reboot.scss" />

//
// General
// --------------------------------------------------

$alert-info-is-primary:		false !default;
$enable-lightbtn-tweak:		false !default;
$enable-social-buttons:		true !default;
$site-bg:                   #fff !default;


//
// Easings
// -------------------------------------------------

$link-transition:       color 0.125s ease, opacity 0.125s ease !default;

$ease-in-sine:          cubic-bezier(.47, 0, .745, .715) !default;
$ease-out-sine:         cubic-bezier(.39, .575, .565, 1) !default;
$ease-in-out-sine:      cubic-bezier(.445, .05, .55, .95) !default;

$ease-in-quad:          cubic-bezier(.55, .085, .68, .53) !default;
$ease-out-quad:         cubic-bezier(.25, .46, .45, .94) !default;
$ease-in-out-quad:      cubic-bezier(.455, .03, .515, .955) !default;

$ease-in-cubic:         cubic-bezier(.55, .055, .675, .19) !default;
$ease-out-cubic:        cubic-bezier(.215, .61, .355, 1) !default;
$ease-in-out-cubic:     cubic-bezier(.645, .045, .355, 1) !default;

$ease-in-quart:         cubic-bezier(.895, .03, .685, .22) !default;
$ease-out-quart:        cubic-bezier(.165, .84, .44, 1) !default;
$ease-in-out-quart:     cubic-bezier(.77, 0, .175, 1) !default;

$ease-in-quint:         cubic-bezier(.755, .05, .855, .06) !default;
$ease-out-quint:        cubic-bezier(.23, 1, .32, 1) !default;
$ease-in-out-quint:     cubic-bezier(.86, 0, .07, 1) !default;

$ease-in-expo:          cubic-bezier(.95, .05, .795, .035) !default;
$ease-out-expo:         cubic-bezier(.19, 1, 0.22, 1) !default;
$ease-in-out-expo:      cubic-bezier(1, 0, 0, 1) !default;

$ease-in-circ:          cubic-bezier(.6, .04, .98, .335) !default;
$ease-out-circ:         cubic-bezier(.075, .82, .165, 1) !default;
$ease-in-out-circ:      cubic-bezier(.785, .135, .15, .86) !default;

$ease-in-back:          cubic-bezier(.6, -.28, .735, .045) !default;
$ease-out-back:         cubic-bezier(.175, .885, .32, 1.275) !default;
$ease-in-out-back:      cubic-bezier(.68, -.55, .265, 1.55) !default;


//
// Typo
// --------------------------------------------------

$enable-rfs:                false !default;
$font-size-xs:				0.75rem !default;
$font-weight-medium:        600 !default;
$headings-lg-font-weight:   400 !default;
$headings-sm-font-weight:   $font-weight-medium !default;


// Pagination Mini
// --------------------------------------------------

$pagination-padding-y-xs:           0 !default;
$pagination-padding-x-xs:           6px !default;


// Material tabs
// --------------------------------------------------

$mtab-text-transform:		none !default;
$mtab-font-size:			1rem !default;
$mtab-font-weight:			$font-weight-medium !default;
$mtab-color:				$gray-600 !default;
$mtab-active-color:			$nav-tabs-link-active-color !default;


// Check & Radio styling
// --------------------------------------------------

$form-check-input-width:                        1em !default;
$form-check-min-height:                         $font-size-base * $line-height-base !default;
$form-check-padding-start:                      $form-check-input-width + .6em !default;
$form-check-margin-bottom:                      .125rem !default;

$form-check-input-checked-bg-image:             url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>") !default;
$form-check-radio-checked-bg-image:             url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#fff'/></svg>") !default;

$form-check-input-indeterminate-bg-color:       $primary !default;
$form-check-input-indeterminate-border-color:   $form-check-input-indeterminate-bg-color !default;
$form-check-input-indeterminate-bg-image:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/></svg>") !default;


// Dropdowns
// --------------------------------------------------

$dropdown-font-size:		$font-size-sm !default;
$dropdown-font-weight:	    $font-weight-normal !default;
$dropdown-icon-color:		mix($gray-600, $gray-700, 50%) !default;
$dropdown-shadow-intensity: 0.85 !default;


// Modal
// --------------------------------------------------

$modal-title-color:         inherit !default;


// Offcanvas
// --------------------------------------------------

$offcanvas-width:               320px !default;
$offcanvas-width-lg:            480px !default;
$offcanvas-easing:              $ease-out-quad !default;
$offcanvas-duration:            0.3s !default;
$offcanvas-offset:              0.3 !default;
$offcanvas-offset-p:            $offcanvas-offset * 100% !default;
$offcanvas-offset-p-neg:        ($offcanvas-offset * 100) * -1% !default;
$offcanvas-z-index:             99999 !default;
$offcanvas-shadow:              0 0 24px rgba($black, 0.3) !default;


// Shadows
// --------------------------------------------------

$shadow-intensity:              1 !default;
$box-shadow-xs:                 0 calc(1px * var(--shadow-yoffset, 1)) 8px -2px rgba(var(--shadow-colorbase-rgb), calc(var(--shadow-intensity) * 0.12)), 
                                0 calc(1px * var(--shadow-yoffset, 1)) 1px -2px rgba(var(--shadow-color-rgb), calc(var(--shadow-intensity) * 0.3)) !default;
$box-shadow-xl:                 0 calc(17px * var(--shadow-yoffset, 1)) 70px -7px rgba(var(--shadow-colorbase-rgb), calc(var(--shadow-intensity) * 0.14)), 
                                0 calc(20px * var(--shadow-yoffset, 1)) 48px -12px rgba(var(--shadow-color-rgb), calc(var(--shadow-intensity) * 0.22)) !default;

$utilities: map-merge(
    $utilities,
    (
        "shadow": map-merge(
            map-get($utilities, "shadow"),
            (
                values: map-merge(
                    map-get(map-get($utilities, "shadow"), "values"),
                    ( 
                        xs: $box-shadow-xs,
                        xl: $box-shadow-xl,
                    )
                )
            )
        ),
    )
);


// Boxes
// --------------------------------------------------

$box-transition-duration:       0.6s !default; // 0.8s;
$box-transition-timing:         cubic-bezier(0.25, 1, 0.2, 1) !default;
$box-scale-factor:              1.12 !default;


//
// Icons
// --------------------------------------------------

$fa-use-pro:                    false !default;

$fa-font-family-free:           'Font Awesome 6 Free' !default;
$fa-font-family-pro:            'Font Awesome 6 Pro' !default;
$fa-font-family-brands:         'Font Awesome 6 Brands' !default;

//$icon-font-size-base:           16px !default; // for pixel perfection
$icon-font-size-base:           inherit !default;
$icon-font-variant-default:     regular !default;
$icon-font-weight-default:      900 !default;

$icon-font-variants: () !default;
$icon-font-variants: map-merge(
  (
    "light":    300,
    "regular":  400,
    "solid":    900
  ),
  $icon-font-variants
);

$fa-free-regular-icons: (
	"\f2b9": "address-book",
	"\f2bb": "address-card",
	"\f0f3": "bell",
	"\f1f6": "bell-slash",
	"\f02e": "bookmark",
	"\f1ad": "building",
	"\f133": "calendar",
	"\f274": "calendar-check",
	"\f073": "calendar-days",
	"\f272": "calendar-minus",
	"\f271": "calendar-plus",
	"\f273": "calendar-xmark",
	"\f080": "chart-bar",
	"\f43a": "chess-bishop",
	"\f43f": "chess-king",
	"\f441": "chess-knight",
	"\f443": "chess-pawn",
	"\f445": "chess-queen",
	"\f447": "chess-rook",
	"\f111": "circle",
	"\f058": "circle-check",
	"\f192": "circle-dot",
	"\f358": "circle-down",
	"\f359": "circle-left",
	"\f28b": "circle-pause",
	"\f144": "circle-play",
	"\f059": "circle-question",
	"\f35a": "circle-right",
	"\f28d": "circle-stop",
	"\f35b": "circle-up",
	"\f2bd": "circle-user",
	"\f057": "circle-xmark",
	"\f328": "clipboard",
	"\f017": "clock",
	"\f24d": "clone",
	"\f20a": "closed-captioning",
	"\f075": "comment",
	"\f4ad": "comment-dots",
	"\f086": "comments",
	"\f14e": "compass",
	"\f0c5": "copy",
	"\f1f9": "copyright",
	"\f09d": "credit-card",
	"\f0e0": "envelope",
	"\f2b6": "envelope-open",
	"\f06e": "eye",
	"\f070": "eye-slash",
	"\f556": "face-angry",
	"\f567": "face-dizzy",
	"\f579": "face-flushed",
	"\f119": "face-frown",
	"\f57a": "face-frown-open",
	"\f57f": "face-grimace",
	"\f580": "face-grin",
	"\f582": "face-grin-beam",
	"\f583": "face-grin-beam-sweat",
	"\f584": "face-grin-hearts",
	"\f585": "face-grin-squint",
	"\f586": "face-grin-squint-tears",
	"\f587": "face-grin-stars",
	"\f588": "face-grin-tears",
	"\f589": "face-grin-tongue",
	"\f58a": "face-grin-tongue-squint",
	"\f58b": "face-grin-tongue-wink",
	"\f581": "face-grin-wide",
	"\f58c": "face-grin-wink",
	"\f596": "face-kiss",
	"\f597": "face-kiss-beam",
	"\f598": "face-kiss-wink-heart",
	"\f599": "face-laugh",
	"\f59a": "face-laugh-beam",
	"\f59b": "face-laugh-squint",
	"\f59c": "face-laugh-wink",
	"\f11a": "face-meh",
	"\f5a4": "face-meh-blank",
	"\f5a5": "face-rolling-eyes",
	"\f5b3": "face-sad-cry",
	"\f5b4": "face-sad-tear",
	"\f118": "face-smile",
	"\f5b8": "face-smile-beam",
	"\f4da": "face-smile-wink",
	"\f5c2": "face-surprise",
	"\f5c8": "face-tired",
	"\f15b": "file",
	"\f1c7": "file-audio",
	"\f1c9": "file-code",
	"\f1c3": "file-excel",
	"\f1c5": "file-image",
	"\f15c": "file-lines",
	"\f1c1": "file-pdf",
	"\f1c4": "file-powerpoint",
	"\f1c8": "file-video",
	"\f1c2": "file-word",
	"\f1c6": "file-zipper",
	"\f024": "flag",
	"\f0c7": "floppy-disk",
	"\f07b": "folder",
	"\e185": "folder-closed",
	"\f07c": "folder-open",
	"\f2b4": "font-awesome",
	"\f1e3": "futbol",
	"\f3a5": "gem",
	"\f256": "hand",
	"\f255": "hand-back-fist",
	"\f258": "hand-lizard",
	"\f25b": "hand-peace",
	"\f0a7": "hand-point-down",
	"\f0a5": "hand-point-left",
	"\f0a4": "hand-point-right",
	"\f0a6": "hand-point-up",
	"\f25a": "hand-pointer",
	"\f257": "hand-scissors",
	"\f259": "hand-spock",
	"\f2b5": "handshake",
	"\f0a0": "hard-drive",
	"\f004": "heart",
	"\f0f8": "hospital",
	"\f254": "hourglass",
	"\f252": "hourglass-half",
	"\f2c1": "id-badge",
	"\f2c2": "id-card",
	"\f03e": "image",
	"\f302": "images",
	"\f11c": "keyboard",
	"\f094": "lemon",
	"\f1cd": "life-ring",
	"\f0eb": "lightbulb",
	"\f279": "map",
	"\f27a": "message",
	"\f3d1": "money-bill-1",
	"\f186": "moon",
	"\f1ea": "newspaper",
	"\f249": "note-sticky",
	"\f247": "object-group",
	"\f248": "object-ungroup",
	"\f1d8": "paper-plane",
	"\f0ea": "paste",
	"\f044": "pen-to-square",
	"\f022": "rectangle-list",
	"\f410": "rectangle-xmark",
	"\f25d": "registered",
	"\f14d": "share-from-square",
	"\f2dc": "snowflake",
	"\f0c8": "square",
	"\f150": "square-caret-down",
	"\f191": "square-caret-left",
	"\f152": "square-caret-right",
	"\f151": "square-caret-up",
	"\f14a": "square-check",
	"\f45c": "square-full",
	"\f146": "square-minus",
	"\f0fe": "square-plus",
	"\f005": "star",
	"\f089": "star-half",
	"\f5c0": "star-half-stroke",
	"\f185": "sun",
	"\f165": "thumbs-down",
	"\f164": "thumbs-up",
	"\f2ed": "trash-can",
	"\f007": "user",
	"\f2d0": "window-maximize",
	"\f2d1": "window-minimize",
	"\f2d2": "window-restore"
) !default;


//
// Brand color variables
// --------------------------------------------------

$clr-brand-facebook:            #1778F2 !default;
$clr-brand-twitter:             #55acee !default;
$clr-brand-x-twitter:           #000000 !default;
$clr-brand-github:              #bd2c00 !default;
$clr-brand-github2:             #ff9933 !default;
$clr-brand-github3:             #4183c4 !default;
$clr-brand-google:              #4285f4 !default;
$clr-brand-google2:             #db4437 !default;
$clr-brand-google3:             #f4b400 !default;
$clr-brand-google4:             #0f9d58 !default;
$clr-brand-google5:             #e7e6dd !default;
$clr-brand-amazon:              #ff9900 !default;
$clr-brand-atlassian:           #003366 !default;
$clr-brand-dropbox:             #007ee5 !default;
$clr-brand-ebay:                #e53238 !default;
$clr-brand-flickr:              #0063dc !default;
$clr-brand-html5:               #ec6231 !default;
$clr-brand-instagram:           #3f729b !default;
$clr-brand-linkedin:            #007bb6 !default;
$clr-brand-paypal:              #3b7bbf !default;
$clr-brand-pinterest:           #cc2127 !default;
$clr-brand-rss:                 #ee802f !default;
$clr-brand-skype:               #00aff0 !default;
$clr-brand-stackoverflow:       #ef8236 !default;
$clr-brand-xing:                #126567 !default;
$clr-brand-youtube:             #cd201f !default;
$clr-brand-microsoft:           #f65314 !default;
$clr-brand-windows:             #00bcf2 !default;
$clr-brand-bitbucket:           #205081 !default;
$clr-brand-tiktok:              #ff0050 !default;
$clr-brand-snapchat:            #fffc00 !default;
$clr-brand-vimeo:               #19b7ea !default;
$clr-brand-tumblr:              #35465C !default;
$clr-brand-ello:                #000000 !default;
$clr-brand-behance:             #0067ff !default;