@using Smartstore.Admin.Models.Common

@model CountryModel

@{
    ViewBag.Title = T("Admin.Configuration.Countries.AddNew").Value;
}

<form asp-action="Create" id="country-form">
    <div class="section-header">
        <div class="title">
            <a sm-backto asp-action="List"></a>
            <span>@T("Admin.Configuration.Countries.AddNew")</span>
        </div>
        <div class="options">
            <button type="submit" name="save" value="save" class="btn btn-primary">
                <i class="fa fa-check"></i>
                <span>@T("Admin.Common.Save")</span>
            </button>
            <button type="submit" name="save" value="save-continue" class="btn btn-secondary">
                <span>@T("Admin.Common.SaveContinue")</span>
            </button>
        </div>
    </div>

    <partial name="_CreateOrUpdate" model="Model" />
</form>