@{
    ViewBag.Title = T("Admin.Configuration.Countries").Value;
    Assets.BodyAttributes.AppendCssClass("spa-layout");
}

<form id="countries">
    <div class="section-header">
        <div class="title">
            <i class="fa fa-globe"></i>
            @T("Admin.Configuration.Countries")
        </div>
    </div>
</form>

<partial name="_Grid.Countries" model="null" />