@{
    ViewBag.Title = T("Admin.ContentManagement.Blog.BlogPosts").Text;
}

<div class="section-header">
    <div class="title">
        <i class="fa fa-blog"></i>
        @T("Admin.ContentManagement.Blog.BlogPosts")
    </div>
    <div class="options">
        @{ Html.RenderWidget("admin_button_toolbar_before"); }

        <button type="button" class="btn btn-outline-secondary btn-toggle-filter" data-toggle="button" aria-pressed="false">
            <i class="fa fa-filter"></i>
            <span>@T("Common.Filter")</span>
            <i class="fa fa-angle-double-down"></i>
        </button>

        <a href="@Url.Action("Create")" class="btn btn-primary">
            <i class="fa fa-plus"></i>
            <span>@T("Admin.Common.AddNew")</span>
        </a>

        @{ Html.RenderWidget("admin_button_toolbar_after"); }
    </div>
</div>