/// <reference path="theme.scss" />

// Button tweaks:
// Must come BEFORE custom button import because of
// CSS specificity.
// -----------------------------------------------------

.btn-secondary {
    $bg: $btn-secondary-bg;
    $border: $btn-secondary-border;
	@include button-variant(
        $bg, 
        $border, 
        $hover-background: darken($bg, 7%), 
        $hover-border: darken($border, 10%), 
        $active-background: darken($bg, 12%), 
        $active-border: darken($border, 12%));
}