/// <reference path="references.scss" />

// Make secondary button white
.btn-secondary {
    $bg: $btn-secondary-bg;
    $border: $btn-secondary-border;
    
    @include button-inactive-variant($bg, $border);
    @include button-active-variant(
        $bg, 
        $btn-secondary-border,
        $hover-background: shade-color($bg, 3%),
        $active-background: shade-color($bg, 8%));
}