/// <reference path="references.scss" />

//
// Login & Registration Styles
// --------------------------------------------------

.register-box {
    background-color: $register-box-bg;
}

.login-box {
    background-color: $white;

    hr {
		width: 100%;
		margin-block: 1.5rem;
    }

	.form-group:last-child {
		margin-bottom: 0;
	}

	.input-group-icon > i {
		line-height: inherit;
	}
}

.pwd-policy-wrap {

}

.pwd-policy {
    display: inline-flex;
    flex-flow: column;
    position: relative;
    background-color: var(--light);
    border-radius: var(--border-radius-lg);
    margin-top: 1rem;
    @include bubble(top, near, 12, var(--light), var(--light));
}

.pwd-rules {
    --fa-li-margin: 2em;
    --fa-li-width: 2.5em;
    color: var(--gray-600);
}

.pwd-container.pwd-status-hidden {
    :is(.form-control.is-valid, .form-control.is-invalid) {
        border-color: var(--border-color) !important;
        box-shadow: none !important;
        background-image: none !important;
    }

    .form-control:focus {
        border-color: $input-focus-border-color !important;
    }
}