/// <reference path="references.scss" />

//
// Login & Registration Styles
// --------------------------------------------------

.register-box {
    background-color: $register-box-bg;
}

.login-box {
    background-color: $white;

    hr {
		width: 100%;
		margin-block: 1.5rem;
    }

	.form-group:last-child {
		margin-bottom: 0;
	}

	.input-group-icon > i {
		line-height: inherit;
	}
}

.pwd-policy {
    display: inline-flex;
    flex-flow: column;
    position: relative;
    margin-top: 1rem;
    @include bubble(top, near, 12, var(--light), var(--light));
}

.pwd-policy-inner {
    background-color: var(--light);
    border-radius: var(--border-radius-lg);
}

.pwd-rules {
    color: var(--gray-600);
}