/// <reference path="references.scss" />

// Shared
.post-date {
    color: $text-muted;
}

// Details view of post
.post { 

}

// List view of postitems
.postlist {
    .post-date {
        font-size: $font-size-sm;
    }
}

.postlist-item {
    overflow: hidden;

    &.unpublished {
        opacity: 0.5;
    }
}

.postlist-item-centered-picture {
    --img-aspect-ratio: 0.5;
    display: block;
    overflow: hidden;
    margin-bottom: 0;
    border-radius: var(--border-radius-md);

    > img {
        object-fit: cover;
        display: block;
        width: 100%;
        height: 100%;
    }
}

// Comments
// TODO: (mh) Always use .post or .postlist prefix. TBD with MC.
.comment-item {
    padding: 1.5rem 0;
    border-bottom: 1px solid rgba($black, 0.12);

    &:last-child {
        border-bottom: none;
    }
}

.comment-list-title {
    border-bottom-width: 0 !important;
    margin-bottom: 0 !important;
}