/// <reference path="references.scss" />

//
// Ratings
// --------------------------------------------------

.rating {
	display: inline-block;
	height: 16px;
	width: 80px;
	background-repeat: repeat-x;
	background-position: 0 50%;
    background-image: url('images/star-off.png');
}
.rating > * {
    position: relative;
    display: inline-block;
	height: 16px;
	background-image: url('images/star-on.png');
}
.rating.rating-small {
	height: 11px;
	width: 60px;
	padding: 1px 0;
    background-image: url('images/star-off-12.png');
}
.rating.rating-small > * {
	height: 11px;
	background-image: url('images/star-on-12.png');
}


//
// Reviews
// --------------------------------------------------

.review-list, 
.review-item,
.review-title {
    position: relative;
}

.review-item {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(0,0,0, 0.12);

    &:last-child { border-width: 0; }
}

.review-title {
    margin-bottom: 0.2rem;

    .rating {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        > * { vertical-align: top; }
    }

    > h4 {
        position: relative;
        margin: 0;
        padding-inline-start: 90px;
        font-size: inherit;
        font-weight: $font-weight-medium;

        &:empty:after {
            content: '.';
            visibility: hidden;
        }
    }
}

.review-meta {
	display: flex;
    align-items: center;
    font-size: $font-size-sm;

    .review-meta-label {
        font-weight: $font-weight-medium;
    }
    .review-meta-value {
        padding-inline-start: 0.25rem;
        padding-inline-end: 0.5rem;
    }
}

.review-text {
    line-height: 1.4;
    margin-top: 1rem;
}

.review-vote {
    font-size: $font-size-sm;
    color: $text-muted;

    .review-vote-count { 
        font-weight: $icon-font-weight-default; 
        font-size: 12px;
    }

    .review-vote-link {
	    text-decoration: none;
	    padding: 0 0.3rem;
        border-radius: var(--border-radius-md);
	    &.review-vote-link-yes { color: $success; }
	    &.review-vote-link-yes:hover { background: $success; color: #fff }
	    &.review-vote-link-no { color: $danger; }
	    &.review-vote-link-no:hover { background: $danger; color: #fff }

        .fa { font-size: $font-size-lg; }
    }   
}


//
// Write review form
// --------------------------------------------------

.write-review {
    background-color: $gray-100;
    padding: 2rem;
}
