@model InstallationModel

@inject IInstallationService InstallService

@{
    // TODO: (core) Install: Apply language attributes to <html> tag

    Layout = null;

    var installResult = ViewBag.InstallResult as InstallationResult;
}

@functions {
    private string T(string key)
    {
        return InstallService.GetResource(key);
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@T("Title")</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, viewport-fit=cover, shrink-to-fit=no">
    <meta property="sm:root" content="@Url.Content("~/")" />

    <script>
        window.Res = {
            "Common.Notification": "@T("Common.Notification").EncodeJsString()",
        }
    </script>

    <link rel="stylesheet" href="~/lib/fontastic/fontastic.css" />
    <link rel="stylesheet" href="~/lib/fa6/css/all.min.css" />
    <link rel="stylesheet" href="~/bundle/css/admin-theme.css" />

    <script src="~/lib/modernizr/modernizr.js"></script>
    <script src="~/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="~/lib/bs4/js/bootstrap.bundle.min.js"></script>

    <style>
        .content {
            max-width: 990px !important;
            margin-left: auto !important;
            margin-right: auto !important;
        }

        .redirect-info > a {
            color: #fff;
            text-decoration: underline;
        }
    </style>
</head>
<body>

    <div id="page">
        <div class="page-main">
            @if (Model.IsAutoInstall)
            {
                <partial name="_AutoInstall" model="installResult" />
            }
            else
            {
                <partial name="_InstallForm" model="Model" />
            }

        </div>
    </div>

    <zone name="scripts">
        <script src="~/js/smartstore.system.js"></script>
        <script src="~/js/smartstore.viewport.js"></script>
        <script src="~/js/smartstore.common.js"></script>
        <script src="~/lib/underscore/underscore.min.js"></script>
        <script src="~/js/underscore.mixins.js"></script>
        <script src="~/js/smartstore.throbber.js"></script>
        <script src="~/js/public.common.js"></script>
    </zone>

</body>
</html>
