@using Smartstore.Admin.Models.Localization

@model LanguageResourceListModel

<div class="form-group">
    <smart-label asp-for="ResourceName" />
    <editor asp-for="ResourceName" asp-template="SearchExpression" />
</div>
<div class="form-group">
    <smart-label asp-for="ResourceValue" />
    <editor asp-for="ResourceValue" asp-template="SearchExpression" />
</div>
