@using Smartstore.Admin.Models.Localization

@model LanguageResourceListModel

<div class="form-group">
    <smart-label asp-for="ResourceName" />
    <input asp-for="ResourceName" />
</div>
<div class="form-group">
    <smart-label asp-for="ResourceValue" />
    <input asp-for="ResourceValue" />
</div>
