<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="aspNetCore" />
            <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
        </handlers>
        <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" startupTimeLimit="240">
            <!--<handlerSettings>
                <handlerSetting name="enableShadowCopy" value="true" />
                <handlerSetting name="shadowCopyDirectory" value="ShadowCopyDirectory/" />
            </handlerSettings>-->
        </aspNetCore>
        <security>
            <requestFiltering allowDoubleEscaping="true">
                <!-- Max. global file upload size on IIS level is 2 GB as defined by the 'maxAllowedContentLength' attribute (2147483648 Bytes). -->
                <requestLimits maxAllowedContentLength="2147483648" maxQueryString="16384" />
                <hiddenSegments>
                    <remove segment="ClearScript.V8" />
                    <remove segment="LibSassHost.Native" />
                    <add segment="ClearScript.V8" />
                    <!--<add segment="LibSassHost.Native" />-->
                </hiddenSegments>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>