@model SettingListModel

<div class="form-group">
    <smart-label asp-for="SearchSettingName" />
    <editor asp-for="SearchSettingName" asp-template="SearchExpression" />
</div>

<div class="form-group">
    <smart-label asp-for="SearchSettingValue" />
    <editor asp-for="SearchSettingValue" asp-template="SearchExpression" />
</div>

<div sm-if="!Model.IsSingleStoreMode" class="form-group">
    <smart-label asp-for="SearchStoreId" />
    <editor asp-for="SearchStoreId" />
</div>