@model CookieInfoModel

@{
    ViewBag.Title = T("Admin.Configuration.Settings.CustomerUser.Privacy.Cookies.EditCookieInfo.Title").Value;
    Layout = "_AdminPopupLayout";
}

<form asp-action="CookieInfoEditPopup">
    <div class="section-header">
        <div class="title">
            @T("Admin.Configuration.Settings.CustomerUser.Privacy.Cookies.EditCookieInfo.Title")
        </div>
        <div class="options">
            <button type="submit" name="save" id="save" value="save" class="btn btn-warning">
                <i class="fa fa-check"></i>
                <span>@T("Admin.Common.Save")</span>
            </button>
        </div>
    </div>

    <partial name="_CreateOrUpdateCookieInfo" model="Model" />
</form>