@model PollVotingRecordModel

<datagrid id="voting-records-grid" allow-resize="true" allow-column-reordering="true">
    <datasource read="@Url.Action("PollVotesList", new { pollId = ViewData["PollId"] })" />
    <paging position="Bottom" page-index="1" show-size-chooser="true" />
    <sorting allow-unsort="true" allow-multisort="false">
        <sort by="CreatedOn" by-entity-member="CreatedOnUtc" descending="true" />
    </sorting>
    <columns>
        <column for="Username" hideable="false" width="2fr" sortable="false">
            <display-template>
                <div class="text-truncate"><a :href="item.row.CustomerEditUrl" class="text-truncate">{{ item.value }}</a></div>
            </display-template>
        </column>
        <column for="Email" entity-member="Customer.Email" />
        <column for="AnswerName" entity-member="PollAnswer.Name" />
        <column for="CreatedOn" entity-member="CreatedOnUtc" />
    </columns>
</datagrid>