@{
    ViewBag.Title = T("Admin.ContentManagement.Polls").Value;
    Assets.BodyAttributes.AppendCssClass("spa-layout");
}

<div class="section-header">
    <div class="title">
        <i class="fa fa-tasks"></i>
        @T("Admin.ContentManagement.Polls")
    </div>
    <div class="options">
        <zone name="admin_button_toolbar_before" />

        <zone name="admin_button_toolbar_after" />
    </div>
</div>

<partial name="_Grid.Polls" model="null" />
