@model int

<select asp-for="@Model"
        class="edit-control"
        data-editor="select"
        v-bind:data-select-selected-id="item.value"
        v-bind:data-select-init-text="item.row.ProductName"
        data-remote-url='@Url.Action("AllProducts", "Product")'>
        <option v-if="item.row.Id > 0" v-bind:value="item.value" v-bind:data-hint="item.row.Sku" selected="selected">{{ item.row.ProductName }}</option>
</select>