@using Smartstore.News.Blocks

@model NewsBlock

<div class="adminContent">
    <div class="adminRow">
        <div class="adminTitle">
            <smart-label asp-for="RenderHeading" />
        </div>
        <div class="adminData">
             <editor asp-for="RenderHeading" data-toggler-for=".news-heading" />
            <span asp-validation-for="RenderHeading"></span>
        </div>
    </div>
    <div class="news-heading">
        <div class="adminRow">
            <div class="adminTitle">
            </div>
            <div class="adminData text-muted">
                <span>@T("Plugins.SmartStore.PageBuilder.Blog.AltHeading.Hint")</span>
            </div>
        </div>
    </div>
    <div class="adminRow">
        <div class="adminTitle">
            <smart-label asp-for="DisableCommentCount" />
        </div>
        <div class="adminData">
            <editor asp-for="DisableCommentCount" />
            <span asp-validation-for="DisableCommentCount"></span>
        </div>
    </div>
    <div class="adminRow">
        <div class="adminTitle">
            <smart-label asp-for="MaxPostAmount" />
        </div>
        <div class="adminData">
            <editor asp-for="MaxPostAmount" />
            <span asp-validation-for="MaxPostAmount"></span>
        </div>
    </div>
    <div class="adminRow">
        <div class="adminTitle">
            <smart-label asp-for="MaxAgeInDays" />
        </div>
        <div class="adminData">
            <editor asp-for="MaxAgeInDays" sm-postfix="@T("Time.Days")" />
            <span asp-validation-for="MaxAgeInDays"></span>
        </div>
    </div>
</div>