/// <reference path="../lib/bs4/scss/_functions.scss" />
/// <reference path="../shared/_functions.scss" />
/// <reference path="../shared/_variables-shared-bootstrap.scss" />

//
// RFS
// --------------------------------------------------

$enable-rfs:                    false;


//
// SmartStore CI colors
// --------------------------------------------------

$sm-orange1:                    #ee9B00;
$sm-orange2:                    #e77c00;
$sm-green1:                     #009e74;
$sm-bluegreen:                  #2c8d8a;
$sm-red1:                       #ee1111;
$sm-red2:                       #dc3000;
$sm-red3:                       #db004f;
$sm-blue:                       #307abe;
$sm-blue2:                      #18509f;
$sm-violet:                     #55237d;
$sm-gray1:                      #dadada;
$sm-gray2:                      #bcbcbc;
$sm-gray3:                      #878787;
$sm-gray4:                      #4a4a49;


//
// Backend specific variables
// --------------------------------------------------

$content-padding-x:             30px;
$content-padding-y:             15px;


//
// Shared variables
// --------------------------------------------------

$alert-info-is-primary:         true;
$enable-lightbtn-tweak:         true;
$enable-social-buttons:         false;


//
// BS variables
// --------------------------------------------------

$gray-150:                      mix($gray-100, $gray-200);
$gray-650:                      mix($gray-600, $gray-700);

$grays:  ( 
    "150": $gray-150,
    "650": $gray-650
);

$body-secondary-color:          $gray-500;
$body-tertiary-color:           $gray-400;

$blue:                          $sm-blue;
$indigo:                        $sm-blue2;
$purple:                        $sm-violet;
$pink:                          #e91e63; // Pink 500
$red:                           $sm-red2;
$orange:                        $sm-orange1;
$yellow:                        #fdd835; // Yellow 600
$green:                         $sm-green1;
$teal:                          #009688; // Teal 500
$cyan:                          #00bcd4; // Cyan 500
$bluegrey:                      #78909c; // Bluegrey 500

$primary:                       $blue;
$secondary:                     lighten($gray-200, 2%);
$success:                       $green;
$info:                          $sm-bluegreen;
$warning:                       $orange;
$danger:                        $red;
$light:                         $gray-100;
$dark:                          #001f52;

$theme-colors:                  ( "gray": $gray-700, "primary-dark": $sm-blue2, "warning-dark": $sm-orange2 );

$body-color:                    $gray-800;
$link-color:                    desaturate(darken($primary, 12%), 0%);
$link-decoration:               none !default;
$link-hover-decoration:         underline !default;

$yiq-contrasted-threshold:      179;
$yiq-text-dark:                 $gray-800;
$color-contrast-dark:           $yiq-text-dark;
$color-contrast-light:          $yiq-text-light;


// Spacing

$spacer: 1rem;
$spacers: ( 
	6: ($spacer * 4.5)
);


// Fonts

$font-size-base:                0.875rem;
$font-size-lg:                  1rem;
$font-size-sm:                  0.8125rem;

$font-weight-base:              $font-weight-normal;
$headings-font-weight:          $font-weight-medium;

$line-height-base:              1.5715; // --> 22px
$line-height-sm:                1.429;  // --> 20px
$line-height-lg:                1.375;  // --> 22px

$h1-font-size:                  2.25rem;
$h2-font-size:                  1.75rem;
$h3-font-size:                  1.375rem;
$h4-font-size:                  1.25rem;
$h5-font-size:                  1.125rem;
$h6-font-size:                  1rem;

$small-font-size:               90%;

$badge-font-size:               (12 / 14) * 1em;
$badge-font-weight:             $font-weight-medium;
$badge-border-radius:           $border-radius-sm;


// Shadows
$box-shadow-sm:                 0 calc(2px * var(--shadow-yoffset, 1)) 16px -2px rgba(var(--shadow-colorbase-rgb), calc(var(--shadow-intensity) * 0.12)), 
                                0 calc(2px * var(--shadow-yoffset, 1)) 3px -2px rgba(var(--shadow-color-rgb), calc(var(--shadow-intensity) * 0.15));
$box-shadow:                    0 calc(6px * var(--shadow-yoffset, 1)) 24px -5px rgba(var(--shadow-colorbase-rgb), calc(var(--shadow-intensity) * 0.12)), 
                                0 calc(5px * var(--shadow-yoffset, 1)) 12px -5px rgba(var(--shadow-color-rgb), calc(var(--shadow-intensity) * 0.17));
$box-shadow-lg:                 0 calc(10px * var(--shadow-yoffset, 1)) 40px -4px rgba(var(--shadow-colorbase-rgb), calc(var(--shadow-intensity) * 0.14)), 
                                0 calc(12px * var(--shadow-yoffset, 1)) 28px -12px rgba(var(--shadow-color-rgb), calc(var(--shadow-intensity) * 0.2));
$box-shadow-xl:                 0 calc(17px * var(--shadow-yoffset, 1)) 70px -7px rgba(var(--shadow-colorbase-rgb), calc(var(--shadow-intensity) * 0.14)), 
                                0 calc(20px * var(--shadow-yoffset, 1)) 48px -12px rgba(var(--shadow-color-rgb), calc(var(--shadow-intensity) * 0.22));

// Tables

$table-cell-padding:            .75rem;
$table-cell-padding-sm:         .3rem;
$table-border-color:            $gray-300;
$table-head-bg:                 #f6f8fa;
$table-head-color:              $gray-700;
$table-accent-bg:               rgba(#000, .015);


// Buttons + Forms

$input-btn-font-size:           $font-size-base;
$input-btn-focus-color:         rgba($sm-blue2, .25);
$input-btn-font-size-sm:        $font-size-sm; // --> 14px
$input-btn-border-width:        $border-width;
$input-border-radius:           $border-radius;
$input-border-radius-lg:        $border-radius;
$input-border-radius-sm:        $border-radius;
$input-focus-border-color:      lighten($sm-blue2, 30%);
$input-group-addon-bg:		    $gray-100;
$input-border-color:            $gray-300;
$input-disabled-bg:             $gray-100;


// Buttons

$btn-font-weight:               $font-weight-medium;
$btn-focus-width:               $input-btn-focus-width;
$btn-box-shadow:                0 1px 0 rgba($gray-900, 0.04), inset 0 1px 0 rgba($white, 0.25);
$btn-focus-box-shadow:          inset 0 0 0 $btn-focus-width $white;
$btn-border-radius:             $input-border-radius;
$btn-border-radius-lg:          $input-border-radius-lg;
$btn-border-radius-sm:          $input-border-radius-sm;


$dropdown-padding-x:            .375rem;
$dropdown-padding-y:            .375rem;
//$dropdown-box-shadow:			$box-shadow-var; // 0 3px 12px rgba(27,31,35, 0.15); //0 2px 6px rgba(#000, .15);
//$dropdown-border-color:			rgba(#000, 0.05);
$dropdown-border-radius:        $border-radius;
$dropdown-border-color:         $gray-200;
$dropdown-header-color:         $body-secondary-color;
$dropdown-link-disabled-color:  $gray-500;
$dropdown-divider-margin-y:     $dropdown-padding-y;
$dropdown-box-shadow:           $box-shadow;

$dropdown-link-color:           $gray-700;
$dropdown-link-hover-color:     darken($dropdown-link-color, 5%);
$dropdown-link-hover-bg:        $gray-150;

$dropdown-link-active-color:    $dropdown-link-hover-color;
$dropdown-link-active-bg:       $gray-200;

$dropdown-item-padding-y:       0.375rem;
$dropdown-item-padding-x:       0.75rem;

$popover-font-size:             $font-size-base;
$popover-box-shadow:            $dropdown-box-shadow;
$popover-border-color:          $dropdown-border-color;

$alert-padding-y:               1rem;
$alert-link-font-weight:        $font-weight-medium;
//$alert-border-radius:			0;

//$nav-link-font-weight:          $font-weight-medium;    
$nav-tabs-border-color:         $gray-300;
$nav-tabs-link-active-color:    $gray-900;

$nav-pills-link-active-bg:      $primary;

$component-active-bg:           lighten($primary, 36%);
$component-active-color:        inherit;


$modal-content-box-shadow-xs:   $box-shadow;
$modal-content-box-shadow-sm-up:$box-shadow-lg;
$modal-content-border-radius:   $border-radius-lg;


// Custom Range

$custom-range-track-height:         0.315rem;
$custom-range-track-bg:             rgba($black, 0.12);
$custom-range-track-border-radius:  0;
$custom-range-track-box-shadow:     none;

$custom-range-thumb-width:                  0.925rem;
$custom-range-thumb-bg:                     $primary;
$custom-range-thumb-box-shadow:             0 1px .25rem rgba($primary, .2);
$custom-range-thumb-focus-box-shadow:       0 0 0 1px $body-bg, 0 0 0 3px $input-btn-focus-color;
$custom-range-thumb-focus-box-shadow-width: 1px; // For focus box shadow issue in IE/Edge
$custom-range-thumb-active-bg:              lighten($primary, 20%);


// Dashboard

$chart-color-danger:            lighten($danger, 40%);
$chart-color-danger-dark:       lighten($danger, 15%);
$chart-color-danger-light:      lighten($danger, 55%);
$chart-color-warning:           lighten($warning, 25%);
$chart-color-warning-dark:      lighten($warning, 10%);
$chart-color-warning-light:     lighten($warning, 40%);
$chart-color-success:           lighten($success, 50%);
$chart-color-success-dark:      lighten($success, 10%);
$chart-color-success-light:     lighten($success, 65%);
$chart-color-primary:           lighten($primary, 35%);
$chart-color-primary-dark:      lighten($primary, 15%);
$chart-color-primary-light:     lighten($primary, 50%);


// Misc

$card-border-color:             rgba($black, 0.1);