@using Smartstore.Web.Models.Identity;

@model ProfileIndexModel

@{
    Layout = "_Layout";
    Assets.AppendTitleParts(T("PageTitle.Profile"));
}

<div class="page profile-page">
    <div class="page-title">
        <h1 class="h2">@T("Profile.ProfileOf", Model.CustomerName)</h1>
    </div>
    <div class="page-body">
        <tabstrip id="profile-tabs" class="profile-tabs" sm-nav-style="Material" sm-smart-tab-selection="false">
            <tab sm-title="@T("Profile.PersonalInfo")" sm-selected="true">
                <partial name="Info" model="Model.ProfileInfo" />
            </tab>
        </tabstrip>
    </div>
</div>
