@using Microsoft.AspNetCore.Identity
@using Smartstore.Core.Identity
@using Smartstore.Web.Models.Identity

@model RegisterModel

@{
    Assets.AppendTitleParts(T("PageTitle.Register"));
    var returnUrl = Context.Request.Query["returnUrl"];
}

<h1>@T("Account.Register")</h1>

<form asp-route="Register" asp-route-returnurl="@returnUrl" method="post" class="form-horizontal" role="form">
    <honeypot sm-enabled="true" />
    <input asp-for="UserNamesEnabled" type="hidden" />
    <h4>Create a new account.</h4>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
    </div>
    @if (Model.UserNamesEnabled)
    {
        <div class="form-group">
            <label asp-for="UserName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UserName" />
                <span asp-validation-for="UserName"></span>
            </div>
        </div>        
    }
    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
    </div>
    <div class="form-group row">
        <captcha sm-enabled="true" class="col-md-10 offset-md-2" />
	</div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Register</button>
        </div>
    </div>
</form>
