@using Smartstore.Web.Models.Catalog

@model ProductDetailsModel

<div class="form-group">
    <label asp-for="AddToCart.CustomerEnteredPrice"></label>
    @* TODO: (mh) (core) Check if generated ID and NAME are correct!! *@
    <input asp-for="AddToCart.CustomerEnteredPrice" value="@Convert.ToInt32(Math.Ceiling(Model.AddToCart.CustomerEnteredPrice))" type="text" />
</div>