@using Smartstore.Web.Models.Catalog

@model GroupedProductModel

<div id="associated-products">
    @if (Model.Configuration.Collapsable)
    {
        <div class="accordion pd-associated-products">
            @foreach (var product in Model.Products)
            {
                var id = $"associated-product{product.Id}";
                var viewData = CreateViewData(product, true);

                <div class="card update-container" data-url="@product.UpdateUrl">
                    <div class="card-header" data-partial="AssociatedHeader">
                        <partial name="Product.AssociatedProduct.Header" model="product" view-data="viewData" />
                    </div>
                    <div id="@id" class="collapse" data-parent="#associated-products">
                        <div class="card-body">
                            <partial name="Product.AssociatedProduct" model="product" view-data="viewData" />
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        @foreach (var product in Model.Products)
        {
            <hr />
            <partial name="Product.AssociatedProduct" model="product" view-data="CreateViewData(product)" />
        }
    }

    @if (Model.Products.TotalPages > 1)
    {
        <pagination sm-list-items="Model.Products" class="mt-2"
                    sm-alignment="Left"
                    sm-url="@Url.Action("AssociatedProducts", "Product", new { id = Model.Id })"
                    sm-target="#associated-products" />
    }
</div>

<script sm-target-zone="scripts" data-origin="associated-products">
    $(function () {
        const associatedProducts = $('#associated-products');

        associatedProducts.on('click', '.pd-associated-product-title', function (e) {
            if (!$(e.target).closest('.pd-interaction').length) {
                $($(this).data('target')).collapse('toggle');
            }
        }).on('shown.bs.collapse hide.bs.collapse', function (e) {
            associatedProducts.find('.collapse-chevron').removeClass('expanded');
            if (e.type === 'shown') {
                associatedProducts.find('.collapse.show').closest('.card').find('.collapse-chevron').addClass('expanded');
            }
        });
    });
</script>

@{
    ViewDataDictionary CreateViewData(ProductDetailsModel model, bool skipUpdateUrl = false)
    {
        var vd = new ViewDataDictionary(ViewData);
        vd.TemplateInfo.HtmlFieldPrefix = $"product_{model.Id}";
        vd["GroupedProductConfiguration"] = Model.Configuration;
        vd["SkipUpdateUrl"] = skipUpdateUrl;
        return vd;
    }
}