@using Smartstore.Web.Models.Catalog

@model ProductDetailsModel

<div class="pd-bundle-price alert alert-success m-b-0">
    @if (Model.Price.RegularPrice != null)
    {
        @Html.Raw(T("Products.Bundle.YouSave",
            $"<span class='pd-bundle-price-offer lrm'>{Model.Price.FinalPrice}</span>",
            $"<span class='pd-bundle-price-regular lrm'>{Model.Price.RegularPrice.Price}</span>"));
    }
    else
    {
        @Html.Raw(T("Products.Bundle.YouSaveWithoutDiscount", $"<span class='pd-bundle-price-offer'>{Model.Price.FinalPrice}</span>"));
    }
</div>
