@using Smartstore.Web.Models.Media;

@model MediaGalleryModel

<div id="pd-gallery-container-inner">
    <div id="pd-gallery" class="mb-3">
        <partial name="MediaGallery" model="Model" />
    </div>
</div>