@using Smartstore.Web.Models.Catalog;

@model IList<ProductDetailsModel.ProductVariantAttributeModel>

@{
    var attributes = Model.Where(x => x.ShouldBeRendered()).ToList();
}

<div class="pd-variants">
    @foreach (var attribute in attributes)
    {
        <partial name="ChoiceTemplates/Choice" model="attribute" />
    }
</div>