@model ByWeightListModel

<div class="form-group">
    <smart-label asp-for="SearchZip" sm-ignore-hint="true" />
    <editor asp-for="SearchZip" asp-template="SearchExpression" />
</div>
<div class="form-group">
    <smart-label asp-for="SearchCountryId" sm-ignore-hint="true" />
    <select asp-for="SearchCountryId" asp-items="ViewBag.Countries" asp-placeholder="@T("Common.Unspecified")"></select>
</div>
<div class="form-group">
    <smart-label asp-for="SearchShippingMethodId" sm-ignore-hint="true" />
    <select asp-for="SearchShippingMethodId" asp-items="ViewBag.AvailableShippingMethods" asp-placeholder="@T("Common.Unspecified")"></select>
</div>
<div sm-if="!(bool)ViewBag.IsSingleStoreMode" class="form-group">
    <smart-label asp-for="SearchStoreId" />
    <editor asp-for="SearchStoreId" />
</div>
