@**@

<div class="opt-form">
    <div class="media">
        <img src="@Url.Content("~/Modules/Smartstore.Paystack/logo.png")" alt="Paystack" />
        <div class="media-body">
            <p> Pay with Paystack</p>
        </div>
    </div>
</div>
