@using Smartstore.Admin.Models.UrlRecord

@model UrlRecordListModel

@{
    ViewBag.Title = T("Admin.System.SeNames").Value;
    Assets.BodyAttributes.AppendCssClass("spa-layout");

    var gridViewData = new ViewDataDictionary(ViewData);
    gridViewData["Parent"] = Model;
}

<div class="section-header">
    <div class="title">
        <i class="fa fa-search"></i>
        <span>@ViewBag.Title</span>
    </div>
</div>

<partial name="_Grid.UrlRecords" model="null" view-data="gridViewData" />
