@using Smartstore.Utilities
@using Smartstore.Web.Models.Customers

@model MyAccountHeaderModel

@{
    var customerSince = $"<time datetime=\"{Model.CustomerSince.ToIso8601String()}\">{Model.CustomerSince.ToString("MMM yyyy")}</time>";
}

<div class="myaccount-header row gx-2 gy-1">
    <div class="avatar-container col-auto d-flex align-self-center justify-content-center">
        <partial name="Customer.Avatar" model="Model.Avatar" />
    </div>
    <div class="col align-self-center text-truncate pr-4 pr-md-1">
        <div class="my-account-username fwm text-truncate">
            @Model.CustomerName
        </div>
        <div class="my-account-info small hstack flex-wrap justify-content-start justify-content-md-center justify-content-xl-start" style="row-gap: 3px; column-gap: 6px">
            <span class="text-muted">
                @Html.Raw(T("Account.CustomerSince", customerSince))
            </span>
            <span sm-if="Model.RewardPoints > 0" class="badge badge-pill badge-success pl-1">
                <i class="far fa-certificate" aria-hidden="true"></i>
                @T("ShoppingCart.Totals.RewardPoints", ConvertUtility.ToHtmlDisplayString(Model.RewardPoints))
            </span>
        </div>
    </div>
</div>