@using Smartstore.Web.Models.Cart;

@model ShoppingCartModel

<div class="comment-box card mb-3">
    <div class="card-header h5">
        @T("ShoppingCart.CommentBox")
    </div>
    <div class="card-body">
        <textarea asp-for="CustomerComment" placeholder="@T("Common.Optional")"></textarea>
    </div>
</div>
