@using Smartstore.Web.Models.Catalog;

@model ProductSummaryItemModel

@{
    var list = Model.Parent;
    string reviewTitle = string.Empty;
    string srText = string.Empty;
    int ratingPercent = 0;
    int rating = 0;

    if (Model.TotalReviews != 0)
    {
        ratingPercent = ((Model.RatingSum * 100) / Model.TotalReviews) / 5;
        rating = Model.RatingSum / Model.TotalReviews;
        reviewTitle = $"{Model.TotalReviews} {(Model.TotalReviews == 1 ? T("Reviews.Overview.Review") : T("Reviews.Overview.Reviews"))}";
        srText = T("Aria.Label.Rating", rating, reviewTitle);
    }
    else
    {
        reviewTitle = T("Reviews.Overview.NoReviews");
        srText = reviewTitle;
    }
}

<p class="sr-only">@srText</p>

<div class="art-rating" title="@reviewTitle" aria-hidden="true">
    <div class="rating">
        <div style="width: @(ratingPercent)%"></div>
    </div>
</div>