@{
    ViewBag.Title = T("Admin.ContentManagement.Blog.Comments").Value;
    Assets.BodyAttributes.AppendCssClass("spa-layout");
}

<div class="section-header">
    <div class="title">
        <i class="fa fa-comments"></i>
        @T("Admin.ContentManagement.Blog.Comments")
    </div>
    <div class="options">
    </div>
</div>

@Html.AntiForgeryToken()

<partial name="_Grid.BlogComments" model="null" />