@model BlogListModel

@{
    ViewBag.Title = T("Admin.ContentManagement.Blog.BlogPosts").Value;

    Assets.BodyAttributes.AppendCssClass("spa-layout");

    var gridViewData = new ViewDataDictionary(ViewData);
    gridViewData["Parent"] = Model;
}

<div class="section-header">
    <div class="title">
        <i class="fa fa-blog"></i>
        @T("Admin.ContentManagement.Blog.BlogPosts")
    </div>
    <div class="options">
        <zone name="admin_button_toolbar_before" />

        <zone name="admin_button_toolbar_after" />
    </div>
</div>

<partial name="_Grid.BlogPosts" model="null" view-data="gridViewData" />