@model PublicForumTopicPageModel

<div class="topic-options row sm-gutters my-2">
	<div class="col col-sm-auto">
		<a asp-action="PostCreate" asp-route-id="@Model.Id" class="btn btn-primary">
			<i class="fa fa-share"></i>
			<span>@T("Forum.Reply")</span>
		</a>
	</div>
    <div sm-if="Model.CanSubscribe" class="col col-sm-auto">
        <form id="watch-topic-form" sm-ajax="true" method="post" asp-action="TopicWatch" asp-controller="Boards" sm-oncomplete="onWatchTopicCompleted">
            <input type="hidden" asp-for="Id" />

            <button type="submit" id="watch-topic" class="btn btn-outline-primary btn-block watch-topic-link-button">
                <i class="fa fa-bookmark"></i>
                <span class="watch-topic-text">@T(Model.IsSubscribed ? "Forum.UnwatchTopic" : "Forum.WatchTopic")</span>
            </button>
        </form>
    </div>
    <div sm-if="Model.ForumPosts.TotalPages > 1" class="col text-right">
        <pagination sm-list-items="Model.ForumPosts" sm-alignment="Right" />
    </div>
</div>
