@model ActiveDiscussionsModel

@{
    Assets.AppendTitleParts(T("Forum.PageTitle.ActiveDiscussions"));
}

<div class="page active-discussions-page">
    <div class="mt-2 w-75">
        @await Component.InvokeAsync("ForumSearchBox")
    </div>

    @await Component.InvokeAsync("ActiveDiscussions", new 
    {
        isActiveDiscussionsPage = true, 
        forumId = ViewBag.ForumId as int?,
        pageIndex = ViewBag.PageIndex as int?
    })
</div>
