@model PublicForumTopicPageModel

@{
    Assets.AppendTitleParts(Model.Subject);
    Assets.AppendMetaDescriptionParts(Model.Subject);
}

<div class="page forum-topic">
    <div class="mt-2 mb-4 w-75">
        @await Component.InvokeAsync("ForumSearchBox")
    </div>
    <div class="title">
        <h1 class="fs-h2 mb-3">@Model.Subject</h1>
    </div>

    <partial name="_PostListToolbar" model="Model" />

    <div class="posts">
        @foreach (var post in Model.ForumPosts)
        {
            <partial name="_ForumPost" model="post" />
        }
    </div>
    @* Only display toolbar on bottom if there's some content to scroll  *@
    @if (Model.ForumPosts.Count > 1)
    {
        <partial name="_PostListToolbar" model="Model" />
    }
</div>

<script sm-target-zone="scripts" data-origin="forum-topic">
    $(function () {
		// Post voting.
		$('.post-vote').on('click', function () {
            var self = $(this);
            var post = self.closest('.forum-post');

            $.ajax({
                type: 'POST',
                url: '@Url.Action("PostVote", "Boards")',
                data: { "id": post.data('id'), "vote": self.attr('value') },
                cache: false,
                success: function (resp) {
                    if (resp.success) {
                        self.closest('div').find(self.hasClass('post-vote-up') ? '.post-vote-down' : '.post-vote-up').show();
                        self.hide();

                        // Update counter.
                        if (resp.voteCount > 0) {
                            post.find('.votes').show().find('.vote-count').text(resp.voteCountString);
                        }
                        else {
                            post.find('.votes').text(resp.voteCountString).hide();
                        }
                    }

                    displayNotification(resp.message, resp.success ? 'success' : 'error');
                }
            });
        });

        // Delete topic
        $('#delete-topic').on('click', function(e) {
            e.preventDefault();

            $(this).postData({
                ask: @(T("Admin.Common.DeleteConfirmation").JsValue),
                iconType: "delete"
            });

            return false;
        });
    });

    function onWatchTopicCompleted(data) {
        var response = data.responseJSON;
        var btn = $('#watch-topic');
        btn.toggleClass('btn-outline-warning', !response.Subscribed);
        btn.find('.watch-topic-text').html(response.Text);
    }
</script>
