@model NewsCommentModel

<datagrid id="comments-grid"
          allow-resize="true"
          allow-column-reordering="true"
          allow-row-selection="true">
    <datasource read="@Url.Action("Comments", "News", new { newsItemId = ViewData["NewsItemId"] })"
                delete="@Url.Action("DeleteCommentSelection")" />
    <paging position="Bottom" page-index="1" show-size-chooser="true" />
    <sorting allow-unsort="true" allow-multisort="false">
        <sort by="CreatedOn" by-entity-member="CreatedOnUtc" />
    </sorting>
    <toolbar>
        <toolbar-group class="omega">
            <button datagrid-action="DataGridToolAction.DeleteSelectedRows" type="button" class="btn btn-danger no-anims btn-flat">
                <i class="far fa-trash-alt"></i>
                <span>@T("Admin.Common.Delete.Selected")</span>
            </button>
        </toolbar-group>
    </toolbar>
    <columns>
        <column for="Id" halign="center" visible="false" />
        <column for="NewsItemTitle" hideable="false">
            <display-template>
                <div class="text-truncate"><a :href="item.row.EditNewsItemUrl" class="text-truncate">{{ item.value }}</a></div>
            </display-template>
        </column>
        <column for="CustomerName">
            <display-template>
                <div class="text-truncate"><a :href="item.row.EditCustomerUrl" class="text-truncate">{{ item.value }}</a></div>
            </display-template>
        </column>
        <column for="CommentTitle" width="1fr" wrap="true" />
        <column for="CommentText" width="2fr" wrap="true" />
        <column for="IpAddress" halign="center" />
        <column for="CreatedOn" entity-member="CreatedOnUtc" />
    </columns>
    <row-commands>
        <a datarow-action="DataRowAction.Delete">@T("Common.Delete")</a>
    </row-commands>
</datagrid>