@model NewsListModel

@{
    ViewBag.Title = T("Admin.ContentManagement.News.NewsItems").Value;

    Assets.BodyAttributes.AppendCssClass("spa-layout");

    var gridViewData = new ViewDataDictionary(ViewData);
    gridViewData["Parent"] = Model;
}

<div class="section-header">
    <div class="title">
        <i class="far fa-newspaper"></i>
        @T("Admin.ContentManagement.News.NewsItems")
    </div>
    <div class="options">
        <zone name="admin_button_toolbar_before" />

        <zone name="admin_button_toolbar_after" />
    </div>
</div>

<partial name="_Grid.NewsItems" model="null" view-data="gridViewData" />
