@model int

<a asp-action="Send" asp-controller="PrivateMessages" asp-route-id="@Model" class="btn btn btn-outline-info btn-flat button-pm mt-2" rel="nofollow">
    <i class="fa fa-user"></i>
    <span>@T("Forum.PrivateMessages.PM")</span>
</a>