@{
    ViewBag.Title = T("Admin.Common.Stores").Value;

    Assets.BodyAttributes.AppendCssClass("spa-layout");
}

<div class="section-header">
    <div class="title">
        <i class="fa fa-globe"></i>
        <span>@ViewBag.Title</span>
    </div>
</div>

<partial name="_Grid.Stores" model="null" />