@{
    ViewBag.Title = T("Admin.Common.Stores").Value;
}

<div class="section-header">
    <div class="title">
        <i class="fa fa-shopping-cart"></i>
        @T("Admin.Common.Stores")
    </div>
</div>

<partial name="_Grid.Stores" model="null" />