@{
    if (!TempData.TryGetValue("UnauthorizedMessage", out var message))
    {
        message = T("Admin.AccessDenied.Description").Value;
    }

    ViewBag.Title = T("Admin.AccessDenied.Title").Value;
}

<div class="section-header">
    <div class="title">
        <i class="fa-fw fa fa-lock"></i>
        @T("Admin.AccessDenied.Title")
    </div>
</div>

<div class="alert alert-danger">
    @Html.Raw(message)
</div>
