@model CustomerModel.OrderModel

<datagrid id="order-grid" allow-resize="true" max-height="800px">
    <datasource read="@Url.Action("OrderList", new { customerId = ViewData["CustomerId"] })" />
    <paging position="Both" />
    <sorting enabled="true">
        <sort by="CreatedOn" by-entity-member="CreatedOnUtc" descending="true"></sort>
    </sorting>
    <columns>
        <column for="Id" hideable="false" type="string">
            <display-template>
                <a :href="item.row.EditUrl" class="text-truncate">
                    {{ item.value }}
                </a>
            </display-template>
        </column>
        <column for="OrderStatus" entity-member="OrderStatusId" />
        <column for="PaymentStatus" entity-member="PaymentStatusId" />
        <column for="ShippingStatus" entity-member="ShippingStatusId" />
        @if (!(bool)ViewBag.IsSingleStoreMode)
        {
            <column for="StoreName" sortable="false" />
        }
        <column for="CreatedOn" entity-member="CreatedOnUtc" />
        <column for="OrderTotal" halign="right" />
    </columns>
</datagrid>