@model CustomerModel.OrderModel

<datagrid id="order-grid" allow-resize="true">
    <datasource read="@Url.Action("OrderList", new { customerId = ViewData["CustomerId"] })" />
    <paging position="Both" />
    <sorting enabled="true">
        <sort by="CreatedOn" by-entity-member="CreatedOnUtc" descending="true"></sort>
    </sorting>
    <columns>
        <column for="Id" hideable="false">
            <display-template>
                <a :href="item.row.EditUrl" class="text-truncate">
                    {{ item.value }}
                </a>
            </display-template>
        </column>
        <column for="OrderStatus" sortable="false" />
        <column for="PaymentStatus" sortable="false" />
        <column for="ShippingStatus" sortable="false" />
        <column for="StoreName" sortable="false" />
        <column for="CreatedOn" entity-member="CreatedOnUtc" />
        <column for="OrderTotal" halign="right" sortable="false" />
    </columns>
</datagrid>