@model NewsItemListModel

@{
    Layout = "";
}

<div sm-if="Model.RenderHeading">
    @await Component.InvokeAsync("NewsSummaryHeading", new { model = Model })
</div>
<div class="news-items row">
    @await Component.InvokeAsync("NewsSummaryList", new { model = Model })
</div>