@using Smartstore.Web.Models.Cart

@model OrderTotalsModel

<div class="cart-bottom-total">
    <zone name="order_totals_before" />

    <span class="item fs-h5 fwm">@T("ShoppingCart.Totals.OrderTotal"):</span>
    @if (Model.OrderTotal != null)
    {
        <span class="item fs-h5 fwm">@Model.OrderTotal</span>
    }
    else
    {
        <span class="item fs-h6 text-muted">@T("ShoppingCart.Totals.CalculatedDuringCheckout")</span>
    }
    @*TODO: (mg) add EasyCredit interest and total incl. interest via new zone "order_totals_after".*@
    <zone name="order_totals_after" />
</div>