@using Smartstore.Web.Models.Cart

@model OrderTotalsModel

<table class="cart-summary">
    <tr class="cart-summary-total">
        <td class="cart-summary-label pt-0">@T("ShoppingCart.Totals.OrderTotal"):</td>
        <td class="cart-summary-value pt-0">
            @if (Model.OrderTotal != null)
            {
                <span>@Model.OrderTotal</span>
            }
            else
            {
                <span class="text-muted fs-h6 font-weight-normal text-wrap">@T("ShoppingCart.Totals.CalculatedDuringCheckout")</span>
            }
        </td>
    </tr>
</table>
