@model ProductModel

@if (Model.Id == 0)
{
    <div class="alert alert-danger">
        @T("Admin.Catalog.Products.Manufacturers.SaveBeforeEdit")
    </div>
    return;
}

@if (Model.NumberOfAvailableManufacturers > 0)
{
    var gridViewData = new ViewDataDictionary(this.ViewData);
    gridViewData["Parent"] = Model;

    <partial name="Grids/_Grid.Manufacturers" model="null" view-data="gridViewData" />
}
else
{
    <div class="alert alert-danger">
        @T("Admin.Catalog.Products.Manufacturers.NoManufacturersAvailable")
    </div>
}