@model ProductModel

@{ 
    var displayProductPictures = GetMetadata<bool>("DisplayProductPictures");
    var isSingleStoreMode = GetMetadata<bool>("IsSingleStoreMode");
    var gridPageSize = GetMetadata<int>("GridPageSize");
}

<datagrid id="products-grid" border-style="VerticalBorders" striped="true" hover="true" allow-resize="true" allow-row-selection="true">
    <datasource read="@Url.Action("ProductList")" />
    <paging position="Bottom" page-size="@gridPageSize" page-index="1" show-size-chooser="true" />
    <sorting allow-unsort="true" allow-multisort="false"></sorting>
    <columns>
        @if (displayProductPictures)
        {
            <column for="PictureThumbnailUrl"
                    title=""
                    width="48px"
                    sortable="false"
                    visible="true"
                    resizable="false">
                <display-template>
                    <!-- TODO: (core) zoomable-thumb won't work in our new data grid. Fix it. -->
                    <div class="x-zoomable-thumb-container d-flex align-items-center justify-content-center" style="position: absolute; width: 100%; height: 100%; padding: 8px; left: 0; top: 0;">
                        <img :alt="cell.row.Id" :src="cell.value" style="max-width: 42px; max-height: 32px" :class="{ 'x-zoomable-thumb': !cell.row.NoThumb }" />
                    </div>
                </display-template>
            </column>
        }
        @*<column for="AdminComment" width="200px">
            <display-template>
                <input type="text" class="form-control form-control" />
            </display-template>
        </column>*@
        <column for="Name" width="max-content">
            <display-template>
                <span class="mr-1 badge" v-bind:class="'badge-' + cell.row.ProductTypeLabelHint">{{ cell.row.ProductTypeName }}</span>
                <a :href="cell.row.EditUrl" class="text-truncate">
                    {{ cell.value }}
                </a>
            </display-template>
        </column>
        <column for="Sku" width="max-content" />
        <column for="Price" width="max-content"
                halign="flex-end" />
        <column for="StockQuantity" sortable="true" icon="fa fa-sort-amount-up" width="max-content"
                halign="center">
            @*<display-template>
                {{ formatNumber(cell.value) }}
            </display-template>*@
        </column>
        <column for="LimitedToStores" width="max-content"
                visible="!isSingleStoreMode"
                halign="center" />
        <column for="CreatedOn" entity-member="CreatedOnUtc" width="max-content" />
        <column for="UpdatedOn" entity-member="UpdatedOnUtc" width="max-content" />
        <column for="Published" width="max-content"
                halign="center" />
    </columns>
</datagrid>

<script sm-target-zone="scripts" data-origin="products-grid">
    $(function () {
        $("#products-grid").thumbZoomer();
    });
</script>