@model ProductModel

<datagrid id="products-grid" border-style="Grid">
    <datasource read="@Url.Action("ProductList")" />
    <pageable />
    <columns>
        <column for="PictureThumbnailUrl" width="max-content">
            <display-template>
                <div class="zoomable-thumb-container">
                    <img :alt="cell.row.Id" :src="cell.value" :class="{ 'zoomable-thumb': !cell.row.NoThumb }" />
                </div>
            </display-template>
        </column>
        <column for="Name" 
                width="max-content" />
        <column for="Sku" 
                width="max-content" />
        <column for="Price" 
                width="max-content" 
                justify="FlexJustifyContent.FlexEnd" />
        <column for="StockQuantity" 
                width="max-content" 
                justify="FlexJustifyContent.Center">
            @*<display-template>
                {{ formatNumber(cell.value) }}
            </display-template>*@
        </column>
        <column for="LimitedToStores" 
                justify="FlexJustifyContent.Center" />
        <column for="CreatedOn" />
        <column for="UpdatedOn" />
        <column for="Published" 
                justify="FlexJustifyContent.Center" />
    </columns>
</datagrid>

<script sm-target-zone="scripts" data-origin="products-grid">
    $(function () {
        $("#products-grid").thumbZoomer();
    });
</script>