@model ProductListModel

@{
    var allString = T("Admin.Common.All").Value;
    ViewBag.Title = T("Admin.Catalog.Products.Manage").Value;

    Assets.BodyAttributes.AppendCssClass("spa-layout");
}

<form method="post" asp-action="List">
    <div class="section-header">
        <div class="title">
            <i class="fa fa-cube"></i>
            @T("Admin.Catalog.Products.Manage")
        </div>
        <div class="options">
            <zone name="admin_button_toolbar_before" />

            <div class="input-group d-inline-flex" style="width: 350px">
                <input asp-for="GoDirectlyToSku" placeholder="@T("Admin.Catalog.Products.List.GoDirectlyToSku")" />
                <div class="input-group-append">
                    <button type="submit" class="btn btn-secondary" id="go-to-product-by-sku" name="go-to-product-by-sku" value="go-to-product-by-sku" title="@T("Admin.Catalog.Products.List.GoDirectlyToSku.Hint")">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>

            <zone name="admin_button_toolbar_after" />
        </div>
    </div>
</form>

@{
    var gridViewData = new ViewDataDictionary(this.ViewData);
    gridViewData["Parent"] = Model;
}

<partial name="Grids/_Grid.Products" model="null" view-data="gridViewData" />
