@{
    Assets.BodyAttributes.AppendCssClass("spa-layout");
    ViewBag.Title = T("Admin.Catalog.ProductTags").Value;

    var gridViewData = new ViewDataDictionary(this.ViewData);
    gridViewData["Parent"] = Model;
}

<form asp-action="ProductTags" id="product-tags-form">
    <div class="section-header">
        <div class="title">
            <i class="fa fa-tags"></i>
            <span>@ViewBag.Title</span>
        </div>
    </div>
</form>

<partial name="Grids/_Grid.ProductTags" model="null" view-data="gridViewData" />