@model ProductListModel

@{
    ViewBag.Title = T("Common.RecycleBin").Value;
    Assets.BodyAttributes.AppendCssClass("spa-layout");

    var gridViewData = new ViewDataDictionary(this.ViewData);
    gridViewData["Parent"] = Model;
}

<div class="section-header">
    <div class="title">
        <i class="far fa-trash-can"></i>
        <span>@ViewBag.Title</span>
    </div>
    <div class="options">
        <zone name="admin_button_toolbar_before" />
        <zone name="admin_button_toolbar_after" />
    </div>
</div>

<div class="alert alert-info">
    @Html.Raw(T("Admin.Catalog.Products.RecycleBin.AdminNote"))
</div>

<partial name="Grids/_Grid.DeletedProducts" model="null" view-data="gridViewData" />