<div class="border-top text-center pt-3 mt-2"
     data-pp-message
     data-pp-style-text-align="center"
     data-pp-placement="product"
     data-pp-style-text-size="13"
     data-pp-amount="@ViewBag.Price">
</div>  