/// <reference path="../../../Smartstore.Web/Themes/Flex/wwwroot/theme.scss" />

.forum-link {
    color: $body-color;
}

.forum-list {
    .forum-info,
    .topic-info {
        width: 54%;
        max-width: 54%;
    }

    .forum-numtopics,
    .forum-numposts,
    .topic-replies,
    .topic-views {
        width: 8%;
        max-width: 8%;
    }

    .forum-lastpost,
    .topic-lastpost {
        width: 30%;
        max-width: 30%;
    }

    .disabled {
        opacity: .5;
    }

    .topics-pager {
        padding: 4px 0;
    }
}

.forum-quote-from {
    font-weight: bold;
    color: inherit;
    display: inline-block;
    margin-bottom: 5px;
}

.forum-quote {
    margin-bottom: 0;
}
.post-vote-up:hover {
    color: $green;
}
.post-vote-down:hover {
    color: $red;
}
.post-info,
.post-info .avatar-letter {
    background: $gray-100 !important;
}
.page.forum,
.page.forum-topic {
    .username {
        font-weight: 600;
    }
}

.last-post .post-summary.no-topic {
    .createdon {
        display: block;
    }
    .seperator {
        display: none;
    }
}

@include media-breakpoint-down(md) {
    .topic-options, .forum-options {
        .pagination {
            justify-content: start !important;
        }
    }
}

// Forum Search
// -----------------------------------------
.forum-search-status {
    list-style: none;
    padding: 12px 0;
}
