/// <reference path="../../../Smartstore.Web/Themes/Flex/wwwroot/theme.scss" />

.forum-link {
    color: $body-color;
}

.forum-list {
    .forum-info,
    .topic-info {
        width: 54%;
        max-width: 54%;
    }

    .forum-numtopics,
    .forum-numposts,
    .topic-replies,
    .topic-views {
        width: 8%;
        max-width: 8%;
    }

    .forum-lastpost,
    .topic-lastpost {
        width: 30%;
        max-width: 30%;
    }

    .disabled {
        opacity: .5;
    }
}

.forum-quote-from {
    font-weight: bold;
    color: inherit;
    display: inline-block;
    margin-bottom: 5px;
}

.forum-quote {
    margin-bottom: 0;
}

// Forum Search
// -----------------------------------------

.forum-search-box {
    font-size: .9em;
    text-align: right;
    padding: 15px 0 0 0;
}

.basic-search,
#advanced-search-block label {
    padding-right: 10px;

    @include media-breakpoint-up(sm) {
        text-align: right;
    }
}


// RTL
// -----------------------------------------
// TODO: (mg) (core) test and fix RTL in forum.

[dir=rtl] {
    .forum-topic {
        .block .block-title {
            a {
                padding-left: 0.75rem;
                padding-right: initial;
            }

            i {
                padding-left: 0.25rem;
                padding-right: initial;
            }
        }
    }

    .forum-search-box {
        text-align: left;
    }

    .basic-search,
    #advanced-search-block label {
        padding-left: 10px;
        padding-right: 0;

        @include media-breakpoint-up(sm) {
            text-align: left;
        }
    }
}