@using Smartstore.Web.Models.Identity;

@model List<ExternalAuthenticationMethodModel>

@{
    //TODO: (mh) (core) Remove component once auth modules are available, which can render directly into the zone via PublicInfo methods or something similiar.

    if (Model.Count == 0)
    {
        return;
    }
}

<div class="form-group external-auth-buttons">
    <div class="text-center text-uppercase mb-3">
        - @T("Common.Or") -
    </div>

    <div class="row flex-wrap justify-content-center xs-gutters">
        @foreach (var eam in Model)
        {
            <div class="col-auto">
                <a asp-action="ExternalLogin" asp-controller="Identity" asp-route-provider="@eam.ProviderName" asp-route-returnUrl="@Context.Request.Query["returnUrl"].ToString()">
                    @eam.DisplayName
                </a>
            </div>
        }
    </div>
</div>