@model ExportPreviewProductModel

@{
	var parentModel = ViewData["Parent"] as ExportPreviewModel;
}

<datagrid id="products-preview-grid" 
		allow-resize="true" 
		allow-column-reordering="true" 
		allow-row-selection="true" 
		preserve-grid-state="true">
	<datasource read="@Url.Action("PreviewList", new { id = parentModel.Id })" />
	<paging position="Bottom" show-size-chooser="true" />
	<toolbar>
        <toolbar-group class="border-right-0 mr-0 pr-0">
            <button type="button" id="ExportSelected" class="btn btn-light btn-flat" v-bind:class="{ disabled: !grid.hasSelection }">
				<i class="far fa-upload"></i>
				<span>@T("Admin.Common.ExportSelected")</span>
            </button>
            <button type="button" id="ExportAll" class="btn btn-light btn-flat">
				<i class="far fa-upload"></i>
				<span>@T("Admin.Common.ExportAll")</span>
            </button>
        </toolbar-group>
	</toolbar>
	<columns>
        <column for="Id" halign="center" />
		<column for="Name" width="3fr">
            <display-template>
                @Html.LabeledProductName()
            </display-template>
		</column>
		<column for="Sku" />
		<column for="Price" halign="flex-end" format="{0:N2}" />
		<column for="StockQuantity" halign="center" />
		<column for="Published" halign="center" />
		<column for="AdminComment" />
	</columns>
</datagrid>
